@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 768px) {

}

@media (max-width: 480px) {
    .tab-content #admin-users{
        border: none;
    }
    .delivery-time-form .delivery-name{
        padding-right: 15px;
    }
    .delivery-time-form table tr td{
        padding-bottom: 20px;
    }
    .restaurant-wide-row{
        margin-bottom: 15px;
    }
    .promo-tablee{
        border: none;
    }
    .master-sidebar{
        margin-top: 0 !important;
    }
    .delivery-settings-section .delivery-time-form .form-control{
        margin-right: 10px;
    }
    .discount-form .form-control{
        margin-bottom: 20px;
    }
    .discount-promo-form .setting-wide-row{
        margin-bottom: 20px;
    }
    .subscription-box{
        margin-bottom: 20px;
    }
    .btn-decline{
        width: 100% !important;
    }
    .btn-accept{
        width: 100% !important;
    }
    .stats-sub-nav{
        padding: 0 0px !important;
    }
    .single-project-nav .nav-tabs{
        margin-left: 0 !important;
    }
    .single-project-nav .nav-tabs > li > a{
        padding: 10px 0px;
    }
    .single-project-nav .sort-by{
        margin-left: 0px !important;
    }
    .single-project-nav .sort-by select.form-control{
        width: 205px !important;
    }
    .single-project-nav .form-control{
        width: 100% !important;
    }
    .desktop-navbar{
       display: none !important; 
    }
    .mobile-navbar{
        display: block !important;
        background-color: #333333;
        margin: 0px -15px;
    }
    .navbar-brand > img{
        width: 150px;
        margin-top: 0 !important;
    }
    .navbar-toggle {
        margin-top: -26px;
    }
    .mas-head{
        font-size: 13px !important;
    }
    .navbar-inverse .navbar-toggle .icon-bar{
        background-color: #000;
    }

    .single-project-nav .nav-tabs > li {
        float: none !important;
    }

    .single-project-nav .form-control {
        margin-bottom: 20px;
        margin-left: 0;
    }

    .modal-content {
        width: 100% !important;
    }

    .btn-decline {
        margin-bottom: 20px;
    }

    .master-dashboard-section h2 {
        margin-top: 30px;
    }

    .resturant-profile-nav {
        height: auto !important;
    }

    .resturant-profile-nav .nav-tabs > li {
        float: none !important;
    }

    .restaurant-profile-form form .form-control {
        width: 100% !important;
    }

    .restaurant-profile-section .material-switch {
        margin-top: 0 !important;
        margin-right: 0 !important;
    }

    .restaurant-profile-form {
        margin-right: 0 !important;
    }

    .restaurant-menu-section select {
        width: 100% !important;
    }

    .frame {
        width: 100% !important;
        height: 100% !important;
    }

    .post-code-form .form-control {
        width: 100% !important;
    }

    .btn-add-post {
        margin-top: 20px;
        width: 100% !important;
    }

    .delivery-time-form .delivery-name {
        line-height: normal !important;
    }

    .col-md-15 {
        width: 100% !important;
    }

    .payment-methods-section form img {
        max-width: unset !important;
        max-height: unset !important;
        min-width: unset !important;
        min-height: unset !important;
    }

    .payment-row .material-switch {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .single-project-nav .navbar-right {
        margin-top: 0 !important;
    }

    .delivery-time-form label {
        margin-left: 35px !important;
        margin-top: -25px !important;
    }

    .discount-form .form-control {
        width: 100% !important;
    }

    .signin-form .form-control {
        width: 100% !important;
    }

    .btn-signin {
        width: 100% !important;
    }

    .banner-text {
        width: 100% !important;
    }
}

@media (min-width: 481px) and  (max-width: 991px) {
    .single-project-nav .form-control {
        width: 160px !important;
    }

    .resturant-profile-nav {
        height: auto !important;
    }

    .restaurant-profile-section .material-switch {
        margin-top: 0 !important;
        margin-right: 0 !important;
    }

    .restaurant-profile-form form .form-control {
        width: 100% !important;
    }

    .delivery-time-form .delivery-name {
        line-height: normal !important;
    }

    .delivery-time-form label {
        margin-left: 35px !important;
        margin-top: -25px !important;
    }

    .discount-form .form-control {
        width: 100% !important;
    }

    .modal-content {
        width: 100% !important;
    }

    .btn-decline {
        margin-bottom: 20px;
    }

    .signin-form .form-control {
        width: 100% !important;
    }

    .btn-signin {
        width: 100% !important;
    }

    .banner-text {
        width: 100% !important;
    }
}

/* ----------- iPad ----------- */

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    .left-label{
        text-align: center;
    }
    .right-label{
        text-align: center;
    }
    .btn-decline, .btn-accept{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .restaurant-hours-row .material-switch{
        margin-top: 40px !important;
    }
    .restaurant-profile-form{
        margin-right: 0 !important;
    }
    .subscription-box{
        margin-bottom: 20px !important;
    }
    .delivery-settings-section .delivery-time-form .form-control{
        margin-right: 10px;
    }
    .single-project-nav .sort-by{
        float: left !important;
        margin-left: 0 !important;
    }
    .delivery-time-form .delivery-name{
        padding-right: 15px;
    }
    .single-project-nav .sort-by select.form-control{
        margin-right: 15px  !important;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    .admin-panel h2{
        font-size: 20px;
    }
    .post-code-form .form-control{
        width: 100% !important;
    }
    .btn-edit-subscription{
        width: 100% !important;
    }
    .master-sidebar .nav-tabs > li > a{
        font-size: 16px !important;
    }
    .restaurant-profile-section .material-switch{
        margin-right: -200px;
    }

}