@font-face {
    font-family: 'Nexa-Light';
    src: url('../fonts/Nexa-Light.eot');
    src: url('../fonts/Nexa-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-Light.woff2') format('woff2'),
    url('../fonts/Nexa-Light.woff') format('woff'),
    url('../fonts/Nexa-Light.ttf') format('truetype'),
    url('../fonts/Nexa-Light.svg#Nexa-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa-Black';
    src: url('../fonts/Nexa-Black.eot');
    src: url('../fonts/Nexa-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-Black.woff2') format('woff2'),
    url('../fonts/Nexa-Black.woff') format('woff'),
    url('../fonts/Nexa-Black.ttf') format('truetype'),
    url('../fonts/Nexa-Black.svg#Nexa-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa-HeavyItalic';
    src: url('../fonts/Nexa-HeavyItalic.eot');
    src: url('../fonts/Nexa-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-HeavyItalic.woff2') format('woff2'),
    url('../fonts/Nexa-HeavyItalic.woff') format('woff'),
    url('../fonts/Nexa-HeavyItalic.ttf') format('truetype'),
    url('../fonts/Nexa-HeavyItalic.svg#Nexa-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa-Regular';
    src: url('../fonts/Nexa-Regular.eot');
    src: url('../fonts/Nexa-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-Regular.woff2') format('woff2'),
    url('../fonts/Nexa-Regular.woff') format('woff'),
    url('../fonts/Nexa-Regular.ttf') format('truetype'),
    url('../fonts/Nexa-Regular.svg#Nexa-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa-LightItalic';
    src: url('../fonts/Nexa-LightItalic.eot');
    src: url('../fonts/Nexa-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-LightItalic.woff2') format('woff2'),
    url('../fonts/Nexa-LightItalic.woff') format('woff'),
    url('../fonts/Nexa-LightItalic.ttf') format('truetype'),
    url('../fonts/Nexa-LightItalic.svg#Nexa-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa-Italic';
    src: url('../fonts/Nexa-Italic.eot');
    src: url('../fonts/Nexa-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-Italic.woff2') format('woff2'),
    url('../fonts/Nexa-Italic.woff') format('woff'),
    url('../fonts/Nexa-Italic.ttf') format('truetype'),
    url('../fonts/Nexa-Italic.svg#Nexa-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa-ThinItalic';
    src: url('../fonts/Nexa-ThinItalic.eot');
    src: url('../fonts/Nexa-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-ThinItalic.woff2') format('woff2'),
    url('../fonts/Nexa-ThinItalic.woff') format('woff'),
    url('../fonts/Nexa-ThinItalic.ttf') format('truetype'),
    url('../fonts/Nexa-ThinItalic.svg#Nexa-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa-BlackItalic';
    src: url('../fonts/Nexa-BlackItalic.eot');
    src: url('../fonts/Nexa-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-BlackItalic.woff2') format('woff2'),
    url('../fonts/Nexa-BlackItalic.woff') format('woff'),
    url('../fonts/Nexa-BlackItalic.ttf') format('truetype'),
    url('../fonts/Nexa-BlackItalic.svg#Nexa-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa-Book';
    src: url('../fonts/Nexa-Book.eot');
    src: url('../fonts/Nexa-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-Book.woff2') format('woff2'),
    url('../fonts/Nexa-Book.woff') format('woff'),
    url('../fonts/Nexa-Book.ttf') format('truetype'),
    url('../fonts/Nexa-Book.svg#Nexa-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa-BookItalic';
    src: url('../fonts/Nexa-BookItalic.eot');
    src: url('../fonts/Nexa-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-BookItalic.woff2') format('woff2'),
    url('../fonts/Nexa-BookItalic.woff') format('woff'),
    url('../fonts/Nexa-BookItalic.ttf') format('truetype'),
    url('../fonts/Nexa-BookItalic.svg#Nexa-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa-Heavy';
    src: url('../fonts/Nexa-Heavy.eot');
    src: url('../fonts/Nexa-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-Heavy.woff2') format('woff2'),
    url('../fonts/Nexa-Heavy.woff') format('woff'),
    url('../fonts/Nexa-Heavy.ttf') format('truetype'),
    url('../fonts/Nexa-Heavy.svg#Nexa-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa-BoldItalic';
    src: url('../fonts/Nexa-BoldItalic.eot');
    src: url('../fonts/Nexa-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-BoldItalic.woff2') format('woff2'),
    url('../fonts/Nexa-BoldItalic.woff') format('woff'),
    url('../fonts/Nexa-BoldItalic.ttf') format('truetype'),
    url('../fonts/Nexa-BoldItalic.svg#Nexa-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa-Bold';
    src: url('../fonts/Nexa-Bold.eot');
    src: url('../fonts/Nexa-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-Bold.woff2') format('woff2'),
    url('../fonts/Nexa-Bold.woff') format('woff'),
    url('../fonts/Nexa-Bold.ttf') format('truetype'),
    url('../fonts/Nexa-Bold.svg#Nexa-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa-Thin';
    src: url('../fonts/Nexa-Thin.eot');
    src: url('../fonts/Nexa-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa-Thin.woff2') format('woff2'),
    url('../fonts/Nexa-Thin.woff') format('woff'),
    url('../fonts/Nexa-Thin.ttf') format('truetype'),
    url('../fonts/Nexa-Thin.svg#Nexa-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}