.main-img-figure {
    margin-top: 110px;
}

.main-img-figure img {
    width: 100vw;
    height: auto;
}

.vision-sec {
    background: #efefef;
    padding-top: 4%;
    padding-bottom: 4.5%;
}

.vision-sec img {
    width: 100%
}

.vision-sec .content-figure {
    padding-left: 5%;
}

.vision-sec h3 {
    font-weight: bold;
    font-size: 23px;
    font-family: 'Montserrat';
    color: #333;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 16px;
}

.vision-sec h3 span {
    color: #bc040b;
}

.vision-sec h5 {
    color: #333;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Montserrat';
    margin-top: 24px;
    margin-bottom: 20px;
}

.info-sec {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

.vision-sec h4, .info-sec h4 {
    color: #bc040b;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-bottom: 24px;
}

.vision-sec p, .info-sec p {
    font-size: 13px;
    letter-spacing: normal;
    color: #8d8b8b;
    line-height: 22px;
    font-weight: 400;
    font-family: "Montserrat";
}

.info-sec p {
    width: 92%;
}

@media only screen and (max-width: 768px) {
    .main-img-figure {
        margin-top: 0;
    }
    .main-img-figure img {
        width: 100vw;
        height: 195px;
        object-fit: cover;
    }
    .vision-sec, .info-sec {
        text-align: center;
    }
    .info-sec p {
        width: 100%;
    }
    .vision-sec .content-figure {
        padding-left: 15px;
        margin-top: 25px;
    }
    .info-sec .mob-right {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .main-img-figure {
        margin-top: 26%;
    }
    .vision-sec, .info-sec {
        padding-top: 8.5%;
        padding-bottom: 8.5%;
    }
}

@media only screen and (max-width: 375px) {
    .main-img-figure {
        margin-top: 16%;
    }
}