/* styles for desktop */

.left-content h5 {
    font-size: 22px;
    line-height: 38px;
    color: #3f3f3f;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    text-align-last: left;
    margin-left: 10%;
}

.left-content-top h6 {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #222222;
    font-weight: 600;
    font-family: "Montserrat";
    /* margin-left: 19%; */
}

.right-content-top .left-margin {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #222222;
    font-weight: 600;
    font-family: "Montserrat";
    /* margin-left: 7%; */
    margin-top: 2.8%;
}

.right-content-mid .left-margin {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #222222;
    font-weight: 700;
    font-family: "Montserrat";
    /* margin-left: 7%; */
    margin-top: 5.4%;
}

.right-content-mid h6 {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #222222;
    font-weight: 700;
    font-family: "Montserrat";
}

.del-date-time h6 {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #222222;
    font-weight: 700;
    font-family: "Montserrat";
    /* margin-left: 13%; */
    text-align: -webkit-center;
    /* margin-top: -3%; */
}

.left-content-mid h6, .left-content-bot h6, .right-content-top h6, .right-content-bot h6 {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #222222;
    font-weight: 700;
    font-family: "Montserrat";
}

.total-bar h6 {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #2a2a2a;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

#edt-txt {
    border: 0px;
    white-space: normal;
    text-align: left;
    text-align-last: left;
    overflow: auto;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #222222;
    font-weight: 400;
    font-family: "Montserrat";
    border: 1px solid #ccc;
    white-space: pre-wrap !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #222222;
    font-weight: 400;
    font-family: "Montserrat";
    border-radius: 0;
}

button, input, optgroup, select, textarea {
    color: #222222;
    font-weight: 400;
    font-family: "Montserrat";
}

.form-check-label {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #222222;
    font-weight: 500;
    font-family: "Montserrat";
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px 9px;
    transition: 0.3s;
    font-size: 13px;
}

#FormControlTextareaSpNotes {
    display: block;
    width: 100%;
    /* height: 34px; */
    padding: 6px 12px;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #9c9494;
    font-weight: 400;
    font-family: "Montserrat";
}

.date, .time {
    border: 1px solid #d7d7d7 !important;
    padding: 1% !important;
}

#s-cart-add-to-cart {
    background-color: #bc040b;
    /* box-shadow: 0 0 1px #ccc; */
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 28px;
    font-weight: 700;
    font-family: "Roboto";
    padding: 1px 35px 1px;
    margin-top: 3%;
    margin-left: 80.5%;
}

#s-cart-add-to-cart:hover {
    -webkit-transform: scale(1.1);
    background-color: #bc040b;
}

#help-text-check h5 {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #9f9d9d;
    font-weight: 700;
    font-family: "Montserrat";
    /* text-align: right; */
    margin-left: 67%;
    margin-top: -8%;
}

#btn-txt-edit {
    color: #868686;
    font-size: 15px;
    font-size: 21px;
}

#btn-txt-edit u {
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #2a2a2a;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    text-decoration: underline;
    margin-left: 9%;
}

/* large desktop */

@media screen and (min-width: 1900px) {
    .time {
        width: 31%;
    }
    #help-text-check h5 {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 36px;
        color: #9f9d9d;
        font-weight: 700;
        font-family: "Montserrat";
        margin-left: 66%;
        margin-top: -8%;
    }
    #s-cart-add-to-cart {
        background-color: #bc040b;
        /* box-shadow: 0 0 1px #ccc; */
        -webkit-transition: all 0.5s ease-in-out;
        border: 0px;
        color: #fff;
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 28px;
        font-weight: 700;
        font-family: "Roboto";
        padding: 1px 35px 1px;
        margin-top: 3%;
        margin-left: 80.5%;
    }
    #s-cart-add-to-cart:hover {
        -webkit-transform: scale(1.1);
        background-color: #bc040b;
    }
    .date, .time {
        border: 1px solid #d7d7d7 !important;
        padding: 1% !important;
    }
    .total-bar h6 {
        font-size: 22px;
        letter-spacing: 0px;
        line-height: 26px;
        color: #2a2a2a;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
    }
    .form-check-label {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 28px;
        color: #222222;
        font-weight: 400;
        font-family: "Montserrat";
    }
    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }
    #edt-txt {
        border: 0px;
        white-space: normal;
        text-align: left;
        text-align-last: left;
        overflow: auto;
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 28px;
        color: #222222;
        font-weight: 400;
        font-family: "Montserrat";
    }
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 28px;
        color: #222222;
        font-weight: 400;
        font-family: "Montserrat";
    }
    .left-content-mid h6, .left-content-bot h6, .right-content-top h6, .right-content-mid h6, .right-content-bot h6, .total-bar h6 {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 38px;
        color: #222222;
        font-weight: 700;
        font-family: "Montserrat";
    }
    .right-content-top h6 {
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 38px;
        color: #222222;
        font-weight: 600;
        font-family: "Montserrat";
    }
    .left-content h5 {
        font-size: 30px;
        line-height: 38px;
        color: #3f3f3f;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
        text-align-last: left;
        /* margin-left: 10%; */
    }
    .left-content-top h6 {
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 38px;
        color: #222222;
        font-weight: 600;
        font-family: "Montserrat";
    }
}

.main-header {
    margin-top: 10.5% !important;
}

@media only screen and (max-width: 768px) {
    .del-addr {
        margin-left: 0 !important;
    }
    #btn-txt-edit {
        right: 60px;
        top: 10px;
        position: absolute;
    }
    .del-date-time input {
        float: none !important;
        margin-bottom: 15px;
    }
    .rec-details {
        margin-left: 0 !important;
        width: 90% !important;
    }
    #s-cart-add-to-cart {
        margin-left: 25px !important;
    }
    #delivery .row a {
        float: left !important;
        padding-left: 15px;
    }
    .total-bar {
        margin-left: -8px !important;
        width: 90% !important;
    }
    .left-margin {
        margin-left: 2% !important;
    }
    .left-content-top h6 {
        text-align: center;
    }
    [class*="col-sm-7"] {
        width: 37% !important;
    }
    [class*="col-sm-4"] {
        width: 35% !important;
        margin-left: 8%;
    }
    #help-text-check h5 {
        display: none;
    }
    .left-content h5 {
        font-size: 22px;
        line-height: 38px;
        color: #3f3f3f;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
        /* text-align-last: left; */
        margin-left: 32%;
    }
    .left-content-top h6 {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 38px;
        color: #222222;
        font-weight: 600;
        font-family: "Montserrat";
        margin-left: 19%;
    }
    hr {
        border-top: 1px solid #959595 !important;
        margin-left: 15%;
        margin-top: 0%;
    }
    .left-content-mid h6 {
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 38px;
        color: #222222;
        font-weight: 700;
        font-family: "Montserrat";
        margin-left: 0%;
    }
    .right-content-top .left-margin {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 38px;
        color: #222222;
        font-weight: 600;
        font-family: "Montserrat";
        margin-left: 22%;
        margin-top: -10.2%;
    }
    input[type=checkbox], input[type=radio] {
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal;
        margin-left: 4%;
    }
    .date, .time {
        border: 1px solid #d7d7d7 !important;
        padding: 1% !important;
        margin-left: 2%;
    }
    .right-content {
        /* padding-top: 13%; */
        padding-bottom: 3.5%;
        background-color: white;
        width: 45%;
        margin-top: -1%;
        margin-left: 7%;
    }
    .left-content-bot {
        margin-left: 7%;
        margin-bottom: 2%;
    }
    #s-cart-add-to-cart {
        background-color: #bc040b;
        /* box-shadow: 0 0 1px #ccc; */
        -webkit-transition: all 0.5s ease-in-out;
        border: 0px;
        color: #fff;
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 28px;
        font-weight: 700;
        font-family: "Roboto";
        padding: 1px 35px 1px;
        margin-top: 3%;
        margin-left: -13.5%;
    }
    #s-cart-add-to-cart:hover {
        -webkit-transform: scale(1.1);
        background-color: #bc040b;
    }
    .total-bar {
        background-color: #eaeaea;
        margin-left: 9%;
        display: flex;
        width: 70%;
    }
    .main-header {
        margin-top: 33.5% !important;
    }
    .left-content {
        padding-top: 27%!important;
    }
    .left-content h5 {
        margin-right: 20%!important;
    }
    .locations-select h5 {
        text-align: inherit !important;
    }
    #select-location {
        width: 47% !important;
        margin-left: 8% !important;
    }
    hr {
        width: 68% !important;
        margin-right: 50% !important;
    }
    .rec-details {
        margin-left: 8%;
        width: 72%;
    }
}

@media only screen and (max-width: 812px) {
    .right-content {
        width: 95% !important;
    }
}

/* Potrait Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    [class*="col-"] {
        width: 100% !important;
    }
    .left-content {
        padding-top: 32%!important;
    }
    .del-date-time {
        margin-left: 0% !important;
    }
    .form-radio {
        margin-right: 38% !important;
    }
}

/* Landscape Mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    /* 
    .right-content {
        width: 95% !important;
    } */
}

/* Potrait Tablet */

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .right-content {
        width: 100% !important;
    }
}

/* Landscape Tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .right-content {
        padding-top: 21.5%!important;
    }
    .left-content {
        padding-top: 17%!important;
    }
}

.top-area {
    background-color: #efefef;
}

.left-content {
    padding-top: 10%;
    padding-bottom: 3.5%;
    background-color: white;
}

.left-content-mid {
    text-align: left;
    margin-left: 7%;
}

hr {
    border-top: 1px solid #959595 !important;
    margin-left: 10%;
    margin-top: 0%;
}

.left-area {
    overflow-y: scroll;
    height: 995px;
}

.left-margin {
    text-align: left;
    margin-left: 10%;
}

.left-content h3 {
    font-weight: bold;
    padding-bottom: 1%;
}

.right-content {
    padding-top: 13%;
    padding-bottom: 3.5%;
    background-color: white;
    width: 45%;
}

.right-content h5 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #3b1c0f;
    font-weight: 700;
    font-family: "Montserrat";
    text-align-last: left;
    margin-left: 3%;
}

.form-radio {
    display: flex;
    text-align: left;
    margin-left: 2%;
    margin-right: 72%;
}

.img-visa, .img-master {
    width: 100%;
    vertical-align: middle;
}

.img-visa {
    margin-top: -32%;
}

.img-visa {
    margin-top: -5%;
}

.total-bar {
    background-color: #eaeaea;
    margin-left: 8%;
    display: flex;
}

.form-check {
    text-align: left;
    margin-left: 2%;
}

.locations-select h5 {
    font-size: 16px;
    letter-spacing: 0px;
    color: #010101;
    font-weight: 700;
    font-family: "Montserrat";
}

.locations-select p {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
}

.locations-select h6 {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
}

.bottom-area {
    padding-top: 2%;
    padding-bottom: 2%;
}

.bottom-area h4 {
    font-weight: bold;
    text-align: left;
    padding-bottom: 3%;
}

.bottom-area p {
    text-align: left;
}

.margin-right-one {
    margin-right: 1%;
}

.margin-left-one {
    margin-left: 1%;
}

#select-location {
    border: 1px solid black;
    width: 66%;
    margin-left: 29%;
    padding: 1%;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
}

/* ------ Delivery */

.del-date-time {
    text-align: center;
    /* margin-left: 5%;
    width: 60%; */
}

/* .del-addr{
    width: 35%;
} */

#btn-txt-edit {
    cursor: pointer;
    vertical-align: top;
}

.txtarea-border {
    border: 1px solid black;
    background-color: black;
}

.time {
    width: 31%;
}

/* Bot Content */

.rec-details {
    margin-left: 8%
}

/* tabs */

/* Style the tab */

.tab {
    overflow: hidden;
    border: none;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #ececec;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    margin-left: 41px;
}

.del-date-time h6:nth-child(1), del-date-time h6:nth-child(2) {
    margin-left: -44px;
    text-align: -moz-center;
}

/*for large----------------------------------*/

@media(min-width: 1550px) {
    .del-date-time h6:nth-child(1), del-date-time h6:nth-child(2) {
        margin-left: -190px!important;
        text-align: -moz-center;
    }
    @supports (-ms-ime-align:auto) {
        .del-date-time h6:nth-child(1), del-date-time h6:nth-child(2) {
            margin-left: 4px!important;
        }
    }
}

/*18-11-20*/

/*ipad pro----------------------------------------*/

@media only screen and (min-device-width: 1024px)
/*and (max-device-width: 1366px) */

and (max-device-height:1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .tabcontent {
        margin-left: 75px;
    }
    .left-content {
        padding-top: 4%!important;
        width: 100%;
    }
    .left-content h5 {
        margin-top: 11px;
    }
    #help-text-check h5 {
        margin-top: -20%;
        margin-left: 8%;
    }
    .right-content-top .left-margin {
        margin-top: -9.2%;
    }
    .right-content-mid .left-margin {
        margin-top: 0.4%;
    }
}

@media only screen and (max-width: 768px) {
    #edt-txt {
        width: 90% !important;
    }
}