.left-content-form-text h3 {
    width: 201px;
    height: 141px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #59595b;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: 25%;
    margin-top: 0%;
}

.left-content-form-text h3 b {
    width: 201px;
    height: 141px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #59595b;
    font-weight: 900;
    font-family: "Montserrat";
    /* margin-left: 22%; */
    margin-top: 0%;
}

.contact-text b {
    width: 201px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #59595b;
    font-weight: 900;
    font-family: "Montserrat";
    margin-top: 0%;
    margin-left: 24.5%;
}

.top-contents h3 {
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #545454;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: 24.5%;
}

#right-content-contact-us p {
    height: 62px;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #59595b;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 6%;
}

#right-content-contact-us h3 b {
    width: 398px;
    height: 35px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #59595b;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: 2.5%;
}

#myForm input[type="text"] {
    width: 100%;
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #7a7c83;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 60px;
    height: 37px;
    border-bottom: 1px solid #acacac;
}

#message input[type="text"] {
    padding-bottom: 118px;
    padding-top: 5px;
}

#myForm input[type="button"] {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    margin-left: 0.1%;
}

/* @media screen and (max-width: 800px) and (min-width: 600px) and (orientation: landscape) {
    .contact-text b{
        width: 201px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #59595b;
    font-weight: 900;
    font-family: "Montserrat";
    margin-top: 0%;
    margin-left: 7.5%;
    }
  } */

@media screen and (min-width: 800px) {
    .contact-text b {
        width: 201px;
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 35px;
        color: #59595b;
        font-weight: 900;
        font-family: "Montserrat";
        margin-top: 0%;
        margin-left: 24.5%;
    }
}

@media screen and (min-width: 1900px) {
    .top-contents h3 {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 40px;
        color: #545454;
        font-weight: 700;
        font-family: "Montserrat";
    }
    #myForm input[type="text"] {
        width: 100%;
        display: inline-block;
        margin-right: 20px;
        font-size: 16px;
        letter-spacing: 1px;
        color: #7a7c83;
        font-weight: 400;
        font-family: "Montserrat";
        margin-bottom: 60px;
        height: 37px;
        border-bottom: 1px solid #acacac;
    }
    #myForm input[type="button"] {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 40px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Roboto";
        margin-left: -1.3%;
    }
    .contact-text b {
        width: 201px;
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 35px;
        color: #59595b;
        font-weight: 900;
        font-family: "Montserrat";
        margin-top: 0%;
        margin-left: 25%;
    }
    .left-content-form-text h3 {
        width: 320px;
        height: 140px;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 36px;
        color: #59595b;
        font-weight: 700;
        font-family: "Montserrat";
    }
    /* right side styles */
    #right-content-contact-us p {
        width: 1106px;
        height: 62px;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 28px;
        color: #59595b;
        font-weight: 400;
        font-family: "Montserrat";
    }
    #right-content-contact-us h3 b {
        width: 398px;
        height: 35px;
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 36px;
        color: #59595b;
        font-weight: 700;
        font-family: "Montserrat";
    }
}

.main-header {
    margin-top: 10.5% !important;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    #footer-logo {
        max-width: 76%;
        /* max-height: 99%; */
        display: block;
        margin-left: 10%;
    }
    .top-contents h3 {
        font-size: auto;
        font-family: "Montserrat";
        text-align: center;
        margin-left: 0px!important;
    }
    .contact-text b {
        width: 201px;
        margin-left: 6%;
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 35px;
        color: #59595b;
        font-weight: 900;
        font-family: "Montserrat";
        margin-top: 0%;
    }
    .main-header {
        margin-top: 33.5% !important;
    }
    /* right styles */
    #right-content-contact-us-align {
        text-align: center;
        /* margin-left: -12%; */
    }
    #myForm input[type="button"] {
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 31px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Roboto";
        margin-left: 32.1%;
        margin-bottom: 12px;
    }
    #right-content-contact-us h3 b {
        width: 398px;
        height: 35px;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 36px;
        color: #59595b;
        font-weight: 700;
        font-family: "Montserrat";
        margin-left: 0.5%;
    }
    #right-content-contact-us p {
        width: 100%;
        height: 62px;
        font-size: 11px;
        letter-spacing: 0px;
        line-height: 28px;
        color: #59595b;
        font-weight: 400;
        font-family: "Montserrat";
        margin-top: 13%;
        text-align: center;
        margin-bottom: 17%;
        /* margin-left: 14px; */
    }
}

.bold {
    font-weight: bold;
}

.top-contents {
    padding-top: 3%;
    padding-bottom: 3.5%;
    text-align: left;
}

.top-contents h5 {
    margin-top: 8%;
    text-align: left;
}