/* .img-responsive-phone{
    margin-top: -19%;
    width: auto;
    width: 107.1%;
    height: auto;
} */

#content-bottom-left-items h2 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #fefefe;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: -20%;
}

/* #content-bottom-left-items img {
	width: auto;
	height: 50px;
} */

#content-bottom-left-items h3 {
    /* width: 338px; */
    /* height: 111px; */
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 0%;
    /* justify-self: left; */
    text-align: left;
    margin-top: -4px;
}

#content-bottom-right-items h2 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 39px;
    color: #fefefe;
    font-weight: 700;
    font-family: "Montserrat";
    /* margin-left: -376px; */
    margin-left: 3%;
    text-align: left;
}

#content-bottom-right-items h3 {
    font-family: "Montserrat";
    /* width: 338px; */
    width: 428px;
    /* height: 111px; */
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
    margin-top: 6.8%;
    color: #ffffff;
    font-weight: 400;
    margin-left: 3%;
    /* justify-self: left; */
    text-align: initial;
    margin-top: 11px;
}

.footer-email {
    display: flex;
    padding-bottom: 5.88%;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    width: 77%;
    margin-left: 3%;
    padding-top: -7%;
    margin-top: 5%!important;
}

.footer-email button {
    background: #bc040b;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
}

.footer-email .text-box {
    height: inherit;
}

.footer-txt-left {
    width: auto;
    /*text-align: center!important;*/
    /*font-size: 40px;*/
}

.footer-link img {
    width: 20%;
}

.footer-link .col-sm-4 {
    margin-right: 0%;
}

#footer-information ul li a:hover {
    color: #bc040b;
}

/* ///////////////////// */

@media (max-width: 767px) {
    footer #footr-text {
        text-align: center;
    }
}

@media only screen and (max-width: 968px) and (min-width:770px) {
    .quick-links li a {
        font-size: 32px;
        letter-spacing: 0px;
        line-height: 26px;
        color: #373737;
        font-weight: 400;
        font-family: "Montserrat";
    }
    .img-responsive {
        /* margin-top: -18%;
      width: auto;
      height: 10%;
      margin-left: 25%!important; */
        margin-left: 23%;
        margin: auto;
    }
    #content-bottom-left img {
        margin-top: -12.5%;
        margin-left: 245px;
    }
    #content-bottom-right-items h2 {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 39px;
        color: #fefefe;
        font-weight: 700;
        font-family: "Montserrat";
        margin-left: 0px!important;
    }
    #content-bottom-right-items h3 {
        width: auto!important;
        height: auto!important;
        font-size: 13px;
        letter-spacing: 0px;
        line-height: 18px;
        margin-top: 2%;
        color: #ffffff;
        font-weight: 400;
        margin-left: 0%;
        justify-self: left;
        text-align: center;
        margin-bottom: 35px;
    }
    .footer-email .text-box {
        height: inherit;
        margin-left: 138px;
    }
}

#content-bottom-left-items {
    text-align: -webkit-center;
}

#content-bottom-left-items h2 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #fefefe;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: 0%;
    text-align: left;
}

/* ///////////////////// */

@media only screen and (max-width: 968px) and (min-width:770px) {
    .img-responsive {
        /* margin-top: -18%;
      width: auto;
      height: 10%;
      margin-left: 25%!important; */
        margin-left: 23%;
        margin: auto;
    }
}

@media (max-width: 767px) {
    footer #footr-text {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .footer-link {
        display: flex;
    }
    .footer-link .col-sm-4 {
        margin-right: 0px;
    }
    #content-bottom-right-items h2 {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 39px;
        color: #fefefe;
        font-weight: 700;
        font-family: "Montserrat";
        margin-left: -13px;
        text-align: center;
    }
    #content-bottom-right-items h3 {
        width: 338px;
        /* height: 111px; */
        font-size: 13px;
        letter-spacing: 0px;
        line-height: 18px;
        /* margin-top: 6.8%; */
        margin-bottom: 3%;
        color: #ffffff;
        font-weight: 400;
        margin-left: 1%;
        /* justify-self: left; */
        font-family: "Montserrat";
        text-align: center;
    }
    .footer-email {
        display: flex;
        padding-bottom: 2.45%;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 40px;
        color: #ffffff;
        font-weight: 700;
        width: 77%;
        margin-left: 8.5%;
        padding-top: -7%;
    }
    #content-bottom-left-items {
        text-align: -webkit-center;
    }
    #content-bottom-left-items h2 {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 40px;
        color: #fefefe;
        font-weight: 700;
        font-family: "Montserrat";
        margin-left: -9%;
    }
    .footer-txt-left {
        width: auto;
        text-align: center!important;
    }
    #footer-logo img {
        margin-left: 0 !important;
        width: 170px;
    }
    #content-bottom-right-items h3 {
        font-size: 15px !important;
        width: 90%;
        line-height: 22px !important;
        margin-top: 0 !important;
    }
    .footer-email {
        display: block !important;
        width: auto !important;
        margin-left: 0 !important;
    }
    .email-placeholfer-text {
        text-align: left !important;
        margin-bottom: 20px !important;
    }
    .navbar-brand img {
        width: auto !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
    #google-play {
        margin-left: -160px!important;
        margin-top: -68px!important;
        width: 132px !important;
    }
    #app-store {
        width: 132px !important;
        margin-top: -68px!important;
        margin-left: 182px!important;
    }
}

@media (max-device-width: 812px) and (min-width: 375px) {
    #app-store {
        /* margin-top: -58px!important; */
        margin-top: -72px!important;
        /* margin-left: 710px!important; */
    }
    #google-play {
        /* margin-left:511px!important; */
        margin-top: -31px!important;
    }
    #content-bottom-left-items h3 {
        width: 338px;
        /* height: 111px; */
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 28px;
        color: #ffffff;
        font-weight: 400;
        margin-left: 44%;
        /* justify-self: left; */
        text-align: center;
        margin-top: -5px;
    }
    #content-bottom-right-items h2 {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 39px;
        color: #fefefe;
        font-weight: 700;
        font-family: "Montserrat";
        margin-left: 0px!important;
    }
    #content-bottom-left-items {
        text-align: -webkit-center;
    }
    #content-bottom-left-items h2 {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 40px;
        color: #fefefe;
        font-weight: 700;
        font-family: "Montserrat";
        margin-left: 32%;
        margin-top: -216px;
        text-align: center;
    }
    .img-responsive {
        /* margin-left: 3%!important; */
        margin: auto;
    }
    footer #footr-text {
        text-align: center;
    }
    .footer-link {
        display: flex;
        display: flex;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
    .footer-link .col-sm-4 {
        margin-right: 0px;
    }
    #content-bottom-right-items h2 {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 39px;
        color: #fefefe;
        font-weight: 700;
        font-family: "Montserrat";
        margin-left: -13px;
    }
    #content-bottom-right-items h3 {
        width: 100%;
        /* height: 111px; */
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 18px;
        /* margin-top: 6.8%; */
        margin-bottom: 3%;
        color: #ffffff;
        font-weight: 400;
        margin-left: 0%;
        /* justify-self: left; */
        font-family: "Montserrat";
        text-align: center;
        margin-top: 28px;
    }
    .footer-email {
        display: flex;
        padding-bottom: 2.45%;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 40px;
        color: #ffffff;
        font-weight: 700;
        width: 69%;
        margin-left: 15.5%;
        padding-top: -7%;
    }
    #footer-logo {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin-left: 32%;
    }
    .add-remove {
        width: 65%;
        /* margin-left: 39%; */
        margin-left: -11%;
    }
    footer p, h5, li {
        text-align: center!important;
    }
    #add-to-cart-h-mid {
        margin: inherit;
        margin-left: 39%;
        background-color: #BC040B;
        float: left;
        -webkit-transition: all 0.5s ease-in-out;
        border: 0px;
        color: #fff;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 40px;
        font-weight: 700;
        /* font-family: "Roboto"; */
        padding: 0px 27px 0px;
        margin-top: 5%;
    }
    #myTabContent-home .fa-heart-o {
        color: #bc040b;
        cursor: pointer;
        /* margin-right: -58%; */
        margin-left: -31%;
        margin-top: 41px;
        visibility: hidden;
    }
    .content-top h3 {
        text-align: left;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 9px;
        margin-left: 23px;
    }
    #content-top-carousel-caption {
        position: absolute;
        /* right: 65%; */
        bottom: 11px!important;
        left: 11%;
        z-index: 1;
        padding-top: 50px;
        padding-bottom: 82px;
        color: #fff;
        text-align: left;
    }
    #myCarousel {
        padding-top: 18%;
    }
    #navbar-color ul li a {
        padding-right: 19px;
        padding-left: 2px;
        margin-right: auto;
        margin-left: -4px;
        display: inline;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 40px;
        color: #000000;
        font-weight: 600;
        font-family: "Montserrat";
    }
    .navbar-brand img {
        height: 51px;
        /* width: 100%; */
        padding-left: inherit;
        margin-top: 11px;
        margin-bottom: 4px;
        /* margin-left: 278px!important; */
    }
}

@media only screen and (max-width: 320px) {
    .add-remove {
        margin-left: -15%;
    }
}