.location_header {
    color: #028F38 !important;
}

#location .container-fluid {
    background: #efefef;
    margin-top: 8%;
}

.left-figure {
    text-align: left;
    background: #efefef;
    border-right: 1px solid #b7b7b7;
    max-width: 100%;
    height: 848px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 48px 42px 48px 64px;
}

.left-figure::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.left-figure::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 100px;
}

.left-figure .heading-row h3, .right-figure .heading-row h3 {
    font-size: 24px;
    line-height: normal;
    color: #2a2a2a;
    font-weight: 700;
    font-family: "Montserrat";
    text-transform: uppercase;
    margin: 0;
}

.left-figure .heading-row h3 span {
    color: #028F38;
}

.left-figure .sub-heading {
    font-size: 14px;
    line-height: normal;
    color: #555555;
    font-weight: 700;
    font-family: "Montserrat";
    margin-bottom: 15px;
}

.left-figure .select-input {
    width: 100%;
    min-height: 44px;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #555555;
    font-weight: 500;
    font-family: "Montserrat";
    border-radius: 0;
    border: 1px solid #b7b7b7;
    padding: 6px 10px;
    background: #FFF;
}

.left-figure .select-input option {
    font-size: 13px;
    color: #423d3d;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 8px 14px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
    background: #efefef;
    box-shadow: 0 0 #555;
}

.left-figure .select-input:focus {
    outline: none;
}

.left-figure .figure-item {
    border-bottom: 1px solid #959595;
    padding-top: 20px;
    padding-bottom: 35px;
}

.left-figure .figure-item .brnach-name {
    font-size: 14px;
    line-height: normal;
    color: #010101;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: 0;
    margin-bottom: 10px;
}

.left-figure .figure-item p {
    font-size: 14px;
    line-height: 26px;
    color: #555555;
    font-weight: 500;
    font-family: "Montserrat";
    margin-bottom: 10px;
    position: relative;
    padding-left: 24px;
}

.left-figure .figure-item p i {
    font-size: 16px;
    margin-right: 5px;
    position: absolute;
    left: 0;
    top: 5px;
}

.left-figure .figure-item p.times {
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 0;
}

.right-figure {
    padding: 48px 0 0 0;
}

.right-figure .heading-row h3 {
    margin-bottom: 20px;
    padding-left: 56px;
}

.right-figure #map_canvas {
    min-height: 750px;
    width: 100%
}

@media only screen and (max-width: 768px) {
    .left-figure {
        padding: 42px 28px;
    }
    .right-figure {
        border-top: 2px solid #959595;
        margin-top: 25px;
        padding-top: 36px;
    }
    .left-figure .heading-row h3, .right-figure .heading-row h3, .sub-heading {
        text-align: center;
        padding-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    #location .container-fluid {
        margin-top: 27%;
    }
}