#sign-in-form {
    padding-top: 220px;
    padding-bottom: 100px;
}

#sign-in-form .sub-heading {
    font-size: 14px;
    color: #373737;
    font-weight: bold;
    font-family: "Montserrat";
    line-height: normal;
    margin-bottom: 24px;
}

#sign-in-form p {
    font-size: 13px;
    color: #8d8b8b;
    font-weight: 400;
    font-family: "Montserrat";
    line-height: 20px;
    margin-bottom: 15px;
}

#sign-in-form .submit-btn {
    background-color: #028F38;
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 38px;
    font-weight: 700;
    font-family: 'Montserrat';
    border: none;
    border-radius: 0;
    padding: 0 18px;
    margin-bottom: 22px;
}

#sign-in-form .submit-btn:hover {
    -webkit-transform: scale(1.1);
}

#sign-in-form input {
    border-radius: 0;
}

#sign-in-form .link-txt {
    color: #028F38;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    display: block;
}

#sign-in-form .right-sec {
    border-left: 2px solid #ccc;
    padding-left: 7%;
}

@media only screen and (max-width: 768px) {
    #sign-in-form {
        text-align: center;
        padding-top: 160px;
        padding-bottom: 60px;
    }
    #sign-in-form .left-sec {
        padding-bottom: 30px;
    }
    #sign-in-form .right-sec {
        padding-left: 15px;
        border-left: none;
        border-top: 2px solid #ccc;
        padding-top: 20px;
    }
}