.menu-card-size .col-md-3 {
  padding: 0px;
}

/* Sub menu new */

.cata-sub-nav {
  background: rgb(255, 255, 255);
  /*padding: 41px 3px 15px 0px;*/
  margin: 0 37px;
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* Remove the default scrollbar for WebKit implementations */
  margin-left: -19%;
  text-transform: uppercase;
}

.align-menu-items ul li {
  position: relative;
  display: table-cell;
  width: 100%;
}

.cata-sub-nav::-webkit-scrollbar {
  display: none;
}

.cata-sub-nav ul {
  margin: 0;
  display: flex;
  -webkit-padding-start: 0px;
}

.cata-sub-nav li {
  display: inline-table;
  margin: 0 10px;
  font-size: 16px;
}

.arrow {
  background: red;
}

.arrow1, .arrow2 {
  color: #bc040b;
  border: none;
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #bc040b;
  font-weight: 700;
  font-family: "Montserrat";
  border: 0px;
  border-bottom: solid #bc040b 4px;
  background-color: transparent;
}

#myTab li a.active, #myTab li a:hover, #myTab li a:focus {
  /* color: #bc040b;
  border-bottom: 2px solid; */
}

.nav-prev {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 7px;
  margin-top: -19px;
  margin-left: 1%;
}

.nav-next {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 23px;
  margin-top: -41px;
}

/* Sub menu new Ends */

#make-your-order-text h3 {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #2a2a2a;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

#menu-right-side #make-your-order-text h3 {
  display: none;
}

.form-control {
  width: 100%;
  height: 34px;
  /* padding: 6px 12px; */
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  display: block;
  padding: -1px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-family: "Montserrat";
}

#menu-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
  height: 1298px;
  background-color: #efefef;
}

/* --------------------------- */

@media screen and (min-width: 1900px) {
  #s-cart-right-details-4 {
    border-top: 2px solid #b7b7b7;
    width: 73.3%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 11.5%;
  }
  #make-your-order-text h3 {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #2a2a2a;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
  }
  #proceed-btn #add-to-cart {
    width: 223px!important;
    height: 34px;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat';
    text-align: center;
    width: 259px;
    height: 32px;
    background-color: #bc040c;
    margin-left: 6.5%;
    margin-top: 5%;
    margin-bottom: 11%;
  }
  #menu-right-side #make-your-order-text h3 {
    display: none;
  }
  .form-control {
    width: 100%;
    height: 34px;
    /* padding: 6px 12px; */
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
    padding: -1px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-family: "Montserrat";
  }
  .top-bar {
    background-color: #ebebeb;
    width: 903px;
    margin-left: -12%!important;
    margin-top: -4%;
  }
}

#s-cart-right-details-3 {
  border-bottom: 2px solid #b7b7b7;
  width: 85.3%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-left: 7%;
}

#s-cart-right-details-4 {
  border-top: 2px solid #b7b7b7;
  width: 73.3%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-left: 11.5%;
}

#item-total {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #2a2a2a;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: left;
  margin-left: -10px;
}

#item-total-price {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #2a2a2a;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: right;
  margin-left: 46%;
}

#proceed-btn #add-to-cart {
  width: 223px!important;
  height: 34px;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 33px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Montserrat';
  text-align: center;
  width: 259px;
  height: 32px;
  background-color: #bc040c;
  margin-left: 6.5%;
  margin-top: 5%;
  margin-bottom: 11%;
}

#take-away-txt-1, #take-away-txt-2 {
  color: #777777;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

/* check box */

.checkbox1 {
  width: 100%;
  /* margin: 15px auto; */
  position: relative;
  display: block;
  margin-top: 15px;
  margin-left: 83px;
}

.checkbox label {
  position: relative;
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-left: 72px;
  font-weight: normal;
  cursor: pointer;
}

.checkbox1 label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox1 label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  /* margin: 4px; */
  width: 31px!important;
  height: 31px!important;
  transition: transform 0.28s ease;
  /* border-radius: 3px; */
  background-color: transparent;
  border: 2px solid #777777;
}

.checkbox1 label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  top: 12px;
  left: 10px;
}

.checkbox1 input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}

.checkbox1 input[type="checkbox"]:checked~label:before {
  border: 2px solid #bc040b;
  background-color: #bc040b;
}

.checkbox1 input[type="checkbox"]:checked~label:after {
  transform: rotate(-45deg) scale(1);
}

.checkbox1 input[type="checkbox"]:focus+label::before {
  outline: 0;
}

#checked-none label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  /* margin: 4px; */
  width: 31px!important;
  height: 31px!important;
  transition: transform 0.28s ease;
  /* border-radius: 3px; */
  background-color: transparent;
  border: 2px solid #777777;
}

#checked-none label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  top: 12px;
  left: 10px;
}

#checked-none input[type="checkbox"]:checked~label:before {
  border: 2px solid #bc040b;
  background-color: #bc040b;
}

#checked-none input[type="checkbox"]:checked~label:after {
  transform: rotate(-45deg) scale(1);
}

#checked-none input[type="checkbox"]:focus+label::before {
  outline: 0;
}

.shopping-cart-placeholfer-text {
  text-align: center;
  width: 250px;
  height: px;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 28px;
  margin-left: 51px;
  margin-bottom: 5%;
  color: #2a2a2a!important;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

#s-cart-right-details {
  /* border-top: 2px solid #b7b7b7; */
  /*border-bottom: 2px solid #b7b7b7;*/
  width: 85.3%;
  padding-bottom: 3.5%;
  padding-top: 3.5%;
  margin-left: 7%;
}

#s-cart-right-details-3 {
  border-bottom: 0px solid #b7b7b7;
  width: 85.3%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-left: 7%;
}

.s-cart-right-details-3-make-order {
  border-top: 2px solid #b7b7b7;
  width: 73.3%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-left: 11%!important;
}

#s-cart-right-details-2 {
  width: 97.3%;
  /* padding-bottom: 13%; */
  padding-top: 13%;
  margin-left: 1%;
}

#item-name {
  width: 157px;
  min-height: 19px;
  max-height: auto;
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 17px;
  color: #2a2a2a;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: left;
  margin-left: -12%;
}

#item-price-right {
  width: 129px;
  height: 21px;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 31px;
  color: #2a2a2a;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: right;
  margin-left: 0;
}

#item-price-right span {
  position: absolute; 
  left: 94px;
}

#item-price-right-sub {
  margin-left: 32%;
  color: #2a2a2a;
  font-weight: 600!important;
}

#sub-total {
  margin-left: 13%;
}

.item-row {
  margin-bottom: 10px;
  border-bottom: 1px solid #b7b7b7;
}

/* .add-remove {
        width: 104%;
        margin-left: -9%;
    } */

/* plus minus */

#add-remove-s-cart {
  width: 104%;
  margin-left: -2%;
  /* margin-top: 9.5%; */
}

#add-remove-s-cart {
  /* margin-top: 18.5%; */
  margin-bottom: 8%;
}

#number-box-s-cart {
  height: 26px;
  width: 57px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 0px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 21px;
  color: #131313;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  /* margin-top: 19%; */
  /* margin-bottom: 6%; */
}

#minus-s-cart {
  /* width: 46px; */
  background: #353535;
  /* border-radius: 2px; */
  padding: 3.1px 10px 4px 10px;
  border: 1px solid #ddd;
  /* vertical-align: middle; */
  /* text-align: center; */
  color: white;
  cursor: pointer;
}

#plus-s-cart {
  /* width: 46px; */
  background: #353535;
  /* border-radius: 2px; */
  padding: 3px 8px 4px 9px;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  color: white;
  cursor: pointer;
}

#edit span {
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #2a2a2a;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  text-decoration: underline;
  margin-left: 9%;
  cursor: pointer;
}

#edit i {
  color: #868686;
  font-size: 15px;
  font-size: 21px;
  margin-left: 0;
}

#btn-txt-remove {
  margin-left: 10%;
  /* margin-top: 22%; */
}

.top-bar {
  background-color: #ebebeb;
  width: 920px;
  margin-left: -13.5%;
  margin-top: -4%;
}

#top-bat-text {
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #2a2a2a;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: left;
  margin-left: 6%;
}

.top-bar #edit i {
  color: #868686;
  font-size: 15px;
  font-size: 21px;
  margin-left: -59%;
  margin-top: 2.1%;
}

/*---------------------------  */

/* Portion drop down */

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  color: rgb(3, 3, 3);
  background-color: #ffffff!important;
  border-color: #ffffff!important;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-color: #4d4e4e;
}

/* honizontal line */

/* .line {
    border-top: 2px solid #a1a1a1;
    margin-top: 5.5%;
    margin-left: -9%;
    margin-right: -5%;
  }
   */

/* PREMIUM RANGE text styling */

#preminu-range-text {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #434343;
  font-weight: 700;
  font-family: "Montserrat";
}

#preminu-range-text hr {
  margin-top: 19px;
  /* margin-bottom: 20px; */
  border: 2;
  border-top: 2px solid #a1a1a1;
  width: 82%;
  float: right;
}

/* end of the premium rang text styles */

#myTab-menu ul a {
  /* margin-left: 4%;
    margin-top: 4.3%; */
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 0px;
  color: #9b9b9b;
  font-weight: 700;
  font-family: "Montserrat";
}

#myTab-menu ul {
  /* margin-left: 4%;
    margin-top: -1%; */
  margin-left: 4%;
  margin-top: 5%;
}

#menu-sub-menu {
  margin-top: 6%;
  border-top: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  background-color: white;
}

#arrow-left-menu {
  margin-top: 28%;
}

#arrow-right-menu {
  margin-top: 28%!important;
}

#menu-rightbar-color {
  background-color: #efefef;
}

#myTab-menu {
  margin-top: 2%;
}

.card-content #add-to-cart {
  margin-left: 2%!important;
}

.caret-drop-arrow {
  margin-left: 2%;
}

.navbar-inverse-menu {
  border-bottom: 1px solid #a1a1a1;
}

/* menue card slider styles */

#myTabContent-menu img {
  padding: 1.6em;
  margin-top: 0em;
  margin-bottom: 0em;
}

/* end of the menue card slider styles */

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.content-mid-right {
  background: white;
}

.snav-links h3 {
  color: grey;
}

.menu-bar {
  background-color: white;
}

.food-items li {
  list-style: none;
}

.cart {
  background-color: white;
  border: 1px solid #ddd;
}

.cart-title h4 {
  text-align: center;
  font-weight: bold;
}

/* .cart-selection{
        display: inline;
    } */

.cart-selection .portion-btn {
  font-family: Raleway-SemiBold;
  /* font-size: 13px; */
  color: #353535;
  letter-spacing: 1px;
  line-height: 26px;
  border: 1px solid #353535;
  border-radius: 0px;
  background: #ffffff;
  transition: all 0.3s ease 0s;
  width: 93px;
  text-align: left;
  width: 98px!important;
  text-align: left;
  font-family: "Montserrat";
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-family: "Montserrat";
}

#price-menu {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #4c4c4c;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}

.cart-selection .btn:hover {
  color: #353535;
  background: white;
  border: 1px solid #353535;
}

.cart-selection {
  margin-left: 0%;
}

.pricing-bar {
  margin-left: -10%;
}

.cart-selection #add-to-cart {
  margin-left: 1%;
  line-height: 30px;
  padding-left: 3%;
  padding-right: 3%;
}

.pricing-bar .add-remove {
  margin-left: -23%;
}

.pricing-bar .number-box {
  /* width: 80px; */
}

.pricing-bar .price {
  font-size: 1.5em;
  margin-top: 7%;
  color: #444343;
}

.pricing-bar .fa-heart-o {
  color: black;
  font-size: 25px;
  margin-left: 10px;
}

.caret {
  margin-left: 14%;
}

.rating {
  text-align: center;
  color: #d6d6d6;
  font-size: 1.6em;
}

/*Floating Menu*/

.main-content {
  position: inline;
}

.main-content .owl-theme .custom-nav {
  position: inline;
  top: 10%;
  left: 0;
  right: 0;
}

.main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 50px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}

.main-content .owl-theme .custom-nav .owl-prev i, .main-content .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: red;
}

.main-content .owl-theme .custom-nav .owl-prev {
  left: 0;
}

.main-content .owl-theme .custom-nav .owl-next {
  right: 0;
}

/* EMNU SIDE BAR STYLING */

#make-your-order-text h3 {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #2a2a2a;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

#menu-right-side h3 {
  margin-top: 4%!important;
  font-size: 13px!important;
  letter-spacing: 1px;
  line-height: 46px;
  color: #2a2a2a;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

#menu-right-side {
  /* padding-bottom: 12%; */
  margin-top: 5%;
  /* border-top: 1px solid #b7b7b7; */
  border-bottom: 1px solid #b7b7b7;
  background-color: white;
}

#cart-empty-text {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #777777;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 18%;
}

#menu-cart {
  /* vertical-align: middle!important; */
  margin-left: 38%;
  margin-top: 7%;
}

#menu-cart img {
  max-width: 28%;
}

#cart-para {
  width: 290px;
  height: 77px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #4c4c4c;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-left: 10%;
  margin-top: 19%;
  margin-bottom: 19%;
}

#menu-sidebar-bottom {
  background-color: #efefef;
}

/* ----------------------------MENU Page Styles------------------------- */

.navbar-inverse-menu {
  /* border-bottom: 1px solid #b3b3b3 !important; */
  border-bottom: none !important;
}

.menu-bar {
  border-right: 1px solid #b3b3b3 !important;
}

.spectrum1 {
  background-color: white;
}

#menu-desserts .flexslider {
  background-color: #efefef;
}

/*media*/

@media only screen and (max-width: 968px) and (min-width:770px) {
  #preminu-range-text hr {
    margin-top: 19px;
    /* margin-bottom: 20px; */
    border: 2;
    border-top: 2px solid #a1a1a1;
    width: 82%;
    float: right;
  }
  .img-responsive-phone {
    margin-top: -18%;
    width: auto;
    height: 10%;
    margin-left: 25%!important;
  }
  #content-bottom-left-items {
    text-align: -webkit-center;
  }
  #content-bottom-left-items h2 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #fefefe;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: -9%;
  }
}

@media only screen and (max-width: 768px) {
  #item-price-right span {
    position: relative;
    left: initial;
  }
  .top-bar {
    background-color: #ebebeb;
    width: auto;
    margin-left: -2%!important;
    margin-top: 0%!important;
    margin-right: -2%!important;
  }
  .nav-prev, .nav-next {
    display: none;
  }
  .checkbox1 {
    width: 100%;
    /* margin: 15px auto; */
    position: relative;
    display: block;
    margin-top: 0 !important;
    /* margin-left: 208px!important; */
    position: absolute;
    top: -32px;
  }
  #s-cart-right-details-3 {
    margin-top: 0 !important;
  }
  #take-away-txt-1, #take-away-txt-2 {
    color: #777777;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 0 !important;
  }
  #menu-cart {
    /* vertical-align: middle!important; */
    margin-left: 0 !important;
    margin-top: 7%;
  }
  #cart-para {
    width: 290px;
    height: 77px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #4c4c4c;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin-left: 30px !important;
    margin-top: 5%!important;
    margin-bottom: 9%!important;
  }
  [class*="col-"] {
    width: 100%;
  }
  #s-cart-right-details {
    /* border-top: 2px solid #b7b7b7; */
    border-bottom: 2px solid #b7b7b7;
    width: 85.3%;
    padding-bottom: 3.5%;
    padding-top: 3.5%;
    margin-left: 9%;
  }
  #item-name {
    width: 157px;
    height: 19px;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 17px;
    color: #2a2a2a;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: left;
    margin-left: -4%;
  }
  #s-cart-right-details-3 #sub-total {
    /* margin-top: 40%; */
    margin-left: 15%;
    display: inline-block;
  }
  #s-cart-right-details-3 #item-price-right {
    margin-top: 4px;
    margin-left: -38%;
  }
  #sub-total-sub {
    margin-top: 32%;
    margin-left: -20%;
  }
  #item-price-right-sub {
    margin-top: 17%;
    margin-left: 171%;
  }
  #item-price-right {
    margin-left: 47%;
    margin-top: -14%;
  }
  .align-items-right-content #item-price-right {
    margin-left: 47%;
    margin-top: -14%;
  }
  .align-items-right-content #add-remove-s-cart {
    margin-left: 51%;
    margin-top: -14%;
  }
  .line {
    border-top: 2px solid #a1a1a1;
    margin-top: 5.5%;
    margin-left: -5%!important;
    margin-right: -2%;
    width: 111%;
  }
  .top-bar {
    background-color: #ebebeb;
    width: 920px;
    margin-left: -31%;
    margin-top: -4%;
  }
  .top-bar #edit i {
    color: #868686;
    font-size: 15px;
    font-size: 21px;
    margin-left: 30%;
    margin-top: 0.1%;
  }
  #proceed-btn #add-to-cart {
    width: 223px!important;
    height: 34px;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat';
    text-align: center;
    width: 259px;
    height: 32px;
    background-color: #bc040c;
    margin-left: 11.5%!important;
    margin-top: 5%;
    margin-bottom: 11%;
  }
  #s-cart-right-details-3 {
    margin-left: 1%;
    display: inline-flex;
    border-top: 2px solid #b7b7b7;
    width: 77.3%!important;
    padding-bottom: 2%;
    padding-top: 2%;
  }
  #top-bat-text {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #2a2a2a;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: left;
    margin-left: 8.9%;
    margin-bottom: -3%;
  }
  .checkbox label {
    position: absolute;
    min-height: 34px;
    /* display: block; */
    padding-left: 40px;
    margin-top: -12%;
    margin-left: 72px;
    font-weight: normal;
    cursor: pointer;
  }
  .post-code .form-control {
    width: 74%!important;
  }
  .fa-heart-o, .fa-heart {
    color: #bc040b;
    margin-top: 38%;
    /* margin-left: -208%; */
    font-size: 22px;
    position: sticky!important;
  }
  .cart-selection #add-to-cart {
    /* margin-left: 1%; */
    line-height: 30px;
    padding-left: 1%;
    padding-right: 1%;
  }
  #price-menu {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #4c4c4c;
    font-weight: 500;
    font-family: "Montserrat";
    /* text-align: center!important; */
    margin-left: 115%;
    margin-top: -57%;
  }
  /* .pricing-bar .add-remove {
    margin-left: -52%;
  } */
  .pricing-bar .fa-heart-o {
    color: black;
    font-size: 25px;
    margin-left: -167%;
    margin-top: 32%;
  }
  .pricing-bar .add-remove {
    margin-left: -23%;
    margin-top: -6px !important;
  }
  .inline {
    display: inline-flex;
    margin-left: 15%;
  }
  .cart-selection {
    margin-left: 0 !important;
  }
  .form-control {
    width: 100%;
    height: 34px;
    /* padding: 6px 12px; */
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
    padding: -1px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-family: "Montserrat";
    /* margin-bottom: 7%; */
  }
  .cart-selection .portion-btn {
    font-family: Raleway-SemiBold;
    /* font-size: 13px; */
    color: #353535;
    letter-spacing: 1px;
    line-height: 26px;
    border: 1px solid #353535;
    border-radius: 0px;
    background: #ffffff;
    transition: all 0.3s ease 0s;
    width: 93px;
    text-align: left;
    margin-bottom: 5%;
  }
  #myTabContent-menu img {
    padding: 0.9em;
    margin-top: 2em;
    margin-bottom: 0em;
  }
  .nav-prev {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 7px;
    margin-top: -6px;
    margin-left: 1%;
  }
  #preminu-range-text {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #434343;
    font-weight: 700;
    font-family: "Montserrat";
    /* margin-left: 21%; */
    text-align: center;
  }
  .cata-sub-nav {
    background: rgb(255, 255, 255);
    padding: 41px 3px 15px 0px;
    margin: 0 37px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    margin-left: 0;
    margin-top: 14%;
  }
  #menu-right-side #make-your-order-text h3 {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #2a2a2a;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    display: block;
  }
  #make-your-order-text h3 {
    display: none;
  }
  .form-control {
    width: 100%;
    height: 34px;
    /* padding: 6px 12px; */
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
    padding: -1px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-family: "Montserrat";
    /* margin-top: 8px; */
  }
  #preminu-range-text hr {
    margin-top: 19px;
    /* margin-bottom: 20px; */
    border: 2;
    border-top: 2px solid #a1a1a1;
    width: 82%;
    float: right;
  }
  .img-responsive {
    /* margin-top: -18%;
      width: auto;
      height: 10%;
      margin-left: 25%!important; */
    margin-left: 23%;
    margin: auto;
  }
  /* .body{
      margin-left: 10%;
      width: 100% !important;
    } */
  .navbar-inverse .navbar-toggle {
    /* background:black !important; */
  }
  #navbar-color {
    display: block !important;
  }
  /* .row {
    margin-right: -15px;
    margin-left: -0px !important; 
  } */
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: initial !important;
  }
  footer p, h5, li {
    text-align: center;
  }
  .minus, .plus {
    /* width: 200px; */
    background: #353535;
    border-radius: 4px;
    padding: 6px 10px 6px 10px;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    color: white;
    /* margin-bottom: 3%; */
  }
  #number-box-menu {
    height: 26px;
    width: 47px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
    /* border-radius: 4px; */
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 21px;
    color: #131313;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
  }
  /* .number-box {
   
    width: 100px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 21px;
    color: #131313;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
  } */
  .card-content #add-to-cart {
    vertical-align: center;
    /* margin-top: inherit; */
    margin-left: 15%;
    margin-top: -20px;
  }
  #content-bottom-left {
    background-color: #bc040b;
    height: 10%;
    margin-left: -5%;
    width: 105%;
  }
  #content-bottom-right {
    background-color: #a5a5a5!important;
    ;
    height: 10%;
    margin-left: -5%;
    width: 105%;
  }
  .img-responsive-phone {
    margin-left: -12% !important;
    margin-top: -18%;
    width: auto;
    height: 10%;
  }
  #content-bottom-left-items {
    text-align: -webkit-center;
  }
  #content-bottom-left-items img {
    margin-bottom: 2%;
  }
  #myCarousel {
    margin-top: 25%;
  }
  #content-top-carousel-caption {
    position: absolute;
    /* right: 65%; */
    bottom: -17px;
    left: 11%;
    z-index: 10;
    padding-top: 50px;
    padding-bottom: 82px;
    color: #fff;
    text-align: left;
  }
  .pricing-bar {
    margin-left: 20%!important;
  }
  .align-items-right-content #input-group-s-cart {
    margin-left: 0 !important;
  }
}

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-device-height: 1024px) and (max-device-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .shopping-cart-placeholfer-text {
    width: 450px!important;
    margin-left: 269px!important;
  }
  .align-items-right-content #edit i {
    margin-left: 99%;
  }
  #s-cart-right-details #item-name {
    margin-left: 66%;
  }
  #s-cart-right-details #item-price-right {
    margin-left: 188%;
  }
  #s-cart-right-details-3 {
    margin-left: 14%!important;
  }
  #proceed-btn #add-to-cart {
    margin-left: 37%;
  }
  #s-cart-right-details-3 .col-xs-3:nth-child(1) {
    margin-left: -15%;
    width: 77%;
  }
}

/* media */

/*ipad pro----------------------------------------*/

@media only screen and (min-device-width: 1024px)
/*and (max-device-width: 1366px) */

and (max-device-height:1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .align-items-right-content #add-remove-s-cart {
    margin-left: 48%;
  }
  #menu-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 1298px;
    background-color: #efefef;
    margin-left: 30px;
    /* margin-right: 53px; */
  }
  #menu-right-side {
    /* padding-bottom: 12%; */
    margin-top: 5%;
    /* border-top: 1px solid #b7b7b7; */
    border-bottom: 1px solid #b7b7b7;
    background-color: white;
    width: 100%!important;
  }
  .top-bar {
    width: 920px;
    margin-left: -1%!important;
    margin-top: -1%;
  }
  .checkbox1 {
    margin-left: 288px!important;
  }
  #menu-cart {
    /* vertical-align: middle!important; */
    margin-left: 46%!important;
    margin-top: 7%;
  }
  #cart-para {
    width: 338px!important;
    height: 77px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #4c4c4c;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin-left: 34%!important;
    margin-top: 9%!important;
    margin-bottom: 9%!important;
  }
  #menu-rightbar-color {
    background-color: #efefef;
    margin-left: -37px;
    margin-right: 15px;
  }
  .menu-bar {
    border-right: 1px solid #b3b3b3 !important;
    width: 100%;
  }
  #make-your-order-text h3 {
    display: none;
  }
  .pricing-bar .fa-heart-o {
    margin-left: 79%!important;
  }
  #s-cart-right-details #item-name {
    margin-left: 41%;
  }
  .shopping-cart-placeholfer-text {
    width: 450px!important;
    margin-left: 302px!important;
  }
  .align-items-right-content #edit i {
    margin-left: 35%;
  }
  #s-cart-right-details #item-name {
    margin-left: 33%;
  }
  #s-cart-right-details #item-price-right {
    margin-left: 48%;
  }
  #s-cart-right-details-3 {
    margin-left: 17%!important;
  }
  #proceed-btn #add-to-cart {
    margin-left: 39%;
  }
  #s-cart-right-details-3 .col-xs-3:nth-child(1) {
    margin-left: 27%;
    width: 23%;
  }
  #s-cart-right-details-3 #item-total-price {
    margin-right: 13%!important;
    margin-top: -36px;
  }
}

@media (max-device-width: 812px) and (min-width: 375px) {
  /* .align-items-right-content #add-remove-s-cart {
    margin-left: 325px!important;
  } */
  .shopping-cart-placeholfer-text {
    width: 450px!important;
    /* margin-left: 269px!important; */
    display: initial;
  }
  .align-items-right-content #edit i {
    margin-left: 2%;
    margin-top: 0;
  }
  /* #s-cart-right-details #item-name {
    margin-left: 99%;
  } */
  #s-cart-right-details #item-price-right {
    margin-left: 180px;
    margin-top: -35px;
  }
  #s-cart-right-details-3 {
    margin-left: 14%!important;
  }
  #proceed-btn #add-to-cart {
    margin-left: 37%;
  }
  #s-cart-right-details-3 .col-xs-3:nth-child(1) {
    margin-left: -15%;
    width: 77%;
  }
}

@media(min-width: 1550px) {
  #myTabContent-menu img {
    margin-left: 11%;
  }
}