#restaurant .container-fluid {
  background: #efefef;
  margin-top: 110px;
}

#menu-item-figure {
  background: #efefef;
  /* max-width: 100%; */
  padding-bottom: 60px;
  border-right: 1px solid #b7b7b7;
}

#menu-item-figure #menu-bar-row {
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  background: #FFF;
  height: 68px;
}

#menu-bar-row .cata-sub-nav {
  padding: 50px 0 14px 0;
  background: transparent;
  margin-left: -19%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#menu-bar-row .menu-list {
  margin-left: 21%;
  margin-top: -1.5%;
  display: flex;
}

#menu-bar-row .menu-list li {
  display: inline-table;
  margin: 0 20px;
}

#menu-bar-row .menu-list li .list-item {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: normal;
  color: #9b9b9b;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
}

#menu-bar-row .menu-list li:hover .list-item {
  color: #028F38;
  text-decoration: none;
}

#menu-bar-row .menu-list li.active .list-item {
  color: #028F38;
  border-bottom: 7px solid #028F38;
  padding-bottom: 8px;
  text-decoration: none;
}

#menu-bar-row .nav-next, #menu-bar-row .nav-prev {
  font-size: 52px;
  width: 25px;
  height: 25px;
  position: absolute;
  color: #028F38;
  border: none;
  margin-top: -45px;
  z-index: 1;
}

#menu-bar-row .nav-next {
  right: 23px;
}

#menu-bar-row .nav-prev {
  left: 7px;
  margin-left: 1%;
}

#menu-item-figure .items-sec {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 1298px;
  padding: 0 18px;
}

#menu-item-figure .items-sec::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#menu-item-figure .items-sec::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 100px;
}

#menu-item-figure .heading-row {
  padding-top: 35px;
  padding-bottom: 30px;
}

#menu-item-figure .heading-row h3 {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

#menu-item-figure .heading-row .line {
  width: 100%;
  height: 0;
  border-top: 2px solid #a1a1a1;
  display: inline-block;
}

#menu-item-figure #menu-item {
  padding-right: 8px;
  padding-left: 8px;
}

#menu-item .menu-item-card {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 40px;
}

#menu-item .menu-item-card .item-img-sec {
  background: #FFF;
  width: 100%;
  height: 270px;
  padding: 25px 25px;
}

#menu-item .menu-item-card .item-img-sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#menu-item .menu-item-card .vege-flag {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#menu-item .menu-item-card .item-desc-sec {
  padding: 20px 15px 0 15px;
}

#menu-item .menu-item-card .item-desc-sec h4 {
  font-size: 14px;
  line-height: normal;
  color: #4c4c4c;
  font-weight: 600;
  font-family: "Montserrat";
  text-transform: capitalize;
  margin: 0 0 10px 0;
}

#menu-item .menu-item-card .item-desc-sec .desc {
  color: #4c4c4c;
  font-size: 12px;
  line-height: 19px;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 55px;
  overflow: hidden;
}

#menu-item .menu-item-card .rating-star {
  color: #d6d6d6;
}

#menu-item .menu-item-card .pricing-bar-row {
  margin-bottom: 12px;
}

#menu-item .menu-item-card .pricing-bar-row .item-price {
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: normal;
  font-family: "Montserrat";
  text-align: left;
  padding-top: 3px;
  margin: 0;
}

#menu-item .menu-item-card .pricing-bar-row .item-price span {
  margin-right: 2px;
}

#menu-item .menu-item-card .count-btn {
  display: flex;
}

#menu-item .menu-item-card .count-btn .number-input {
  height: 26px;
  width: 48px;
  text-align: center;
  color: #131313;
  border: 1px solid #b7b7b7;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
}

#menu-item .menu-item-card .count-btn .minus-btn, #menu-item .menu-item-card .count-btn .plus-btn {
  height: 26px;
  width: 26px;
  display: inline-block;
  background: #353535;
  border-radius: 0;
  padding: 3px 0;
  border: 1px solid #353535;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
}

#menu-item .menu-item-card .pricing-bar-row #fav-btn i {
  color: #028F38;
  font-size: 22px;
  cursor: pointer;
  padding-top: 2px;
  margin: 0;
}

#menu-item .menu-item-card .pricing-bar-row #fav-btn.selected i {
  color: #028F38;
}

#menu-item .menu-item-card .select-dropdown select {
  width: 100%;
  height: 32px;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  color: #2a2a2a;
  background: #FFF;
  border: 1px solid #b7b7b7;
  border-radius: 0;
  padding: 0 5px;
}

#menu-item .menu-item-card #add-to-cart-btn {
  background-color: #028F38;
  color: #FFF;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: normal;
  font-weight: 700;
  font-family: 'Montserrat';
  border: none;
  border-radius: 0;
  width: 100%;
  height: 32px;
  margin-left: 2px;
  /* padding: 0 18px; */
}

#menu-item .menu-item-card .btn-without-dropdown-sec {
  left: 50%;
  transform: translateX(-50%);
}

#menu-item .menu-item-card .btn-without-dropdown-sec #add-to-cart-btn {
  width: 92%;
}

.no-left-pd {
  padding-left: 0;
}

.no-right-pd {
  padding-right: 0;
}

/*---- styles for right side cart section ----*/

#right-side-cart-figure {
  background: #FFF;
  border: 1px solid #b7b7b7;
  text-align: center;
  border-left: none;
}

.make-order-txt-row {
  border-bottom: 1px solid #b7b7b7;
  padding: 25px 0;
}

.make-order-txt-row h3 {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0;
}

.cart-items-count-row {
  background: #ebebeb;
  padding: 14px 16px;
}

.cart-items-count-row h5 {
  font-size: 13px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: left;
  margin: 0;
}

.cart-items-count-row .remove-btn {
  float: right;
}

.empty-cart-sec {
  padding: 40px 0;
}

.empty-cart-sec h4 {
  font-size: 18px;
  line-height: normal;
  color: #777;
  font-weight: 600;
  font-family: "Montserrat";
  margin: 0;
}

.empty-cart-sec img {
  width: 75px;
  height: auto;
  display: inline-block;
  margin: 45px 0;
}

.empty-cart-sec p {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #4c4c4c;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding: 0 10%;
}

#cart-items-figure {
  padding: 0 16px 40px 16px;
}

#cart-items-figure .cart-items-row {
  border-bottom: 1px solid #b7b7b7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-items-row .count-btn {
  float: right;
}

.cart-items-row .count-btn .number-input {
  height: 28px;
  width: 60px;
  text-align: center;
  color: #131313;
  border: 1px solid #b7b7b7;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
}

.cart-items-row .count-btn .minus-btn, .cart-items-row .count-btn .plus-btn {
  height: 28px;
  width: 28px;
  display: inline-block;
  background: #353535;
  border-radius: 0;
  padding: 3px 0;
  border: 1px solid #353535;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}

.remove-btn {
  cursor: pointer;
}

.remove-btn i {
  color: #868686;
  font-size: 20px;
}

.remove-btn span {
  font-size: 11px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 400;
  font-family: "Montserrat";
  text-decoration: underline;
  text-underline-position: under;
  margin-left: 5px;
}

.cart-items-row .item-name {
  font-size: 12px;
  line-height: 18px;
  color: #2a2a2a;
  font-weight: 500;
  font-family: "Montserrat";
  text-transform: none;
  text-align: left;
  margin: 0;
}

.cart-items-row .sub-item-name {
  font-size: 11px;
  line-height: 18px;
  color: #2a2a2a;
  font-weight: 400;
  font-family: "Montserrat";
  display: block;
  text-align: left;
}

.cart-items-row .sub-item-name.sub {
  font-size: 10px;
}

.cart-items-row .item-price {
  font-size: 14px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: right;
  margin: 0;
}

.cart-items-row .bottom-row {
  margin-top: 18px;
}

.cart-items-row .bottom-row .remove-btn {
  float: left;
}

.checkbox-option-row {
  margin-top: 20px;
  margin-bottom: 35px;
}

.checkbox-option-row h4 {
  font-family: "Montserrat";
  color: #2a2a2a;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.checkbox-option-row input[type="checkbox"] {
  display: none;
}

.checkbox-option-row label {
  position: relative;
  display: block;
  cursor: pointer;
  float: right;
  right: 32px;
}

.checkbox-option-row label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 31px;
  height: 31px;
  transition: transform 0.28s ease;
  background-color: transparent;
  border: 2px solid #777;
}

.checkbox-option-row label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #FFF;
  border-left: 2px solid #FFF;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  top: 12px;
  left: 10px;
}

.checkbox-option-row input[type="checkbox"]:checked~label:before {
  border: 2px solid #028F38;
  background-color: #028F38;
}

.checkbox-option-row input[type="checkbox"]:checked~label:after {
  transform: rotate(-45deg) scale(1);
}

.checkbox-option-row input[type="checkbox"]:focus+label::before {
  outline: 0;
}

.input-option-row input {
  width: 100%;
  height: 40px;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 500;
  color: #2a2a2a;
  background: #FFF;
  border: 1px solid #b7b7b7;
  border-radius: 0;
  margin-bottom: 20px;
}

.sub-amount-row {
  margin-bottom: 15px;
}

.sub-amount-row h4 {
  font-size: 13px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: capitalize;
  text-align: left;
  margin: 0;
}

.sub-amount-row .amount {
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  position: relative;
}

.sub-amount-row .amount span {
  position: absolute;
  right: 70px;
}

.total-amount-row {
  border-top: 1px solid #b7b7b7;
  border-bottom: 3px solid #b7b7b7;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.total-amount-row h4 {
  font-size: 16px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: left;
  margin: 0;
}

.total-amount-row .tot-price {
  text-align: right;
  position: relative;
}

.total-amount-row .tot-price span {
  position: absolute;
  right: 70px;
}

.amount-figure {
  padding: 0 16px;
  margin-top: 10px;
}

#cart-items-figure #proceed-btn {
  background-color: #028F38;
  color: #FFF;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 40px;
  font-weight: 700;
  font-family: 'Montserrat';
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 0 18px;
}

#cart-items-figure #proceed-btn:hover {
  -webkit-transform: scale(1.1);
}

/*---- //styles for right side cart section ----*/

.no-left-pd {
  padding-left: 0;
}

.no-right-pd {
  padding-right: 0;
}

.cart-float-btn-mob {
  background: #bc040b;
  height: 55px;
  width: 55px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  z-index: 99999;
  display: none;
}

.cart-float-btn-mob img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1900px) {
  #menu-bar-row .nav-prev {
    margin-top: -45px !important;
  }
}

@media only screen and (min-width: 812px) and (max-width : 1366px) {
  #menu-item-figure {
    width: 72%;
  }
  #right-side-cart-figure {
    width: 28%;
  }
  #menu-item-figure #menu-item.col-lg-3 {
    width: 33.33%;
  }
}

@media only screen and (max-width: 768px) {
  .cart-float-btn-mob {
    display: block;
  }
  #menu-item .menu-item-card .btn-without-dropdown-sec {
    width: 100%;
  }
  #menu-item .menu-item-card .btn-without-dropdown-sec #add-to-cart-btn {
    /*width: 50%;*/
    width: 140px;
    padding: 0 18px;
  }
  #menu-bar-row .cata-sub-nav {
    margin-top: -20px;
  }
  #menu-bar-row .nav-next i, #menu-bar-row .nav-prev i {
    display: none;
  }
  .menu-item-card .pricing-bar-row .col-sm-5 {
    width: 40%;
    float: left;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
}

@media only screen and (max-width: 480px) {
  #restaurant .container-fluid {
    margin-top: 27%;
  }
}

/* ////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////// */

.menu-card-size .col-md-3 {
  padding: 0px;
}

/* Sub menu new */

.cata-sub-nav {
  background: rgb(255, 255, 255);
  padding: 41px 3px 15px 0px;
  margin: 0 37px;
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* Remove the default scrollbar for WebKit implementations */
  margin-left: -19%;
}

.align-menu-items ul li {
  position: relative;
  display: table-cell;
  width: 100%;
}

.cata-sub-nav::-webkit-scrollbar {
  display: none;
}

.cata-sub-nav ul {
  margin: 0;
  display: flex;
  -webkit-padding-start: 0px;
}

.cata-sub-nav {
  background: rgb(255, 255, 255);
  /* padding: 41px 3px 15px 0px; */
  padding: 50px 4px 6px 0px;
  margin: 0 37px;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  margin-left: -19%;
}

.cata-sub-nav li {
  display: inline-table;
  margin: 0 10px;
  font-size: 16px;
}

.arrow {
  background: red;
}

.arrow1, .arrow2 {
  color: #bc040b;
  border: none;
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #bc040b;
  font-weight: 700;
  font-family: "Montserrat";
  border: 0px;
  border-bottom: solid #bc040b 4px;
  background-color: transparent;
}

#myTab li a.active, #myTab li a:hover, #myTab li a:focus {
  /* color: #bc040b;
  border-bottom: 2px solid; */
}

.nav-prev {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 7px;
  margin-top: -21px;
  margin-left: 1%;
}

.nav-next {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 23px;
  margin-top: -39px;
}

/* Sub menu new Ends */

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

#menu-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
  height: 700px;
  background-color: #efefef;
}

#cart-empty-text {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #777777;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 0px!important;
}

.spectrum-h2 {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #7d7d7d;
  font-weight: 700;
  font-family: "Montserrat";
}

/* Portion drop down */

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  color: rgb(3, 3, 3);
  background-color: #ffffff!important;
  border-color: #ffffff!important;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-color: #4d4e4e;
}

/* honizontal line */

/* .line {
  border-top: 2px solid #a1a1a1;
  margin-top: 5.5%;
  margin-left: -9%;
  margin-right: -5%;
}
 */

/* PREMIUM RANGE text styling */

#preminu-range-text {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #434343;
  font-weight: 700;
  font-family: "Montserrat";
}

#preminu-range-text hr {
  margin-top: 19px;
  /* margin-bottom: 20px; */
  border: 2;
  border-top: 2px solid #a1a1a1;
  width: 82%;
  float: right;
}

/* end of the premium rang text styles */

#myTab-menu ul a {
  /* margin-left: 4%;
  margin-top: 4.3%; */
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 0px;
  color: #9b9b9b;
  font-weight: 700;
  font-family: "Montserrat";
}

#myTab-menu ul {
  /* margin-left: 4%;
  margin-top: -1%; */
  margin-left: 4%;
  margin-top: 5%;
}

#menu-sub-menu {
  margin-top: 6%;
  border-top: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  background-color: white;
}

#arrow-left-menu {
  margin-top: 28%;
}

#arrow-right-menu {
  margin-top: 28%!important;
}

#menu-rightbar-color {
  background-color: #efefef;
}

#myTab-menu {
  margin-top: 2%;
}

.card-content #add-to-cart {
  margin-left: 4%!important;
}

.caret-drop-arrow {
  margin-left: 2%;
}

.navbar-inverse-menu {
  border-bottom: 1px solid #a1a1a1;
}

/* menue card slider styles */

#myTabContent-menu img {
  padding: 1.6em;
  margin-top: 0em;
  margin-bottom: 0em;
}

/* end of the menue card slider styles */

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.content-mid-right {
  background: white;
}

.snav-links h3 {
  color: grey;
}

.menu-bar {
  background-color: white;
}

.food-items li {
  list-style: none;
}

.cart {
  background-color: white;
  border: 1px solid #ddd;
}

.cart-title h4 {
  text-align: center;
  font-weight: bold;
}

/* .cart-selection{
      display: inline;
  } */

.cart-selection .portion-btn {
  font-family: Raleway-SemiBold;
  /* font-size: 13px; */
  color: #353535;
  letter-spacing: 1px;
  line-height: 26px;
  border: 1px solid #353535;
  border-radius: 0px;
  background: #ffffff;
  transition: all 0.3s ease 0s;
  text-align: left;
  width: 98px!important;
  text-align: left;
  font-family: "Montserrat";
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-family: "Montserrat";
}

.dropdown button {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-family: "Montserrat";
}

.form-control {
  width: 100%;
  height: 34px;
  /* padding: 6px 12px; */
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  display: block;
  padding: -1px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-family: "Montserrat";
}

#price-menu {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #4c4c4c;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}

.cart-selection .btn:hover {
  color: #353535;
  background: white;
  border: 1px solid #353535;
}

.cart-selection {
  margin-left: 0%;
}

.pricing-bar {
  margin-left: -10%;
}

.cart-selection #add-to-cart {
  margin-left: 1%;
  line-height: 30px;
  padding-left: 3%;
  padding-right: 3%;
}

.pricing-bar .add-remove {
  margin-left: -23%;
}

.pricing-bar .number-box {
  /* width: 80px; */
}

.pricing-bar .price {
  font-size: 1.5em;
  margin-top: 7%;
  color: #444343;
}

.pricing-bar .fa-heart-o {
  color: black;
  font-size: 25px;
  margin-left: -101%;
}

.caret {
  margin-left: 14%;
}

.rating {
  text-align: center;
  color: #d6d6d6;
  font-size: 1.6em;
}

/*Floating Menu*/

.main-content {
  position: inline;
}

.main-content .owl-theme .custom-nav {
  position: inline;
  top: 10%;
  left: 0;
  right: 0;
}

.main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 50px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}

.main-content .owl-theme .custom-nav .owl-prev i, .main-content .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: red;
}

.main-content .owl-theme .custom-nav .owl-prev {
  left: 0;
}

.main-content .owl-theme .custom-nav .owl-next {
  right: 0;
}

/* check box */

.checkbox1 {
  width: 100%;
  /* margin: 15px auto; */
  position: relative;
  display: block;
  margin-top: 15px;
  margin-left: 83px;
}

.checkbox label {
  position: relative;
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-left: 72px;
  font-weight: normal;
  cursor: pointer;
}

.checkbox1 label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox1 label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  /* margin: 4px; */
  width: 31px!important;
  height: 31px!important;
  transition: transform 0.28s ease;
  /* border-radius: 3px; */
  background-color: transparent;
  border: 2px solid #777777;
}

.checkbox1 label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  top: 12px;
  left: 10px;
}

.checkbox1 input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}

.checkbox1 input[type="checkbox"]:checked~label:before {
  border: 2px solid #bc040b;
  background-color: #bc040b;
}

.checkbox1 input[type="checkbox"]:checked~label:after {
  transform: rotate(-45deg) scale(1);
}

.checkbox1 input[type="checkbox"]:focus+label::before {
  outline: 0;
}

#checked-none label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  /* margin: 4px; */
  width: 31px!important;
  height: 31px!important;
  transition: transform 0.28s ease;
  /* border-radius: 3px; */
  background-color: transparent;
  border: 2px solid #777777;
}

.checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  /* margin: 4px; */
  width: 31px!important;
  height: 31px!important;
  transition: transform 0.28s ease;
  /* border-radius: 3px; */
  background-color: transparent;
  border: 2px solid #777777;
}

#checked-none label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  top: 12px;
  left: 10px;
}

#checked-none input[type="checkbox"]:checked~label:before {
  border: 2px solid #bc040b;
  background-color: #bc040b;
}

#checked-none input[type="checkbox"]:checked~label:after {
  transform: rotate(-45deg) scale(1);
}

#checked-none input[type="checkbox"]:focus+label::before {
  outline: 0;
}

#take-away-txt-1, #take-away-txt-2 {
  color: #777777;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.checkbox label {
  position: relative;
  min-height: 36px;
  display: block;
  padding-left: 45px;
  margin-left: 65px;
  font-weight: normal;
  cursor: pointer;
  margin-top: 11%;
}

/* EMNU SIDE BAR STYLING */

#make-your-order-text h3 {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #2a2a2a;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

#menu-right-side #make-your-order-text h3 {
  display: none;
}

#menu-right-side h3 {
  margin-top: 4%!important;
  font-size: 13px!important;
  letter-spacing: 1px;
  line-height: 46px;
  color: #2a2a2a;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

#menu-right-side {
  /* padding-bottom: 12%; */
  margin-top: 5%;
  /* border-top: 1px solid #b7b7b7; */
  border-bottom: 1px solid #b7b7b7;
  background-color: white;
}

#cart-empty-text {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #777777;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 18%;
}

#menu-cart {
  /* vertical-align: middle!important; */
  margin-left: 38%;
  margin-top: 7%;
}

#menu-cart img {
  max-width: 28%;
}

#cart-para {
  width: 290px;
  height: 77px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #4c4c4c;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-left: 10%;
  margin-top: 19%;
  margin-bottom: 19%;
}

#menu-sidebar-bottom {
  background-color: #efefef;
}

/* ----------------------------MENU Page Styles------------------------- */

.veg-flag {
  float: right;
  z-index: 999999;
  position: absolute;
  left: 80%;
}

.vege {
  margin-top: 8px;
  margin-left: -7px;
  z-index: 2;
  height: 30px;
}

.halal {
  margin-top: 8px;
  margin-left: -7px;
  z-index: 2;
  height: 35px;
}

.chilli {
  margin-top: 8px;
  margin-left: -7px;
  z-index: 2;
  height: 35px;
}

/* .navbar-inverse-menu {
  border-bottom: 1px solid #b3b3b3 !important;
} */

.menu-bar {
  border-right: 1px solid #b3b3b3 !important;
}

.spectrum1 {
  background-color: white;
}

#menu-desserts .flexslider {
  background-color: #efefef;
}

.menu-desserts .flexslider {
  background-color: #efefef;
}

#menu-desserts {
  margin-top: 4%;
}

#myTabContent-menu img {
  padding: 1.6em;
  margin-top: 0em;
  margin-bottom: 0em;
  /* min-height: 193px;
    min-width: 153px;
    max-height: 151px; */
  min-height: 228px;
  min-width: 228px;
  max-height: 228px;
  max-width: 228px;
  object-fit: cover;
}

.btn-div2 {
  left: 50%;
  transform: translateX(-50%);
}

/*media*/

@media only screen and (max-width: 968px) and (min-width:770px) {
  #s-cart-right-details {
    border-top: 0px solid #b7b7b7;
    border-bottom: 0px solid #b7b7b7;
    width: 85.3%;
    padding-bottom: 3.5%;
    padding-top: 3.5%;
    margin-left: 7%;
  }
  #preminu-range-text hr {
    margin-top: 19px;
    /* margin-bottom: 20px; */
    border: 2;
    border-top: 2px solid #a1a1a1;
    width: 82%;
    float: right;
  }
  .img-responsive-phone {
    margin-top: -18%;
    width: auto;
    height: 10%;
    margin-left: 25%!important;
  }
  #content-bottom-left-items {
    text-align: -webkit-center;
  }
  #content-bottom-left-items h2 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #fefefe;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: -9%;
  }
}

@media screen and (min-width: 1900px) {
  .spectrum-h2 {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #7d7d7d;
    font-weight: 700;
    font-family: "Montserrat";
  }
  .nav-prev {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 7px;
    margin-top: -21px;
    margin-left: 1%;
  }
  .nav-next {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 23px;
    margin-top: -39px;
  }
  #preminu-range-text {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 82px!important;
    color: #434343;
    font-weight: 700;
    font-family: "Montserrat";
  }
  #myTab {
    margin-left: 27%!important;
    margin-top: -1%!important;
  }
  .pricing-bar .number-box {
    width: 80px!important;
  }
  .pricing-bar .number-box {
    width: 80px!important;
  }
  .pricing-bar .fa-heart-o {
    color: black;
    font-size: 25px;
    margin-left: -13%!important;
  }
  #myTabContent-menu img {
    padding: 1.6em;
    margin-top: 0em;
    margin-bottom: 0em;
    min-height: 311px;
    min-width: 256px;
    max-height: 298px;
  }
  #price-menu {
    font-size: 16px!important;
    letter-spacing: 1px;
    line-height: 25px;
    color: #4c4c4c;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: center;
  }
  .vege {
    margin-top: 8px;
    margin-left: -7px;
    z-index: 2;
    height: 40px!important;
    width: 36px!important;
  }
}

@media only screen and (max-width: 768px) {
  /* .btn-div2 {
    left: 108%;
    transform: translateX(-50%);
  } */
  .pricing-bar {
    margin-left: 19%;
  }
  .cart-selection {
    margin-left: 30%!important;
    margin-top: 28px;
  }
  .pricing-bar .fa-heart-o {
    color: black;
    font-size: 25px;
    margin-left: -8%!important;
    margin-top: 0px!important;
  }
  #price-menu {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #4c4c4c;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: center;
    margin-left: -96px!important;
  }
  .number .minus-menu {
    background: rgb(53, 53, 53);
    padding: 2px 12px 8px;
    border: 1px solid rgb(221, 221, 221);
    vertical-align: middle;
    text-align: center;
    color: white;
    cursor: pointer;
    height: 26px;
    font-weight: 900;
    margin-left: -48px;
  }
  .top-bar {
    background-color: #ebebeb;
    width: 920px;
    margin-left: -6%;
    margin-top: 3%;
  }
  .checkbox1 {
    width: 100%;
    /* margin: 15px auto; */
    position: relative;
    display: block;
    margin-top: 61px!important;
    margin-left: 192px!important;
  }
  #take-away-txt-1, #take-away-txt-2 {
    color: #777777;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    margin-left: 238px;
    width: fit-content;
    margin-top: 49px!important;
  }
  #menu-cart img {
    max-width: 28%;
    margin-left: 70px!important;
  }
  #cart-para {
    width: 290px;
    height: 77px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #4c4c4c;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin-left: 36%!important;
    margin-top: 9%!important;
    margin-bottom: 4%!important;
  }
  /* [class*="col-"] {
    width: 100%;
  } */
  #inputState {
    margin-top: 2%;
  }
  .inline {
    /* display: inline-flex; */
    margin-left: 15%;
  }
  .footer-link {
    display: flex;
  }
  .veg-flag {
    left: 72%;
    top: 1%;
  }
  #myTabContent-menu img {
    padding: 0.9em;
    margin-top: 2em;
    margin-bottom: 0em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  /* .form-control {
    width: 112%;
    height: 33px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
    padding: -2px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-family: "Montserrat";
    margin-bottom: 5%;
    margin-left: -11%;
    padding-left: 40px;
    margin-top: -12%;
    font-weight: normal;
    cursor: pointer;
  } */
  .nav-prev {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 7px;
    margin-top: -4.5px;
    margin-left: 1%;
  }
  .nav-next {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 23px;
    margin-top: -37px;
  }
  .cata-sub-nav {
    background: rgb(255, 255, 255);
    padding: 35px 48px 13px;
    margin: 0 37px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    margin-left: -32%;
  }
  #menu-sub-menu {
    margin-top: 20%;
    border-top: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    background-color: white;
  }
  #menu-desserts .flexslider {
    background-color: #efefef;
    margin-bottom: -13%;
  }
  #menu-right-side #make-your-order-text h3 {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #2a2a2a;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    display: block;
  }
  #make-your-order-text h3 {
    display: none;
  }
  #menu-cart img {
    max-width: 28%;
    margin-left: 5%;
  }
  #myTab-menu ul {
    margin-left: 4%;
    margin-top: 26%;
  }
  #cart-para {
    width: 290px;
    height: 77px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #4c4c4c;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin-left: 12%;
    margin-top: 9%;
    margin-bottom: 16%;
  }
  .pricing-bar .add-remove {
    margin-left: -66%;
  }
  .inline {
    display: grid;
    /* margin-left: -27%; */
  }
  .add-remove {
    /* width: 65%; */
    margin-left: 38%;
  }
  .cart-selection .portion-btn {
    font-family: Raleway-SemiBold;
    /* font-size: 13px; */
    color: #353535;
    letter-spacing: 1px;
    line-height: 26px;
    border: 1px solid #353535;
    border-radius: 0px;
    background: #ffffff;
    transition: all 0.3s ease 0s;
    width: 93px;
    text-align: left;
    margin-bottom: 5%;
  }
  #preminu-range-text {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #434343;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
  }
  #preminu-range-text hr {
    margin-top: 19px;
    /* margin-bottom: 20px; */
    border: 2;
    border-top: 2px solid #a1a1a1;
    width: 82%;
    float: right;
  }
  .img-responsive {
    /* margin-top: -18%;
    width: auto;
    height: 10%;
    margin-left: 25%!important; */
    margin-left: 23%;
    margin: auto;
  }
  /* .body{
    margin-left: 10%;
    width: 100% !important;
  } */
  .navbar-inverse .navbar-toggle {
    /* background:black !important; */
  }
  #navbar-color {
    display: block !important;
  }
  /* .row {
  margin-right: -15px;
  margin-left: -0px !important; 
} */
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: initial !important;
  }
  footer p, h5, li {
    text-align: center;
  }
  .minus, .plus {
    /* width: 200px; */
    background: #353535;
    border-radius: 4px;
    padding: 6px 10px 6px 10px;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    color: white;
    /* margin-bottom: 3%; */
  }
  #number-box-menu {
    height: 26px;
    width: 47px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
    /* border-radius: 4px; */
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 21px;
    color: #131313;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
  }
  /* .number-box {
 
  width: 100px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 21px;
  color: #131313;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 7%;
  margin-bottom: 7%;
} */
  .card-content #add-to-cart {
    vertical-align: center;
    margin-top: 1%;
    margin-left: 15%;
    margin-bottom: 3%;
  }
  #content-bottom-left {
    background-color: #bc040b;
    height: 10%;
    margin-left: -5%;
    width: 105%;
  }
  #content-bottom-right {
    background-color: #a5a5a5!important;
    ;
    height: 10%;
    margin-left: -5%;
    width: 105%;
  }
  .img-responsive-phone {
    margin-left: -12% !important;
    margin-top: -18%;
    width: auto;
    height: 10%;
  }
  #content-bottom-left-items {
    text-align: -webkit-center;
  }
  #content-bottom-left-items img {
    margin-bottom: 2%;
  }
  #myCarousel {
    margin-top: 25%;
  }
  #content-top-carousel-caption {
    position: absolute;
    /* right: 65%; */
    bottom: -17px;
    left: 11%;
    z-index: 10;
    padding-top: 50px;
    padding-bottom: 82px;
    color: #fff;
    text-align: left;
  }
  .fa-heart-o, .fa-heart {
    color: #bc040b;
    margin-top: 38%;
    /* margin-left: -208%; */
    font-size: 22px;
    position: sticky!important;
  }
  #price-menu {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #4c4c4c;
    font-weight: 500;
    font-family: "Montserrat";
    /* text-align: center!important; */
    /* margin-left: 115%; */
    margin-top: 0 !important;
  }
  .pricing-bar .add-remove {
    margin-left: -52%;
  }
  .pricing-bar .fa-heart-o {
    color: black;
    font-size: 25px;
    margin-left: -167%;
    margin-top: 32%;
  }
  .inline {
    display: inline-flex;
    margin-left: 15%;
  }
  .cart-selection .portion-btn {
    font-family: Raleway-SemiBold;
    /* font-size: 13px; */
    color: #353535;
    letter-spacing: 1px;
    line-height: 26px;
    border: 1px solid #353535;
    border-radius: 0px;
    background: #ffffff;
    transition: all 0.3s ease 0s;
    width: 93px;
    text-align: left;
    margin-bottom: 5%;
  }
  #myTabContent-menu img {
    padding: 0.9em;
    margin-top: 2em;
    margin-bottom: 0em;
  }
  .nav-prev {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 7px;
    margin-top: -6px;
    margin-left: 1%;
  }
  #preminu-range-text {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #434343;
    font-weight: 700;
    font-family: "Montserrat";
    /* margin-left: 21%; */
    text-align: center;
  }
  .cata-sub-nav {
    background: rgb(255, 255, 255);
    padding: 41px 3px 15px 0px;
    margin: 0 37px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    margin-left: -19%;
    margin-top: 14%;
  }
  #menu-right-side #make-your-order-text h3 {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #2a2a2a;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    display: block;
  }
  #make-your-order-text h3 {
    display: none;
  }
}

/* media */

@media (max-device-width: 812px) and (min-width: 375px) {
  .vege {
    margin-top: 21px;
    margin-left: 1px;
    z-index: 2;
    /* height: 125px!important; */
  }
  .pricing-bar {
    margin-left: 19%!important;
  }
  .cart-selection {
    margin-left: 30%!important;
    margin-top: 28px;
  }
  .pricing-bar .fa-heart-o {
    color: black;
    font-size: 25px;
    margin-left: -8%!important;
    margin-top: 0px!important;
  }
  #price-menu {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #4c4c4c;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: center;
    /* margin-left: 77px!important; */
  }
  .number .minus-menu {
    background: rgb(53, 53, 53);
    padding: 2px 12px 8px;
    border: 1px solid rgb(221, 221, 221);
    vertical-align: middle;
    text-align: center;
    color: white;
    cursor: pointer;
    height: 26px;
    font-weight: 900;
    margin-left: -48px;
  }
  .top-bar {
    background-color: #ebebeb;
    width: 920px;
    margin-left: -6%!important;
    margin-top: 3%!important;
  }
  .checkbox1 {
    width: 100%;
    /* margin: 15px auto; */
    position: relative;
    display: block;
    margin-top: 61px!important;
    margin-left: 192px!important;
  }
  #take-away-txt-1, #take-away-txt-2 {
    color: #777777;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    margin-left: 238px;
    width: fit-content;
    margin-top: 49px!important;
  }
  #menu-cart img {
    max-width: 28%;
    margin-left: 0 !important;
  }
  #cart-para {
    width: 290px;
    height: 77px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #4c4c4c;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin-left: 36%!important;
    margin-top: 9%!important;
    margin-bottom: 4%!important;
  }
  #myTabContent-menu img {
    padding: 1.6em;
    margin-top: 0em;
    margin-bottom: 0em;
    min-height: 193px;
    min-width: 153px;
    max-height: 100%!important;
  }
}

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-device-height: 1024px) and (max-device-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .vege {
    margin-top: 37px!important;
    margin-left: 1px;
    z-index: 2;
    height: 125px!important;
  }
}

/*ipad pro----------------------------------------*/

@media only screen and (min-device-width: 1024px)
/*and (max-device-width: 1366px) */

and (max-device-height:1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .vege {
    margin-top: 9px!important;
    margin-left: -28px;
    z-index: 2;
    height: 51px!important;
  }
}