/* ------------------Desktop------------------------ */

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  width: 84%;
  margin-left: 0.9%;
}

#email label {
  margin-left: -6.9%;
}

#email input {
  margin-left: -9.9%;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: white;
  opacity: 1;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  letter-spacing: 0px;
  line-height: 30px;
  color: #959595;
  font-weight: 400;
  font-family: "Montserrat";
  margin-left: -8%;
}

.left-content h6 {
  font-size: 20px;
  line-height: 38px;
  color: #3f3f3f;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: left;
  margin-left: 20%;
  margin-bottom: 0%;
}

.right-content-top h6 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #222222;
  font-weight: bold;
  font-family: "Montserrat";
  text-align: left;
  margin-top: 10%;
  margin-bottom: -5%;
  margin-left: -2.5%;
}

.right-content-mid h6 {
  text-align: left;
  font-size: 14px;
  color: #111111;
  font-weight: 700;
  font-family: "Montserra";
  margin-left: 1%;
}

.rec-details label {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #222222;
  font-weight: 500 !important;
  font-family: "Montserrat";
  margin-left: -3%;
}

/* Style the buttons inside the tab */

.tab button {
  display: block;
  background-color: inherit;
  color: #111111;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat";
  padding: 8px 5px;
  margin-top: -6%;
  margin-bottom: -6%;
}

/* Change background color of buttons on hover */

.tab button:hover {
  color: #ab0505;
}

/* Create an active/current "tab button" class */

.tab button.active {
  background-color: white;
  color: #ab0505;
}

#btn-txt-edit {
  cursor: pointer;
  /* vertical-align: initial; */
  margin-top: 13%;
}

#edit i {
  color: #868686;
  font-size: 15px;
  font-size: 21px;
}

#edit span {
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #2a2a2a;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  text-decoration: underline;
  margin-left: 9%;
}

/* ------------------------------------Large---------------------------------------- */

@media screen and (min-width: 1900px) {
  #btn-txt-edit {
    cursor: pointer;
    vertical-align: top;
  }
  .left-content h6 {
    font-size: 30px;
    line-height: 38px;
    color: #3f3f3f;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: left;
    margin-left: 20%;
    margin-bottom: 0%;
  }
  /* Change background color of buttons on hover */
  .tab button:hover {
    color: #ab0505;
  }
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: white;
    color: #ab0505;
  }
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    color: #111111;
    font-weight: 700;
    font-family: "Montserrat";
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
    opacity: 1;
  }
  .right-content-mid h6 {
    font-size: 16px;
    color: #111111;
    font-weight: 700;
    font-family: "Montserrat";
  }
  .form-control {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #959595;
    font-weight: 400;
    font-family: "Montserrat";
  }
  /* form */
  .rec-details label {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #222222;
    font-weight: 400;
    font-family: "Montserrat";
  }
  .right-content-mid h6 {
    font-size: 16px;
    color: #111111;
    font-weight: 700;
    font-family: "Montserrat";
  }
  .left-content h6 {
    font-size: 30px;
    line-height: 38px;
    color: #3f3f3f;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: left;
    margin-left: 20%;
  }
  .right-content-top h6 {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #222222;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: left;
  }
}

/* ---------------------------------Mobile-------------------------------------------- */

@media only screen and (max-width: 768px) {
  .tabcontent {
    /* float: right; */
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    margin-left: 19%;
  }
  #btn-txt-edit {
    cursor: pointer;
    /* vertical-align: initial; */
    margin-top: 13%;
  }
  /* Change background color of buttons on hover */
  .tab button:hover {
    color: #ab0505;
  }
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: white;
    color: #ab0505;
  }
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: #111111;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: -6%;
    margin-bottom: -6%;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
    opacity: 1;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    letter-spacing: 0px;
    line-height: 30px;
    color: #959595;
    font-weight: 400;
    font-family: "Montserrat";
    margin-left: -8%;
  }
  .left-content {
    padding-top: 30% !important;
  }
  .right-content {
    margin-left: -10%; */
  }
  .left-content h6 {
    font-size: 20px;
    line-height: 38px;
    color: #3f3f3f;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: left;
    margin-left: 10%;
    margin-bottom: 0%;
  }
  .right-content-top h6 {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #222222;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: left;
    margin-top: -1%;
    margin-bottom: -22%;
    margin-left: 16.5%;
  }
  .tab {
    margin-left: 10% !important;
  }
  #btn-txt-edit {
    cursor: pointer;
    /* vertical-align: initial; */
    margin-top: 2%;
    margin-left: 62%;
  }
  .right-content-mid h6 {
    text-align: left;
    font-size: 14px;
    color: #111111;
    font-weight: 700;
    font-family: "Montserra";
    margin-left: 2%;
  }
  #email label {
    margin-left: -11.9%;
  }
  #email input {
    margin-left: -16.9%;
  }
}

/* ----------------------------------------------- */

.left-content {
  padding-top: 10%;
  padding-bottom: 3.5%;
  background-color: white;
}

.right-content {
  padding-top: 10%;
  padding-bottom: 3.5%;
  background-color: white;
}

/* Style the tab */

.tab {
  float: left;
  width: 72%;
  margin-left: 20%;
}

/* Style the tab content */

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
}

.tablinks {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ab0505;
  font-weight: 700;
  font-family: "Montserrat";
}

.rec-details .form-group {
  text-align: left;
}