.pill-container {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: -75px;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 3rem;
  box-sizing: border-box;
}

.pill-container input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.selector {
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 91;
  padding-top: 7px;
  text-align: center;
  background-color: #ebebeb;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 16px;
  color: #4d4d4d;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  width: 382px;
  height: 35px;
  /* margin-left: -95px; */
  padding: 8px 81px 15px 16px;
}

/* .button-align-popup{
  margin-left: -128px;
} */

/* .button-align-popup label{
  margin-left: 15px;
} */

input[type="checkbox"]:checked+label {
  background: #7a7a7a;
  color: white;
}

.center-block .panel-title-align {
  margin-left: 10px;
}

/* button group styling using radio btns */

.donate-now {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
  display: inline-flex;
}

.donate-now li {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 60px;
  position: relative;
}

.donate-now label, .donate-now input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.donate-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.donate-now input[type="radio"]:checked+label, .Checked+label {
  background: #7a7a7a;
  color: white;
}

.donate-now label {
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #ebebeb;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 16px;
  color: #4d4d4d;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  /* max-height: fit-content; */
}

.donate-now label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.donate-now label:hover {
  background: #DDD;
}

/* end of the btn group styling */

.modal-content {
  background-color: #fefefe;
  margin-top: 10%;
  margin-left: 10%;
  padding: 20px;
  border: 1px solid #be000c;
  width: 59%;
  height: 127%;
}

#add-to-cart-h-mid-pop {
  margin: inherit;
  margin-left: 33%;
  background-color: #bc040b;
  float: left;
  /* box-shadow: 0 0 1px #ccc; */
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 33px!important;
  font-weight: 700;
  font-family: "Roboto";
  padding: 1px 19px 0px;
  margin-top: 19%!important;
}

#s-cart-right-details-3 {
  border-top: 2px solid #b7b7b7;
  /* width: 73.3%; */
  width: 78%;
  padding-bottom: 0%;
  padding-top: 2%;
  margin-left: 1%;
  margin-top: 50px;
  margin-bottom: -37px;
}

.pop-up .add-remove {
  width: 65%;
  margin-left: 49%;
}

.pop-up #add-remove-s-cart {
  margin-top: 18.5%;
  margin-bottom: 8%;
  margin-left: 49%;
}

.pop-up .number-box {
  height: 33px;
  width: 88px;
  text-align: center;
  font-size: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 0px!important;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 21px;
  color: #131313;
  font-weight: 700;
  font-family: "Montserrat";
  background-color: white!important;
  text-align: center;
}

.pop-up .minus {
  width: 44px;
  background: #353535;
  /* border-radius: 2px; */
  padding: 8px 12px 8px 12px;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-left: -82%;
}

.pop-up .plus {
  /* width: 46px; */
  background: #353535;
  /* border-radius: 2px; */
  padding: 7px 11px 8px 11px;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  color: white;
  cursor: pointer;
}

/* collaps btn group */

.panel-default>.panel-heading {
  color: #333;
  background-color: white;
  border-color: #ddd;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
  border-bottom: none;
}

.panel-default {
  border-color: white;
}

.btn-select {
  width: 80px;
  height: 38px;
  background-color: #ebebeb;
}

.btn-select:hover, .btn-select:active {
  width: 80px;
  height: 41px;
  background-color: #7a7a7a;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #ddd;
  margin-left: -57%;
}

.wrapper {
  width: 50%;
}

@media(max-width:992px) {
  .wrapper {
    width: 100%;
  }
}

.panel-heading {
  padding: 0;
  border: 0;
}

.panel-title>a, .panel-title>a:active {
  display: block;
  padding: 12px;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
  margin-left: -14%;
}

.panel-heading a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
}

.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* collaps btn group */

/* collaps btn group */

.panel-default>.panel-heading-one {
  color: #333;
  background-color: white;
  border-color: #ddd;
}

.panel-group .panel-heading-one+.panel-collapse>.panel-body {
  border-bottom: none;
}

.panel-default {
  border-color: white;
  border: none;
  box-shadow: none;
  background: none;
}

.btn-select {
  width: 80px;
  height: 38px;
  background-color: #ebebeb;
}

.btn-select:hover, .btn-select:active {
  width: 80px;
  height: 41px;
  background-color: #7a7a7a;
}

.panel-default>.panel-heading-one+.panel-collapse>.panel-body {
  border-top-color: #ddd;
  margin-left: -57%;
}

.wrapper {
  width: 50%;
}

@media(max-width:992px) {
  .wrapper {
    width: 100%;
  }
}

.panel-heading-one {
  padding: 0;
  border: 0;
}

.panel-title>a, .panel-title>a:active {
  display: block;
  padding: 12px;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
  margin-left: -14%;
}

.panel-heading-one a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
}

.panel-heading-one.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* collaps btn group */

/* collaps btn group */

.panel-default>.panel-heading-two {
  color: #333;
  background-color: white;
  border-color: #ddd;
}

.panel-group .panel-heading-two+.panel-collapse>.panel-body {
  border-bottom: none;
}

.panel-default {
  border-color: white;
}

.btn-select {
  width: 80px;
  height: 38px;
  background-color: #ebebeb;
}

.btn-select:hover, .btn-select:active {
  width: 80px;
  height: 41px;
  background-color: #7a7a7a;
}

.panel-default>.panel-heading-two+.panel-collapse>.panel-body {
  border-top-color: #ddd;
  margin-left: -57%;
}

.wrapper {
  width: 50%;
}

@media(max-width:992px) {
  .wrapper {
    width: 100%;
  }
}

.panel-heading-two {
  padding: 0;
  border: 0;
}

.panel-title>a, .panel-title>a:active {
  display: block;
  padding: 12px;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
  margin-left: -63%;
}

.panel-heading-two a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
}

.panel-heading-two.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* collaps btn group */

/* styles for desktop */

#pop-up-img img {
  width: 100%;
  max-width: 220px;
  height: auto;
  vertical-align: text-top;
  margin-left: 54px;
  margin-top: 6%;
}

#img-info-pop-up {
  width: 371px;
  height: 124px;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #131313;
  font-weight: 700;
  font-family: "Montserrat";
}

#pop-up-img p {
  width: 305px;
  height: 73px;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 17px;
  color: #4c4c4c;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  margin-top: -13%;
  border-bottom: 1px solid #b7b7b7;
}

#pop-up-img h5 {
  width: 263px;
  height: 124px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #131313;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: -webkit-center;
  margin-left: 7%;
}

#select-item {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #4d4d4d;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}

#pop-up-customize-txt {
  font-size: 11px;
  line-height: 13px;
  color: #4c4c4c;
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
  margin-top: -11%;
  margin-top: 4%;
  margin-left: -3%;
}

#pop-up-customize-txt span {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 15px;
  color: #4c4c4c;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-left: -12%;
}

/* right content styles */

#pop-up-title h5 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #4d4d4d;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}

/* large desktop */

@media screen and (min-width: 1900px) {
  .pill-container {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: -75px;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 3rem;
    box-sizing: border-box;
  }
  .pill-container input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  .selector {
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 91;
    padding-top: 7px;
    text-align: center;
    background-color: #ebebeb;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #4d4d4d;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    width: 379px;
    height: 33px;
  }
  .button-align-popup {
    margin-left: -128px;
  }
  #pop-up-img img {
    width: 100%;
    max-width: 300px;
    height: auto;
    vertical-align: text-top;
    margin-left: 54px;
    margin-top: 6%;
  }
  /* right content styles */
  .btn-select {
    width: 80px;
    height: 50px;
    background-color: #ebebeb;
  }
  .btn-select:hover, .btn-select:active {
    width: 80px;
    height: 50px;
    background-color: #7a7a7a;
  }
  #select-item {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 32px;
    color: #4d4d4d;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
  }
  #pop-up-title h5 {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 32px;
    color: #4d4d4d;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
  }
  #pop-up-customize-txt {
    font-size: 14px;
    line-height: 18px;
    color: #4c4c4c;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
  }
  #pop-up-customize-txt span {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #4c4c4c;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
  }
  #img-info-pop-up {
    width: 371px;
    height: 124px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #131313;
    font-weight: 700;
    font-family: "Montserrat";
  }
  #pop-up-img p {
    width: 402px;
    height: 73px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #4c4c4c;
    font-weight: 400;
    font-family: "Montserrat";
  }
}

@media only screen and (max-width: 768px) {
  #s-cart-right-details-3 {
    width: 100%;
  }
  .pop-up.btn-row {
    text-align: center;
  }
  .pop-up.btn-row .col-sm-12 {
    margin-bottom: 20px;
  }
  .panel-title>a, .panel-title>a:active {
    margin-left: 0;
  }
  .panel-default>.panel-heading+.panel-collapse>.panel-body {
    margin-left: 0;
  }
  .panel-default>.panel-heading-one+.panel-collapse>.panel-body, .panel-default>.panel-heading-two+.panel-collapse>.panel-body {
    margin-left: 0;
  }
  .modal-content {
    height: auto;
  }
  .selector {
    margin-left: 0;
  }
  #s-cart-right-details-3 {
    margin-top: 65px !important;
  }
  .pop-up #add-remove-s-cart {
    /* margin-top: -30.5%;
        margin-left: 70%; */
    margin-top: 0;
    margin-left: 45%;
  }
  .pop-up #add-to-cart-h-mid {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
  #addons-modal button.close {
    opacity: 1;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 999999;
  }
  [class*="col-sm-7"] {
    width: 37% !important;
  }
  [class*="col-sm-4"] {
    width: 35% !important;
    margin-left: 8%;
  }
  #pop-up-img p {
    width: 305px;
    height: 73px;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 17px;
    color: #4c4c4c;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: center;
    margin-top: -13%;
  }
  hr {
    border-top: 1px solid #959595 !important;
    margin-left: 15%;
    margin-top: 0%;
  }
  input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    margin-left: 4%;
  }
}

input:focus {
  outline: none;
}

.tablinks:focus {
  outline: none;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 480px) {
  .pop-up #add-remove-s-cart {
    margin-left: 45% !important;
  }
  #pop-up-img img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left: unset;
  }
  #pop-up-img h5 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left: unset;
  }
  #pop-up-img p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left: unset;
  }
}