/* For Desktop */

.top-contents h6 {
    width: 279px;
    height: 35px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #59595b;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: 25.5%;
}

.left-content-form-text p {
    width: 310px;
    /* height: 35px; */
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 23px;
    color: #59595b;
    font-weight: 400;
    font-family: "Montserrat";
    margin-left: 24.5%;
    margin-bottom: 6%;
}

.rec-details{
    margin-left: -6%;
}
hr {
    margin-top: -11px;
    margin-left: -15px;
    margin-bottom: 31px;
    border: 0;
    border-top: 2px solid #eee;
}

.fa-clock-o, .fa-calendar, .fa-user{
    color: #949494;
    font-size: 20px;
}

.time, .date {
    width: 188px;

}

.time:active, .date:active {
    border:none;
}

#inputState{
    margin-top: 13%;
    margin-bottom: 12%;
    margin-left: -4.6%;
}

#inputState:hover{
    margin-top: 13%;
    margin-bottom: 12%;
    border:none!important;
}


.form-group #inputState:hover{
    margin-top: 13%;
    margin-bottom: 12%;
    border:none!important;
}
.form-group #inputState{
    margin-top: -6%;
    margin-bottom: 12%;
}
.form-row #add-to-cart-h-mid{
    margin-left: 0%;
    /* margin-top: -24%; */
    margin: inherit;
    margin-left: 0%;
    background-color: #028F38;
    float: left;
    /* box-shadow: 0 0 1px #ccc; */
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 34px;
    font-weight: 700;
    font-family: 'Montserrat';
    padding: 0px 66px 0px;
    margin-bottom: 6%;
}
.tab {
    overflow: hidden;
    border: none;
    margin-top: 7.5%;
    margin-bottom: 1.5%;

  }

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
   border: 1px solid white;  
     border-radius: 0px;  
    -webkit-box-shadow: none; 
     box-shadow:none; 
    webkit-transition: border-color none .0s,-webkit-box-shadow none .0s;
    -o-transition: border-color none .0s,box-shadow none.0s;
    transition: border-color none .0s,box-shadow none .0s;  
}


.tab p{
    width: 129px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #545454;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: 37%;
    margin-left: -2%;

  }
  .tab p:hover{
    width: 129px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #bc040b;
    font-weight: 700;
    font-family: "Montserrat";
    /* margin-top: 37%;
    margin-left: -2%;   */
  }
  .tab p:active {
    width: 129px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #bc040b!important;
    font-weight: 700;
    font-family: "Montserrat";
    /* margin-left: -2%; */
    /* border-bottom:2px solid #bc040b!important; */

  }
#myForm{
    margin-left: -4%;
}
#reservation-details h3, #message h3{
    font-size: 16px;
letter-spacing: 1px;
color: #7a7c83;
font-weight: 700;
font-family: "Montserrat";
margin-bottom: 7%;

}
/* End of Desktop */


 
.left-content-form-text h3 {
    width: 502px;
/* height: 35px; */
font-size: 16px;
letter-spacing: 0px;
line-height: 36px;
color: #59595b;
font-weight: 700;
font-family: "Montserrat";
    margin-left: 25%;
    margin-top: 0%;
}
.left-content-form-text h3 b {
    width: 201px;
    height: 141px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #59595b;
    font-weight: 900;
    font-family: "Montserrat";
    /* margin-left: 22%; */
    margin-top: 0%;
}
.contact-text b{
    width: 201px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #59595b;
    font-weight: 900;
    font-family: "Montserrat";
    margin-top: 0%;
    margin-left: 24.5%;
}
 
.top-contents h3 {
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #545454;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: 24.5%;
}


#right-content-contact-us h3 b{
  
    width: 398px;
    height: 35px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #59595b;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: 2.5%;
}
#myForm input[type="text"] {
    width: 100%;
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #7a7c83;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 60px;
    height: 37px;
    border-bottom: 1px solid #acacac;
}

#message input[type="text"]{
    padding-bottom: 118px;
    padding-top: 5px;
    width: 297px;
    margin-bottom: 7%;
}
#myForm input[type="button"] {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    margin-left: 0.1%;
    margin-bottom: 7%;
}
 
@media screen and (min-width: 800px) {
   
    .contact-text b{
        width: 201px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #59595b;
    font-weight: 900;
    font-family: "Montserrat";
    margin-top: 0%;
    margin-left: 24.5%;
    }




}

@media screen and (min-width: 1900px) {
    .tab {
        overflow: hidden;
        border: none;
        margin-top: 7.5%;
        margin-bottom: 1.5%;
    
      }
   
.top-contents h3{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #545454;
    font-weight: 700;
    font-family: "Montserrat";
}

#right-content-contact-us p{
  
    width: 124%;
    height: 62px;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #59595b;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: -4%;

}
#myForm input[type="text"] {  
    width: 100%;
    display: inline-block;
    margin-right:20px;  
    font-size: 16px;
    letter-spacing: 1px;
    color: #7a7c83;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 60px;
    height: 37px;
    border-bottom: 1px solid #acacac;
    }
    #myForm input[type="button"] {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 40px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Roboto";  
        margin-left: -1.3%;
    }
.contact-text b{
    width: 201px;
   
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #59595b;
    font-weight: 900;
    font-family: "Montserrat";
    margin-top: 0%;
    margin-left: 25%;
}
.left-content-form-text h3{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #59595b;
    font-weight: 700;
    font-family: "Montserrat";

}
 /* right side styles */

 #right-content-contact-us p{
    width: 1106px;
    height: 62px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #59595b;
    font-weight: 400;
    font-family: "Montserrat";
}

#right-content-contact-us h3 b{
  
width: 398px;
height: 35px;
font-size: 20px;
letter-spacing: 0px;
line-height: 36px;
color: #59595b;
font-weight: 700;
font-family: "Montserrat";

} 
.form-row #add-to-cart-h-mid {
    margin-left: 0%!important;
    /* margin-top: -24%; */
    margin: inherit;
    margin-left: 0%;
    background-color: #bc040b;
    float: left;
    /* box-shadow: 0 0 1px #ccc; */
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 34px;
    font-weight: 700;
    font-family: "Roboto";
    padding: 0px 66px 0px;
    margin-bottom: 6%;
}

  }



.main-header{
    margin-top: 10.5% !important;
}

@media only screen and (max-width: 768px) {

    .left-content-form-text h3 b {
    width: 201px;
    height: 141px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #59595b;
    font-weight: 900;
    font-family: "Montserrat";
    margin-left: 15%!important;
    margin-top: 0%;
}

.left-content-form-text p {
    width: 310px;
    /* height: 35px; */
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 23px;
    color: #59595b;
    font-weight: 400;
    font-family: "Montserrat";
    margin-left: 81.5%!important;
    margin-bottom: 6%;
}


    [class*="col-"] {
      width: 100%;
    }
    .time, .date {
        width: 188px;
        margin-left: -37%;
        margin-bottom: 7%;
        margin-top: 2%;
    }
    .rec-details {
        margin-left: 5%;
    }
    .form-row #add-to-cart-h-mid {
        margin-left: 0%;
        /* margin-top: -24%; */
        margin: inherit;
        margin-left: 0%;
        background-color: #bc040b;
        float: left;
        /* box-shadow: 0 0 1px #ccc; */
        -webkit-transition: all 0.5s ease-in-out;
        border: 0px;
        color: #fff;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 34px;
        font-weight: 700;
        font-family: "Roboto";
        padding: 0px 36px 2px;
        margin-bottom: 6%;
        /* text-align: center; */
    }
    #reservation-details div {
margin-bottom: -10%;
    }
    
    #message input[type="text"] {
        padding-bottom: 118px;
    padding-top: 5px;
    width: 287px;
    margin-left: -4%;
    }
    #myForm input[type="text"] {
        width: 92%;
        display: inline-block;
        margin-right: -16px;
        font-size: 12px;
        letter-spacing: 1px;
        color: #7a7c83;
        font-weight: 400;
        font-family: "Montserrat";
        margin-bottom: 60px;
        height: 37px;
        border-bottom: 1px solid #acacac;
    }

    #add-to-cart-h-mid {
        margin-bottom: 11%;
        width: 34% !important;
    }

    .form-row #add-to-cart-h-mid {
        margin-left: 30%;
        margin-top: 7%;
    }

    #footer-logo {
        max-width: 76%;
        /* max-height: 99%; */
        display: block;
        margin-left: 10%;
    }
    .top-contents h3{
        font-size: auto;
        font-family: "Montserrat";
        text-align: center;
        margin-left: 0px!important;
    }
    .contact-text b {
        width: 201px;
        margin-left: 6%;
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 35px;
        color: #59595b;
        font-weight: 900;
        font-family: "Montserrat";
        margin-top: 0%;
    }
.main-header{
    margin-top: 33.5% !important;
}

.left-content-form-text{
    text-align: left;
    margin-right:20%!important;
}

/* right styles */

#right-content-reserve-align {
    text-align: center;
    /* margin-left: -12%; */
}
#myForm input[type="button"] {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    margin-left: 31.1%;
    margin-bottom: 16px;
    margin-top: -11%;
    padding: 4px 0px 4px;
    width: 150px!important;
}
 
#right-content-contact-us h3 b {
    width: 398px;
    height: 35px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #59595b;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: 0.5%;
    
}
#right-content-contact-us p {
    width: 100%;
    height: 62px;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #59595b;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 13%;
    text-align: center;
    margin-bottom: 17%;
    /* margin-left: 14px; */
}
}

@media (max-device-width: 812px) and (min-width: 375px){

.left-content-form-text h3 b {
    width: 201px;
    height: 141px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #59595b;
    font-weight: 900;
    font-family: "Montserrat";
    margin-left: 15%!important;
    margin-top: 0%;
}
 
.left-content-form-text p {
    width: 310px;
    /* height: 35px; */
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 23px;
    color: #59595b;
    font-weight: 400;
    font-family: "Montserrat";
    /* margin-left: 82.5%!important; */
    margin-left: 46.5%!important;
    margin-bottom: 6%;
}
.left-content-form-text h3 {
    width: 502px;
    /* height: 35px; */
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #59595b;
    font-weight: 700;
    font-family: "Montserrat";
    /*margin-left: 83%;*/
    margin-top: 0%;
}
 

}



.bold{
    font-weight: bold;
}
.top-contents{
    padding-top: 3%;
    padding-bottom: 3.5%;
    text-align: left;

}


.top-contents h5{

    margin-top: 8%;
    text-align: left;
}

/* tabs */
/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    margin-top: 7.5%;
    margin-bottom: 1.5%;

  }

  .tab p{
    width: 129px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #545454;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: 37%;
    margin-left: -2%;

  }


 
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    /* background-color: #ddd; */
  }
  
 
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }



.tablinks p {
    margin-left: -25px;
    margin-top: 14px;
}

 
 
@media (max-device-width: 812px) and (min-width: 375px){
 
 #right-content-contact-us{
    width: 100%;
    /* margin-left: 97px; */
}

#right-content-contact-us p {
    width: auto;
}

.main-header {
    margin-top: 22.5% !important;
}
.img-responsive {
    margin-left: 1%!important;
    margin: auto;
}
#navbar-color ul li a {
    padding-right: 16px;
    padding-left: 12px;
}
.jq-toast-wrap.bottom-left {
    bottom: 820px;
    left: 200px;
}
}
  
  /* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (min-device-height: 1024px) 
   and (max-device-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .main-header {
    margin-top: -2.5% !important;
}


  }
  
  /*ipad pro----------------------------------------*/

@media only screen 
  and (min-device-width: 1024px) 
  /*and (max-device-width: 1366px) */
   and (max-device-height:1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
.jq-toast-wrap.bottom-left {
    bottom: 490px;
    left: 500px;
}
}





