@media (min-width: 1200px){
	.container, .container-lg, .container-md, .container-sm, .container-xl {
	    max-width: inherit;
	    padding: 0 150px;
	}
	.navbar-brand {
		margin-top: -85px;
	}
	.navbar-nav{right: 150px;}
}
@media(max-width: 765px){
	.carousel-inner {
    	padding: 20px;
	}
	.navbar-brand img{
		width: 50%;
	}
	.navbar-toggler-icon{
		margin: 7px 0;
		display: block !important;
	}
	.navbar-nav {
    	position: absolute;
    	left: 0;
    	text-align: center;
    	z-index: 999;
    	background-color: #3b1c0f;
	}
	.carousel-item h4 {
    	font-size: 20px;
	}
	.carousel-item h1 {
    	font-size: 28px;
    	padding: 10px 0;
	}
	.carousel-item p {
		font-size: 19px;
	}
	.carousel-item button {
	    width: 120px;
	    height: 40px;
	    margin-bottom: 30px;
	}
	.pro h1 {
    	font-size: 22px;
    	padding: 20px 0;
	}
	.spro {
    	padding: 20px;
    	min-height: 400px;
	}
	.offer {
    	padding: 20px;
	}
	.ash h1{
		text-align: center;
	}
	.ash .nav-link {
    	font-size: 20px;
    	padding: 10px;
	}
	.ph {
    	position: initial;
	}
}