#restaurant .container-fluid {
  background: #efefef;
  margin-top: 110px;
}

#item-card-figure {
  background: #efefef;
  overflow-x: hidden;
  overflow-y: scroll;
  /*max-width: 100%;*/
  height: 1000px;
  /*padding-top: 30px;*/
  padding-bottom: 60px;
  border-right: 1px solid #b7b7b7;
}

#item-card-figure::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#item-card-figure::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 100px;
}

.figure-item {
  padding: 0 10px;
}

.figure-item .item-card {
  background: #FFF;
  width: 100%;
  height: auto;
  border: 1px solid #b7b7b7;
  padding: 30px 30px;
  min-height: 450px;
  text-align: center;
  margin-bottom: 20px;
}

.figure-item .item-card:hover {
  /* width: 101%; */
  /* -webkit-transform: scale(1.1); */
  height: auto;
  box-shadow: 3px 3px 5px #b7b7b7;
}

.figure-item .item-card h3 {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  color: #353535;
  font-weight: 600;
  font-family: "Montserrat";
  word-wrap: break-word;
  text-transform: uppercase;
  margin: 0 0 18px 0;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.figure-item .item-card p {
  color: #444;
  font-size: 12px;
  line-height: 19px;
  font-family: "Montserrat";
  text-align: center;
  padding: 0 5%;
  margin-top: 20px;
  margin-bottom: 5px; /* 15px */
  height: 54px;
  overflow: hidden;
}

.figure-item .item-card img.item-img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  display: inline-block;
}

.figure-item .item-card .item-price {
  font-family: "Montserrat";
  font-size: 22px;
  letter-spacing: 1px;
  line-height: normal;
  color: #ff0000;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.figure-item .item-card #add-to-cart-btn {
  background-color: #028F38;
  color: #FFF;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 40px;
  font-weight: 700;
  font-family: 'Montserrat';
  border: none;
  border-radius: 0;
  padding: 0 18px;
}

.figure-item .item-card #add-to-cart-btn:hover {
  -webkit-transform: scale(1.1);
}

#menu-bar-row {
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  background: #FFF;
  height: 68px;
}

/*---- styles for right side cart section ----*/
#right-side-cart-figure {
  background: #FFF;
  border: 1px solid #b7b7b7;
  text-align: center;
  border-left: none;
}

.make-order-txt-row {
  border-bottom: 1px solid #b7b7b7;
  padding: 25px 0;
}

.make-order-txt-row h3 {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0;
}

.cart-items-count-row {
  background: #ebebeb;
  padding: 14px 16px;
}

.cart-items-count-row h5 {
  font-size: 13px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: left;
  margin: 0;
}

.cart-items-count-row .remove-btn {
  float: right;
}

.empty-cart-sec {
  padding: 40px 0;
}

.empty-cart-sec h4 {
  font-size: 18px;
  line-height: normal;
  color: #777;
  font-weight: 600;
  font-family: "Montserrat";
  margin: 0;
}

.empty-cart-sec img {
  width: 75px;
  height: auto;
  display: inline-block;
  margin: 45px 0;
}

.empty-cart-sec p {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #4c4c4c;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding: 0 10%;
}

#cart-items-figure {
  padding: 0 16px 40px 16px;
}

#cart-items-figure .cart-items-row {
  border-bottom: 1px solid #b7b7b7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-items-row .count-btn {
  float: right;
}

.cart-items-row .count-btn .number-input {
  height: 28px;
  width: 60px;
  text-align: center;
  color: #131313;
  border: 1px solid #b7b7b7;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
}

.cart-items-row .count-btn .minus-btn, .cart-items-row .count-btn .plus-btn {
  height: 28px;
  width: 28px;
  display: inline-block;
  background: #353535;
  border-radius: 0;
  padding: 3px 0;
  border: 1px solid #353535;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}

.remove-btn {
  cursor: pointer;
}

.remove-btn i {
  color: #868686;
  font-size: 20px;
}

.remove-btn span {
  font-size: 11px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 400;
  font-family: "Montserrat";
  text-decoration: underline;
  text-underline-position: under;
  margin-left: 5px;
}

.cart-items-row .item-name {
  font-size: 12px;
  line-height: 18px;
  color: #2a2a2a;
  font-weight: 500;
  font-family: "Montserrat";
  text-transform: none;
  text-align: left;
  margin: 0;
}

.cart-items-row .sub-item-name {
  font-size: 11px;
  line-height: 18px;
  color: #2a2a2a;
  font-weight: 400;
  font-family: "Montserrat";
  display: block;
  text-align: left;
}

.cart-items-row .sub-item-name.sub {
  font-size: 10px;
}

.cart-items-row .item-price {
  font-size: 14px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: right;
  margin: 0;
}

.cart-items-row .bottom-row {
  margin-top: 18px;
}

.cart-items-row .bottom-row .remove-btn {
  float: left;
}

.checkbox-option-row {
  margin-top: 20px;
  margin-bottom: 35px;
}

.checkbox-option-row h4 {
  font-family: "Montserrat";
  color: #2a2a2a;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.checkbox-option-row input[type="checkbox"] {
  display: none;
}

.checkbox-option-row label {
  position: relative;
  display: block;
  cursor: pointer;
  float: right;
  right: 32px;
}

.checkbox-option-row label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 31px;
  height: 31px;
  transition: transform 0.28s ease;
  background-color: transparent;
  border: 2px solid #777;
}

.checkbox-option-row label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #FFF;
  border-left: 2px solid #FFF;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  top: 12px;
  left: 10px;
}

.checkbox-option-row input[type="checkbox"]:checked~label:before {
  border: 2px solid #028F38;
  background-color: #028F38;
}

.checkbox-option-row input[type="checkbox"]:checked~label:after {
  transform: rotate(-45deg) scale(1);
}

.checkbox-option-row input[type="checkbox"]:focus+label::before {
  outline: 0;
}

.input-option-row input {
  width: 100%;
  height: 40px;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 500;
  color: #2a2a2a;
  background: #FFF;
  border: 1px solid #b7b7b7;
  border-radius: 0;
  margin-bottom: 20px;
}

.sub-amount-row {
  margin-bottom: 15px;
}

.sub-amount-row h4 {
  font-size: 13px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: capitalize;
  text-align: left;
  margin: 0;
}

.sub-amount-row .amount {
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  position: relative;
}

.sub-amount-row .amount span {
  position: absolute;
  right: 70px;
}

.total-amount-row {
  border-top: 1px solid #b7b7b7;
  border-bottom: 3px solid #b7b7b7;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.total-amount-row h4 {
  font-size: 16px;
  line-height: normal;
  color: #2a2a2a;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: left;
  margin: 0;
}

.total-amount-row .tot-price {
  text-align: right;
  position: relative;
}

.total-amount-row .tot-price span {
  position: absolute;
  right: 70px;
}

.amount-figure {
  padding: 0 16px;
  margin-top: 10px;
}

#cart-items-figure #proceed-btn {
  background-color: #028F38;
  color: #FFF;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 40px;
  font-weight: 700;
  font-family: 'Montserrat';
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 0 18px;
}

#cart-items-figure #proceed-btn:hover {
  -webkit-transform: scale(1.1);
}

/*---- //styles for right side cart section ----*/

.no-left-pd {
  padding-left: 0;
}

.no-right-pd {
  padding-right: 0;
}

@media only screen and (max-width: 768px) {
  .col-sm-6 {
    width: 50% !important;
    float: left;
  }
}

@media only screen and (max-width: 480px) {
  #restaurant .container-fluid {
    margin-top: 27%;
  }
}

@media only screen and (min-width: 812px) and (max-width : 1366px) {
  #item-card-figure {
    width: 72%;
  } 
}