/* Common */

html, body {
    overflow-x: hidden;
}
body {
    position: relative
}

h1 {
    font-family: 'Nexa-Heavy';
    line-height: 64px;
    font-size: 46px;
    color: #333333;
}

h2 {
    font-family: 'Nexa-Heavy';
    line-height: normal;
    font-size: 26px;
    color: #333333;
}

h3 {
    font-family: 'Nexa-Heavy';
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
}

h4 {
    font-family: 'Nexa-Heavy';
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
}

p {
    font-family: 'Nexa-Book';
    line-height: 24px;
    font-size: 16px;
    color: #000000;
}

body {
    font-family: 'Nexa-Book';
    line-height: normal;
    font-size: 14px;
}

/*button {
background-color: #2a8f38;
border: 1px solid #2a8f38;
color: #FFFFFF;
}*/


a, a:hover {
    text-decoration: none;
    transition: all 0.2s ease;
}

/* Common */
/* Header */
.modal-header {
    border: none;
    padding: 0;
}


.header.navbar {
    border-top: 30px solid #db6d14;
}

.header.navbar {
    padding: 0;
    background: white;
}

.header.navbar .navbar-brand {
    color: #db6d14;
    font-family: "Nexa-Heavy";
    font-size: 33px;
    padding: 3px 0 0;
    height: 50px;
}

.header.navbar .navbar-brand span {
    color: #2a8f38;
}

.header.navbar .navbar-collapse ul li {
    padding: 0 12px;
}

.header.navbar .navbar-collapse ul li a {
    font-family: "Nexa-Heavy";
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

.header.navbar .navbar-collapse ul li.active > a {
    background: #eeeeee;
    color: #db6d14;
}

.header.navbar .navbar-collapse ul li a.about-us {
    border-right: 1px solid black;
}

.header.navbar .navbar-collapse ul li.sign-up {
    padding: 7px 12px;
}

.header.navbar .navbar-collapse ul li.sign-up button {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 100px;
    background: #028F38;
    vertical-align: middle;
    display: inline-block;
    padding: 10px 22px;
    font-family: "Nexa-Heavy";
    text-transform: uppercase;
}

.header.navbar .navbar-collapse ul li.sign-in {
    padding: 7px 12px;
}

.header.navbar .navbar-collapse ul li.sign-in button {
    font-size: 14px;
    line-height: 14px;
    color: #DB6D13;
    background: transparent;
    vertical-align: middle;
    display: inline-block;
    padding: 10px 0;
    font-family: "Nexa-Heavy";
    text-transform: uppercase;
}

.header.navbar .navbar-collapse ul li.sign-in button:hover {
    color: #DB6D13;
    background: transparent;
}


/* Header */
/*Index */
.banner-section {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 850px;
    margin-top: 120px;

}

.banner-text h1 {
    font-family: 'Nexa-Bold';
    line-height: 64px;
    font-size: 46px;
    color: #FFFFFF;
    padding: 129px 386px 40px 0px;;
}

.search-text {
    background: #FFFFFF;
    border-radius: 5px;
    height: 54px;
    /*padding: 17px 0 19px 23px;*/
    color: #828282;
    font-size: 16px;
    font-family: 'Nexa-Book';
}

.search-text input {
    border-radius: 5px;
    width: calc(100% - 121px);
    height: 100%;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding: 17px 0 18px 23px;
    box-shadow: none;
}

.search-text .btn-group {
    /*height: 100%;*/
    color: #2a8f38;
}

.search-text .btn-group .btn {
    height: 100%;
    color: #2a8f38;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.search-text .btn-group .dropdown-menu li {
    color: #2a8f38;
}

.dropdown-menu {
    min-width: 117px;
}

.delivery {
    float: right;
    color: #2a8f38 !important;
    padding-right: 14px;
    border: none;
    font-family: 'nexa-bold';
    font-size: 16px;
}

.down-arrow {
    padding-left: 11px;
    display: inline-block;
}

#dropdown-content-delivery {
    color: #2a8f38 !important;
    background-color: #FFFFFF;
    padding: 15px;
    text-align: right;
}

#dropdown-content-delivery ul {
    list-style: none;
}

.button-find {
    padding: 16px 25px 18px;
    border-radius: 5px;
    text-align: center;
    font-family: 'nexa-bold';
    background-color: #2a8f38;
    border: 1px solid #2a8f38;
    color: #FFFFFF;
    height: 54px;
}

.index-first-content {
    margin-top: 50px;
}

.index-content h2 {
    font-family: 'Nexa-Heavy';
    line-height: normal;
    font-size: 26px;
    color: #000000;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.index-content h3 {
    font-family: 'nexa-bold';
    line-height: normal;
    font-size: 18px;
    color: #333333;
    margin: 5px auto 10px;
    text-transform: capitalize;
}

.index-content p {
    font-family: 'Nexa-Book';
    line-height: 17px;
    font-size: 14px;
    color: #4F4F4F;
}

.index-content img {
    background: #C4C4C4;
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
}

.resturant-list-detail img {
    object-fit: cover;
}

.separator {
    margin: 0 10px;
}

.client-rating i.active {
    color: #F2C94C !important;
}

.client-rating i {
    color: #6e6e6e !important;
}

.button-view-all {
    width: 154px;
    height: 54px;
    padding: 15px 25px;
    margin-top: 36px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Nexa-Bold';
    background-color: #2a8f38;
    border: 1px solid #2a8f38;
    color: #FFFFFF;
    display: inline-block;
}

.button-view-all:hover {
    color: #2a8f38;
    background: #ffffff;
}

.index-second-content {
    margin-top: 100px;
}

.index-second-content ul {
    list-style: none;
    margin-left: -69px;
}

.index-second-content ul li {
    display: inline-block;
    margin-left: 28px;
}

.index-second-content ul li img {
    border-radius: 50%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-app-cta {
    background-image: url('../img/app-back.png');
    min-height: 1111px;
    margin-top: -246px;
}


.ph1 {
    margin-top: 232px;
    margin-left: 31px;
}

.ph2 {
    margin-top: 500px;
    margin-left: -284px;
}

.mobile-app-cta h1 {
    font-family: 'Nexa-Heavy';
    line-height: 64px;
    font-size: 46px;
    color: #FFC301;
    margin-top: 560px;
    text-transform: capitalize;
}

.mobile-app-cta p {
    font-family: 'Nexa-Book';
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
    margin: 50px 0;
    padding-right: 50px;
}


@media (min-width: 1360px) {
    .mobile-app-cta {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mobile-app-cta h1 {
        margin-top: 460px;
    }
}

@media (min-width: 1700px) {


    .mobile-app-cta h1 {
        margin-top: 630px;
    }
}


.new-padding {
    padding: 0 184px 100px;
}

.join-us {
    background-image: url(../img/join-us.png);
    min-height: 435px;
}

.join-us h1 {
    font-family: 'Nexa-Heavy';
    line-height: normal;
    font-size: 26px;
    text-align: center;
    color: #FFFFFF;
    padding: 104px 136px 50px;
    text-transform: capitalize;
}

.join-us p {
    font-family: 'Nexa-Book';
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 203px 36px;
}

.join-us button {
    font-family: 'Nexa-Bold';
    padding: 20px 24px;
    background-color: #2a8f38;
    border: 1px solid #2a8f38;
    border-radius: 5px;
    display: block;
    margin: auto;
    color: #FFFFFF;
}

/* Index */
/* Footer */
footer {
    background-color: #2a8f38;
}

.footer-image {
    margin-left: -104px;
}

footer h1 {
    padding: 100px 0 37px;
    font-family: 'Nexa-Bold';
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFC301;
}

footer ul {
    list-style: none;
    margin-left: -40px;
}

footer ul li {
    padding-bottom: 11px;
}

footer ul li a {
    font-family: 'Nexa-Book';
    color: #FFFFFF !important;
    text-decoration: none;
    padding-bottom: 11px;
    text-transform: capitalize;
}

.social ul li {
    display: inline-block;
    border-radius: 50%;
    margin-right: 7px;
}

.social ul li a i {
    background-color: #FFC301;
    color: #5A1846 !important;
    font-size: 20px;
    border-radius: 50%;
    margin: 0;
    padding: 10px 11px;
    width: 40px;
    height: 40px;
}

.card-logo {
    margin-top: 62px;
}

/* Footer */
/* Resturant List */
.resturant-list {
    margin-top: 125px;
}

.resturant-list h1 {
    line-height: 16px;
    color: #000000;
    font-size: 26px;
    text-transform: capitalize;
}

hr {
    border: 1px solid #BDBDBD;
}

.resturant-list-head {
    line-height: 24px;
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
}

.text-heighlight {
    color: #2a8f38 !important;
    text-decoration: underline;
}

.sort {
    line-height: 24px;
    font-size: 16px;
    color: #000000;
}

.sorted-list {
    background: #5A1846;
    min-height: 236px;
    padding: 19px;
    margin-top: 12px;
}

.head {
    line-height: normal;
    font-size: 26px;
    color: #FFFFFF;
    padding: 100px 10px 0;
}

.sorted-list p {
    line-height: 18px;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 10px;
}

.overlay {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    min-height: 198px;
}

.sorted-list1 {
    background-repeat: no-repeat;
    background-image: url('../img/burger-offer.png');
    min-height: 197px;
}

.sorted-list2 {
    background-repeat: no-repeat;
    background-image: url('../img/free-delivery.png');
    min-height: 197px;
}

.sorted-list3 {
    background-repeat: no-repeat;
    background-image: url('../img/tea-offer.png');
    min-height: 197px;
}

.resturant-list-detail {
    margin-top: 50px;
    margin-bottom: 35px;
}

.resturant-list-detail h3 {
    /*font-family: Nexa;*/
    line-height: normal;
    font-size: 18px;
    color: #333333;
    margin: 5px auto 10px;
    text-transform: capitalize;
}

.resturant-list-detail p {
    /*font-family: Nexa;*/
    line-height: 17px;
    font-size: 14px;
    color: #4F4F4F;
}

.delivery-selection {
    margin-top: 0px;
}

.delivery-selection-list {
    line-height: normal;
    font-size: 14px;
    color: #333333;
    padding: 3px 10px;
    margin-right: 22px;
    background: #F2F2F2;
    height: 20px;
    font-family: 'Nexa-Bold';
}

.panel-title .fa:before {
    content: "\f0d8";
}

.panel-title .collapsed .fa:before {
    content: "\f0d7";
}

.slick-slide img {
    object-fit: cover;
}


.map-marker {
    margin: 0 10px;
}

.opening-details {
    margin-top: 0;
}

.gray {
    color: #BDBDBD !important;
}

.map-marker-text {
    text-align: right;
}

.page-number {
    display: block;
    margin: auto;
}

.page-number p {
    text-align: center;
    font-size: 26px;
    color: #828282;
}

.page-back-arrow {
    margin-right: 28px;
}

.page-next-arrow {
    margin-left: 28px;
}

.list-head {
    margin-bottom: 12px;
}

.list-content {
    line-height: 24px;
    font-size: 16px;
    color: #333333;
    margin-top: 22px;
}

.view-more {
    margin-top: 22px;
    margin-bottom: 30px;
    line-height: 24px;
    font-size: 16px;
    color: #828282;
}

.pre-order {
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #219653;
    border-radius: 2px;
    padding: 0 5px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: initial;
    font-weight: 600;
}

.resturant-list {
    margin-bottom: 100px;
}

.individual-resturant {
    margin-top: 50px;
}

.individual-resturant h1 {
    line-height: 64px;
    font-size: 46px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.pre-order-head {
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    color: #F2F2F2;
    background: #5A1846;
    border-radius: 2px;
    padding: 5px 8px;
    margin-left: 44px;
    position: absolute;
    margin-top: 19px;
}

.individual-sharing {
    margin-top: -22px;
}

.favorite {
    margin-left: 35px;
    height: 37px;
    width: 41px;
    margin-top: 32px;
}

.indi-res {
    width: 100%;
    height: 362px;
}

.indi-res-section {
    margin-top: 60px;
    margin-bottom: 40px;
}

.favorite-head {
    margin-top: 60px;
}

.menu {
    border-bottom: 1px solid #BDBDBD;
}

.view-wrapper .menu {
    border: none;
    padding-top: 10px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    outline: none;
}

.main-list {
    margin-left: -75px;
}

.sub-list {
    /*margin-left: -6px;*/
}

.main-list li {
    margin-left: 50px;
    color: #828282;
    font-size: 18px;
    font-family: 'Nexa-Bold';
    max-width: 224px;
}

.main-list li a {
    color: #828282;
    font-size: 18px;
    font-family: 'Nexa-Bold';
}

.main-list li a.active {
    color: #2a8f38;
}

.sub-list li {
    margin-left: 6px;
    color: #666;
    font-size: 16px;
    font-family: 'Nexa-Bold';
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 100px;
}

.sub-list .active {
    background-color: #2a8f38;
}

.sub-list li a {
    color: #000000 !important;
    font-size: 16px;
    font-family: 'Nexa-Bold';
    text-transform: capitalize;
}

.sub-list li:hover {
    background-color: #db6d13;
    color: #ffffff;

}

.menu-item-list {
    margin-top: 46px;
    margin-left: 0;
}

.menu-item-list h1 {
    margin-top: 20px;
    margin-bottom: 35px;
    line-height: 21px;
    font-size: 16px;
    color: #333333;
    text-transform: capitalize;
    /*padding-left: 12px;*/
}

.menu-item-list h2 {
    margin-top: 34px;
    line-height: 21px;
    font-size: 16px;
    color: #333333;
    text-transform: capitalize;
    padding-left: 12px;
}

.menu-item-list .grid h2 {
    padding: 0;
    margin: 0;
}

.menu-item-list .grid h2 a {
    margin: 0;
}

.grid .grid-wrapper {
    padding: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.grid {
    padding: 5px;
}

.menu-item-list p {
    /*padding-left: 12px;*/
    line-height: 18px;
    font-size: 14px;
    color: #828282;
}

.menu-item-list img {
    width: 100%;
}

.menu-items {
    margin-bottom: 55px;
}

.order-summary-box h3 {
    text-transform: capitalize;
}

.my-booking-redirect {
    color: #828282;
    text-align: center;
}

.text-highlight {
    color: #2a8f38;
}

/* round checkbox */
.round {
    position: relative;
}

.round label {
    background-color: #fff;
    /* border: 1px solid #2a8f38; */
    border: 2px solid #2a8f38;
    border-radius: 7px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    margin-top: 0px !important;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    left: initial;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #2a8f38;
    border-color: #2a8f38;
    margin-left: 230px;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

/* round check box */
.order-reservation {
    padding: 35px !important;

}

.order-reservation h3 {
    text-align: left !important;
}

.order-reservation label {
    margin-top: 20px;
    margin-bottom: 20px;
}

.order-reservation select {
    width: 100%;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    line-height: 17px;
    font-size: 14px;
    color: #333333;
    padding: 19px 9px 19px 10px;
}

.order-reservation input {
    width: 100%;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    line-height: 17px;
    font-size: 14px;
    color: #333333;
    padding: 19px 9px 19px 10px;
}


.order-reservation-button {
    padding: 20px 24px;
    text-align: center;
    background: #2a8f38;
    border-radius: 50px;
    border: 1px solid #2a8f38;
    display: block;
    margin: auto;
    margin-top: 37px;
    width: 100%;
    color: #fff;
    font-size: 18px;
}

.order-reservation-button:hover {
    background: #db6d13;
    border: 1px solid #ffffff;
    color: #ffffff !important;
}

.order-reservation hr {
    margin-top: 0;
    border: 1px solid #BDBDBD;
}

.order-reservation textarea {
    padding: 19px 9px;
    border: 1px solid #BDBDBD;
    min-height: 155px;
    width: 100%;
}

.privacy {
    line-height: 14px;
    font-size: 10px;
    color: #828282;
}

.privacy-high {
    color: #051181;
}

.menu-images {
    background: #C4C4C4;
    height: 80px;

    margin-top: 24px;
    margin-left: 42px;
}

.plus img {
    height: 18px;
    width: 18px;
    float: right;
}

.yellow {
    border: 1px solid #FFC301;
    margin: 37px 0;
}

.price-detail {
    margin-top: 30px;
}

.empty-cart-text {
    line-height: normal;
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.empty-cart-img {
    width: 101px;
    height: 73px;
    display: block;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 35px;
}

.empty-cart-des {
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    color: #828282;
}

button:disabled,
button[disabled] {
    border: 1px solid #BDBDBD;
    background-color: #BDBDBD;
    border-radius: 5px;;
    color: #FFFFFF;;
}

.delivery-hr {
    margin-top: -10px !important;
}

.delivery-text {
    line-height: 18px;
    font-size: 14px;
    color: #000000;
    padding: 13px;
    background-color: #FFC301;
}

.cart-details {
    font-size: 15px;
    margin-top: 20px !important;
    margin-bottom: 30px;
}

.cart-details h2 {
    font-size: 16px;
}

.cart-details p {
    font-size: 16px;
}

.cart-details h1 {
    font-size: 26px;
}

.cart-separator {
    margin-top: 15px !important;
    margin-bottom: 36px !important;
}

.over-all-review {
    color: #000000;
    padding: 29px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #777777;
    border-radius: 15px;
}

.over-all-review h1 {
    color: #000000;
}

.over-all-review p {
    color: #000000;
}

.over-all-review hr {
    padding: 0;
    border: none;
    border-top: 1px solid #777;
    height: 0;
    min-height: 0;
}

.review-box {
    background-color: #F2F2F2;
    padding: 30px 14px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.review-head h1 {
    font-size: 18px;
}

.review-head h1 i {
    color: #2a8f38;
}

.review-head img {
    width: 18px;
    height: 22px;
}

.review-box h2 {
    line-height: 21px;
    font-size: 16px;
    color: #333333;
}

.review-box h3 {
    line-height: 18px;
    font-size: 14px;
    color: #828282;
    margin-top: 5px;
}

.review-box p {
    line-height: 18px;
    font-size: 14px;
    color: #333333;
    margin-top: 17px;
    overflow-wrap: break-word;
}

.review-box .client-rating i {
    font-size: 15px;
}

.all-review {
    margin-bottom: 60px;
}

.map {
    margin-top: 50px;
    margin-bottom: 50px;
}

.details-content h2 {
    line-height: 21px;
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
}

.details-content p {
    line-height: 24px;
    font-size: 16px;
    color: #828282;
    margin-bottom: 40px;
}

.col-md-15 {
    width: 20%;
    float: left;
}

.col-md-15 img {
    border-radius: 50%;
    width: 100%;
}

.bottom-left {
    position: relative;
    bottom: 110px;
    left: 50px;
    font-family: 'Nexa-Heavy';
    color: #FFFFFF;
    font-size: 26px;
    line-height: 26px;
}

#overlay {
    /* Sit on top of the page content */
    /* Hidden by default */
    width: 85%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Black background with opacity */
    z-index: 2;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.cuisines-main {
    margin-top: 130px;
    margin-bottom: 100px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

.menu-item-list .list {
    margin-bottom: 20px;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 10px;
    padding-left: 0;
}

.menu-item-list .list img {
    max-width: 84px;
    height: 84px;
    object-fit: cover;
}

.menu-item-list img {
    /*max-width: 192px;*/
    height: 192px;
    object-fit: cover;
}

.menu-item-list .list h1 {
    width: calc(100% - 84px);
    margin-bottom: 0;
}

.menu-item-list .grid p {
    max-height: 50px;
    height: 50px;
    overflow-y: scroll;
}

.menu-item-list .list p {
    width: calc(100% - 99px);
    max-height: 50px;
    overflow-y: scroll;
    margin-top: 20px;
}

.menu-item-list .list h2 {
    width: calc(100%);
    margin-top: 20px;
}

.view-selection {
    padding: 0 15px;
}

.view-selection a {
    font-size: 24px;
    margin-left: 10px;
    color: #2a8f38;
}

.list h2 a {
    color: #ffffff;
    background: #2a8f38;
    padding: 10px;
    margin: 0 20px 20px;
    display: inline-block;
    line-height: 0;
}

.grid h2 a {
    color: #ffffff;
    background: #2a8f38;
    padding: 10px;
    margin: 0 20px 20px;
    display: inline-block;
    line-height: 0;
}

.list h1 a {
    color: #ffffff;
    background: #2a8f38;
    padding: 10px;
    margin: 0 20px 20px;
    display: inline-block;
    line-height: 0;
}

.grid h1 a {
    color: #ffffff;
    background: #2a8f38;
    padding: 10px;
    margin: 0 20px 20px;
    display: inline-block;
    line-height: 0;
}

.cart-heading {
    color: #777777;
    font-size: 16px;
    font-family: Nexa-Bold;
    padding: 17px;
}

.cart-icon {
    padding: 15px;
    font-size: 48px;
    color: #777777;
}

.order-summary-box.order-reservation table td {
    border: none;
}

.order-summary-box.order-reservation table td a {
    color: #2a8f38;
}

.order-summary-box.order-reservation .form-group textarea {
    border-radius: 0;
}

.order-summary-box.order-reservation h4 {
    padding: 15px;
    text-transform: capitalize;
    color: #333333;
    font-size: 16px;
}

.order-summary-box.order-reservation .cart-description {
    padding: 15px;
    color: #888888;
}

.order-summary-box.order-reservation .btn {
    background: #2a8f38;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 15px !important;
    border-radius: 50px;
}

.order-summary-box.order-reservation .btn:hover {
    background: #db6d13;
    border: 1px solid #ffffff;
    color: #ffffff !important;
}

.order-summary-box.order-reservation .total {
    font-family: 'Nexa-Heavy';
    font-size: 26px;
    color: #000000;
}

.list-content input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

#accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none !important;
}

#accordion .panel {
    box-shadow: none;
}

.slick-prev, .slick-next {
    background: #fff !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 26px !important;
    color: #2a8f38 !important;
}

.slick-prev:before {
    content: url('../img/front-arrow.png') !important;
}

.slick-next:before {
    content: url('../img/back-arrow-1.png') !important;
}

.menu-item-list .list {
    margin-left: 0;
    padding-right: 0;
}

.delivery-option p {
    font-size: 18px;
    font-family: 'Nexa-Bold';
}

.order-summary-box .form-control {
    /*width: 314px;*/
    height: 57px;
    border-radius: 0;
    line-height: 17px !important;
}

.mydetail-bread {
    width: 100%;
    margin-left: 0;
    border: 1px solid #028F38;
}

.map iframe {
    width: 100% !important;
}

.menu-items .menu-item-list .grid {
    min-height: 400px;
}


.jconfirm.jconfirm-error .jconfirm-bg {
    background: rgba(0, 0, 0, 0.5);
}

.jconfirm.jconfirm-error .jconfirm-box {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0;
}

.jconfirm.jconfirm-error .jconfirm-box.loading {
}

.jconfirm.jconfirm-error .jconfirm-box.loading:before {
}

.jconfirm.jconfirm-error .jconfirm-box.loading:after {
}

.jconfirm.jconfirm-error .jconfirm-box .jconfirm-closeIcon {
}

.jconfirm.jconfirm-error .jconfirm-box .jconfirm-title-c {
    font-weight: 600;
    color: #ff0a22;
    font-size: 20px;
}

.jconfirm.jconfirm-error .jconfirm-box .jconfirm-content-pane {
}

.jconfirm.jconfirm-error .jconfirm-box .jconfirm-content {
    list-style: none;
    font-size: 16px;
}

.jconfirm.jconfirm-error .jconfirm-box .jconfirm-content ul {
    list-style: none;
}

.jconfirm.jconfirm-error .jconfirm-box .jconfirm-content li::before {
    content: "\e088";
    color: #ff0a22;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    margin-right: 8px;
    vertical-align: middle;
}

.jconfirm.jconfirm-error .jconfirm-box .jconfirm-buttons {
}

.jconfirm.jconfirm-error .jconfirm-box .jconfirm-buttons button.btn-default {
    background: #ff0a22;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 16px;
    padding: 0px 20px;
}

.jconfirm.jconfirm-error .jconfirm-box .jconfirm-buttons button.btn-default:hover {
    background: #ffffff;
    color: #ff0a22;
    border: 1px solid #ff0a22;
}

/*=========================================================================*/

.jconfirm.jconfirm-success .jconfirm-bg {
    background: rgba(0, 0, 0, 0.5);
}

.jconfirm.jconfirm-success .jconfirm-box {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0;

}

.jconfirm.jconfirm-success .jconfirm-box.loading {
}

.jconfirm.jconfirm-success .jconfirm-box.loading:before {
}

.jconfirm.jconfirm-success .jconfirm-box.loading:after {
}

.jconfirm.jconfirm-success .jconfirm-box .jconfirm-closeIcon {
}

.jconfirm.jconfirm-success .jconfirm-box .jconfirm-title-c {
    font-weight: 600;
    color: #39b54a;
    font-size: 20px;
}

.jconfirm.jconfirm-success .jconfirm-box .jconfirm-content-pane {
}

.jconfirm.jconfirm-success .jconfirm-box .jconfirm-content {
    list-style: none;
    font-size: 16px;
}

.jconfirm.jconfirm-success .jconfirm-box .jconfirm-content ul {
    list-style: none;
}

.jconfirm.jconfirm-success .jconfirm-box .jconfirm-content li::before {
    content: "\e088";
    color: #39b54a;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    margin-right: 8px;
    vertical-align: middle;
}

.jconfirm.jconfirm-success .jconfirm-box .jconfirm-buttons {
}

.jconfirm.jconfirm-success .jconfirm-box .jconfirm-buttons button.btn-default {
    background: #39b54a;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 16px;
    padding: 0px 20px;
}

.jconfirm.jconfirm-success .jconfirm-box .jconfirm-buttons button.btn-default:hover {
    background: #ffffff;
    color: #39b54a;
    border: 1px solid #39b54a;
}

.sub-list .slick-prev {
    left: 0;
}

.sub-list .slick-next {
    right: 0;
}

#addons-modal .modal-title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    padding: 10px;
    border-bottom: 1px solid #444444;
}

#addons-modal .modal-header .close {
    color: #2a8f38;
    font-size: 66px;
}

#addons-modal .table > tbody > tr > td {
    border: none;
    vertical-align: middle;
}

#addons-modal .table > tbody > tr > td input {
    border: 1px solid #444444;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 0;
}

#addons-modal .table > tbody > tr > td:last-child {
    text-align: right;
}

#addons-modal .modal-content {
    padding: 10px;
}

#addons-modal .modal-footer button {
    width: 100%;
    background: #2a8f38;
    font-size: 16px;
    font-weight: 600;
}

#login-tabs {
    margin-top: 30px;
}

#login-tabs div {
    padding: 0;
}

#login-tabs a {
    background: white;
    color: #2a8f38;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: inline-block;
    font-size: 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
}

#login-tabs a.active {
    color: white;
    background: #2a8f38;
}


.share.facebook {
    background: #3C5A99;
    padding: 10px;
    color: white;
    font-weight: 600;
}


.share.twitter {
    background: #1DA1F2;
    padding: 10px;
    color: white;
    font-weight: 600;
}


.sorted-list .slick-list.draggable {
    padding: 0 !important;
}

.restaurant-promotion {
    margin-left: 20px;
    font-weight: 600;
    color: #2a8f38;
}

.discount-wrapper {
    padding: 20px 0;
    font-weight: 600;
    color: #2a8f38;
    line-height: 2;
    font-size: 18px;
}

.navbar-brand > img {
    max-height: 46px;
}

.main-content ul li {
    padding: 10px;
}

.main-content ol li {
    padding: 10px;
}


#card-element {
    padding: 10px;
    border: 1px solid #2a8f38;
}


.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: 0; */
    top: calc(50% - 20px);
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: white;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.loader.show {
    display: block;
}

.loader {
    background: rgba(0,0,0,0.9);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999999999;
    display: none;
}

.ajax-post-progress {
    background: rgb(148, 148, 148, 0.8);
}

.home-slider {
    margin-top: 80px;
}

.home-slider img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    filter: brightness(0.4);
}

.home-slider .hero-content {
    position: absolute;
    top: calc(50% - 100px);
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    color: white;
}

.home-slider .hero-content .hero-text {
    font-family: "Nexa-Heavy";
    font-size: 50px;
    line-height: 1.2;
}

.home-slider .hero-content .hero-buttons {
    padding-top: 30px;
}

.home-slider .hero-content .hero-buttons a {
    color: white;
    font-family: "Nexa-Bold";
}

.home-slider .hero-content .hero-buttons a.order {
    background: #2a8f38;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 23px 50px;
    margin-right: 30px;
    font-size: 16px;
    line-height: 1;
}

.home-slider .hero-content .hero-buttons a.order:hover {
    background: white;
    border: 1px solid white;
    color: #2a8f38;
}

.home-slider .hero-content .hero-buttons a.reservation {
    background: transparent;
    border: 1px solid white;
    border-radius: 100px;
    padding: 23px 50px;
    margin-right: 30px;
    font-size: 16px;
    line-height: 1;
}

.home-slider .hero-content .hero-buttons a.reservation:hover {
    background: white;
    color: #2a8f38;
}

.home-about .row .col-xs-12 .container-fluid .row .home-about-wrapper {
    padding: 60px 0;
}

.home-about .row .col-xs-12 .container-fluid .row .home-about-wrapper .col-md-9 {
    padding-right: 50px;
}

.home-about .row .col-xs-12 .container-fluid .row .home-about-wrapper .col-md-9 h2 {
    font-size: 26px;
    line-height: 40px !important;
    color: black;
    font-family: "Nexa-Heavy";
    padding-bottom: 30px;
    width: 100% !important;
}

.home-about .row .col-xs-12 .container-fluid .row .home-about-wrapper .col-md-9 .description {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.home-about .row .col-xs-12 .container-fluid .row .home-about-wrapper .col-md-3 {
    background: white;
    padding: 30px;
}

.home-about .row .col-xs-12 .container-fluid .row .home-about-wrapper .col-md-3 .contact-block {
    padding: 30px;
    text-align: center;
}

.home-about .row .col-xs-12 .container-fluid .row .home-about-wrapper .col-md-3 .contact-block h3 {
    font-size: 16px;
    line-height: 150%;
    font-family: "Nexa-Heavy";
    text-align: center;
    color: #000000;
}

.home-about .row .col-xs-12 .container-fluid .row .home-about-wrapper .col-md-3 .contact-block .col-xs-12 {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}

.container-fluid.limit-width {
    max-width: 1200px;
}

.no-gutters {
    padding: 0;
}

.no-gutters .row {
    margin: 0;
}

.no-gutters .row .col-xs-12 {
    padding: 0;
}


.popular-menu-items .row .col-xs-12 h2 {
    font-size: 26px;
    line-height: 42px;
    color: #000000;
    font-family: "Nexa-Heavy";
    padding-top: 70px;
    padding-bottom: 40px;
}

.menu-item {
    padding: 15px !important;
}

.menu-item .image {
    text-align: center;
    padding-bottom: 20px;
}

.menu-item .image img {
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    height: 150px;
    max-height: 150px;
    margin: auto;
    width: 100%;
}

.menu-item .image button {
    color: #ff1111;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 28px;
    position: absolute;
    right: 9px;
    bottom: 8px;
    padding: 6px 6px 6px 8px;
    border-color: red;
}

.popular-items-slider .menu-item .image button {
    right: 24px;
    bottom: 28px;
}

.menu-item h3 {
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    font-family: "Nexa-Heavy";
    margin-top: 10px;
}

.menu-item .description {
    font-size: 14px;
    line-height: 18px;
    color: #828282;
    padding-bottom: 5px !important;
}

.menu-item .details {
    padding-bottom: 20px !important;
}

.menu-item .details span {
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    font-family: "Nexa-Heavy";
}

.menu-item .details button {
    background: #2a8f38;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    font-family: "Nexa-Heavy";
    font-size: 24px;
    line-height: 1;
    padding: 1px 0 0 1px;
}

.home-reservation {
    text-align: center;
    max-height: 310px;
}

.home-reservation .row .col-xs-12 h2 {
    font-size: 46px;
    line-height: 64px;
    text-align: center;
    color: #F2F2F2;
    font-family: "Nexa-Heavy";
    padding-top: 70px;
    padding-bottom: 20px;
}

.home-reservation .row .col-xs-12 .sub-title {
    padding-bottom: 20px;
}

.home-reservation .row .col-xs-12 .sub-title button {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #2a8f38;
    border-radius: 30px;
    font-family: "Nexa-Heavy";
    padding: 15px 30px;
}

.home-reservation .row .col-xs-12 .description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 60px;
}

footer {
    background: #292D39;
    padding-bottom: 50px !important;
}

footer .row .col-xs-12 .container-fluid h3 {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #DB6D13;
    padding-top: 60px;
    font-family: "Nexa-Heavy";
}

footer .row .col-xs-12 .container-fluid ul {
    padding: 40px 0 0;
    margin: 0;
    list-style: none;
}

footer .row .col-xs-12 .container-fluid ul li {
    padding: 0 0 10px 0;
}

footer .row .col-xs-12 .container-fluid ul li a {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

footer .row .col-xs-12 .container-fluid .social-icons ul li {
    display: inline-block;
    padding-left: 30px;
}

footer .row .col-xs-12 .container-fluid .social-icons ul li i {
    font-size: 20px;
}

footer .row .col-xs-12 .container-fluid .payment-icons ul {
    padding: 40px 0 0;
    margin: 0;
    list-style: none;
}

footer .row .col-xs-12 .container-fluid .payment-icons ul li {
    display: inline-block;
    padding-left: 30px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
}

footer .row .col-xs-12 .container-fluid .payment-icons ul li i {
    font-size: 20px;
}

.page-header {
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    padding: 100px 0;
    max-height: 265px;
}

.page-header h1 {
    text-align: center;
    font-size: 46px;
    line-height: 64px;
    color: #F2F2F2;
    font-family: "Nexa-Heavy";
}

.delivery-method > .col-sm-3 {
    background: #FFFFFF;
    /* Drop Shadow 01 */

    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    padding: 15px;

}

.delivery-method > .col-sm-3 > h2 {
    margin-bottom: 40px;
}

#signupModal {
    overflow: scroll;
}

.home-carousel .home-page-slider .slick-slide {
    padding: 0 10px;
}

.home-carousel .home-page-slider img {
    max-height: 400px;
    height: 400px;
    width: 100%;
    background-size: cover;
}

.slick-slide:focus {
    outline: none;
}

.btn {
    transition: all 0.2s ease;
}

.btn:hover {
    color: white;
    background: #DB6D13;
    border: 1px solid #DB6D13;
}

a:hover {
    color: #db6d13 !important;
}

a:hover, a:focus {
    text-decoration: none;
}

a:focus {
    outline: 5px !important;
    outline: none !important;
}

.review-box .client-rating i {
    color: #F2C94C !important;
}

.restaurant-rating-block {
    margin-bottom: 10px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: white;
}

.login-fx-box {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0;
    box-shadow: 0 0 62px 0 rgba(0, 0, 0, 0.08);
    min-height: 850px;
}

.login-fx-box h1{
    color: #191919;
}


#timeDiv {
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    max-width: 325px;
    background: #fff;
    width: 85%;
    margin: 0 auto;
    top: 50%;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0 8px 16px -8px #adadad;
    -moz-box-shadow: 0 8px 16px -8px #adadad;
    box-shadow: 0 8px 16px -8px #adadad;
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
}

.open {
    color: #27ae60;
    border: 2px solid #27ae60;
}

.closed {
    color: rgba(231, 76, 60, 0.85);
    border: 2px solid rgba(231, 76, 60, 0.8);
}

.viewOpen {
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgba(70, 70, 70, 1);
    max-width: 170px;
    background: #fff;
    width: 100%;
    color: rgba(70, 70, 70, 1);
    margin: 0 auto;
    top: 50%;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0 8px 16px -8px #adadad;
    -moz-box-shadow: 0 8px 16px -8px #adadad;
    box-shadow: 0 8px 16px -8px #adadad;
    cursor: pointer;
}

.viewOpen i {
    color: rgba(70, 70, 70, 0.8);
}

@media all and (max-width: 600px) {
    #timeDiv {
        margin-bottom: 20px;
    }
}

@media all and (min-width: 601px) {
    #timeDiv {
        margin-right: 15px;
    }
}

.op_dateTime {
    max-width: 320px;
    margin: 0 auto;
}

.op_day {
    display: inline-block;
    float: left;
}

.op_time {
    display: inline-block;
    float: right
}

.op_today {
    color: rgb(200, 85, 39);
    font-weight: 600;
}

@media all and (max-height: 420px) {
    #timeDiv, .viewOpen {
        top: 60%;
    }
}
/* view hours modal */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(173, 173, 173, 0.5);
    display: none;
}

#modal-state {
    display: none;
}

#modal-state:checked + .modal-overlay {
    opacity: 1;
    animation: fade-in .4s;
    display: block;
}

.time_modal {
    position: absolute;
    margin: 0 auto;
    padding: 30px 25px;
    background: #fff;
    top:120px;
    right: 0;
    left: 0;
    text-align: center;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    line-height: 1.8;
}

.time_modal h2 {
    margin-top: 0;
    line-height: 25px;
    font-size: 22px;
    border-bottom: 1px solid #dce0d8;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 400;
}

@media all and (max-width: 470px) {
    .time_modal {
        width: 75%;
    }
    .time_modal h2{
        font-size: 20px;
    }
}

#modal-state:checked + .modal-overlay .time_modal {
    top: 20%;
}

.modal-overlay-close {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.button-close {
    text-decoration: none;
    position: absolute;
    color: #fff;
    background: #464646;
    padding: 0px 7px;
    font-weight: bold;
    top: 0px;
    right: 0;
    cursor: pointer
}

#hellobar-bar {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin: 0;
    height: 60px;
    display: table;
    font-size: 17px;
    font-weight: 400;
    padding: .33em .5em;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    position: fixed;
    background-color: #9f1c19;
    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15);
}

#hellobar-bar.regular {
    height: 60px;
    font-size: 14px;
    padding: .2em .5em;
    z-index: 999;
    top: 81px;
}

.hb-content-wrapper {
    text-align: center;
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.hb-content-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
    font-weight: bold;
}

.hb-text-wrapper {
    margin-right: .67em;
    display: inline-block;
    line-height: 1.3;
}

.hb-text-wrapper .hb-headline-text {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
}

#hellobar-bar .hb-cta {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    color: #ffffff;
    background-color: #0099cc;
    border-color: #0099cc;
}

.hb-close-wrapper {
    display: table-cell;
    width: 1.6em;
}

.hb-close-wrapper .icon-close {
    font-size: 14px;
    top: 25px;
    right: 25px;
    width: 15px;
    height: 15px;
    opacity: .3;
    color: #000;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 15px;
    z-index: 1000;
    text-decoration: none;
}

.special-deal-title {
    margin-left: 14px;
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0px;
    color: #212121;
    font-weight: 600;
}

.item-view-cls {
    padding: 8px 0;
}

.deal-item-menu-title {
    padding-top: 20px;
}

.restaurant-cuisine {
    margin: auto;
    padding: 30px 0;
    text-align: center;
}

.cuisine-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.cuisine-list li {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 55px;
    -ms-flex: unset;
    flex: unset;
    border: none;
    list-style-type: none;
    margin: 0px;
    float: left;
    padding: 5px 5px;
}

.cuisine-list li a {
    width: 95px;
    height: 60px;
}

.cuisine-list .box {
    position: relative;
    z-index: 1;
    text-align: center;
    border: 2px solid #DB6D13;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.cuisine-list .box .title {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.cuisine-list .box .title p {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #212121;
}

/*
.cuisine-list > li:after {
    position: absolute;
    content: '';
    width: 30px;
    height: 1px;
    background-color: #b7b7b7;
    right: -38px;
    top: 28px;
}

.cuisine-list > li:last-child:after {
    display: none;
    content: '';
}
*/
