.top-nav ul {
	list-style: none;
	float: right;
	padding: 10PX 0;
}

.top-nav ul li {
	display: inline-block;
	font-size: 22px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #666766;
	font-family: "Lato";
	/* font-weight: 700;*/
}

.top-nav i {
	font-size: 30px;
	padding-left: 15px;
	padding-right: 15PX;
}

nav ul li {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 500;
}

nav {
	width: 100%;
	height: 83px;
	background-color: #3b1c0f;
}

.navbar {
	z-index: 99999999999999999;
}

.navbar-nav {
	position: absolute;
	right: 0;
}

.nav-link {
	color: #ffffff !important;
}

/*.main{
	background-image: url('../img/main.png');
	background-size: cover;
} */

.carousel_item_1 {
	/*background-image: url('../img/main.png');*/
	background-size: cover;
}

.carousel_item_2 {
	/*background-image: url('../img/main.png');*/
	background-size: cover;
}

.carousel_item_3 {
	/*background-image: url('../img/main.png');*/
	background-size: cover;
}

.carousel-item {
	padding: 200px 150px;
}

.carousel-item h4 {
	font-size: 40px;
	letter-spacing: 0px;
	line-height: 40px;
	color: #b1b1b1;
	font-family: "Montserrat";
	font-weight: 700;
}

.carousel-item h1 {
	font-size: 60px;
	letter-spacing: 3px;
	line-height: 40px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 700;
	padding: 25px 0;
}

.carousel-item p {
	font-size: 22px;
	letter-spacing: 0px;
	line-height: 36px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 400;
}

.carousel-item button {
	width: 166px;
	height: 55px;
	background-color: #fd5d24;
	border: 1px solid #fd5d24;
	font-size: 20px;
	letter-spacing: 1px;
	color: #ffffff;
	font-family: "Roboto";
	font-weight: 700;
}

.pro h1 {
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #3b1c0f;
	font-family: "Montserrat";
	font-weight: 700;
	text-transform: uppercase;
	padding: 40px 0;
}

.spro_selling {
	background-image: url(../img/selling.png);
	background-size: cover;
}

.spro_selling h1 {
	font-size: 45px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #ffffff;
	font-family: "Kaushan Script";
	font-weight: 400;
}

.spro_selling h2 {
	font-size: 30px;
	letter-spacing: 3px;
	line-height: 40px;
	color: #ffffff;
	font-family: "Bebas Neue";
	padding: 5px;
	background-color: #d80707;
	width: fit-content;
}

.spro {
	padding: 80px;
	min-height: 493px;
}

.spro h3 {
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 40px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 700;
	margin: 30px 0;
}

.spro button {
	width: 166px;
	height: 55px;
	background-color: #fd5d24;
	border: 1px solid #fd5d24;
	font-size: 20px;
	letter-spacing: 1px;
	color: #ffffff;
	font-family: "Roboto";
	font-weight: 700;
	position: absolute;
	bottom: 80px;
}

.spro p {
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 30px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 400;
}

.new_taste {
	background-size: cover;
	background-image: url('../img/new_taste.png');
}

.new_taste h1 {
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 700;
}

.offer {
	padding: 50px;
}

.black button {
	position: initial;
}

.black {
	background-color: #3b1c0f7a;
	padding: 28px;
}

.black h1 {
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 40px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 700;
	padding: 20px 0;
}

.off1 {
	background-image: url('../img/offer1.png');
	background-size: cover;
}

.off2 {
	background-image: url('../img/offer2.png');
	background-size: cover;
}

.pro h5 {
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #e94e05;
	font-family: "Roboto";
	font-weight: 700;
	text-transform: uppercase;
	padding: 30px 0;
}

.ash {
	background-color: #efefef;
}

.ash h1 {
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #3b1c0f;
	font-family: "Montserrat";
	font-weight: 700;
	text-transform: uppercase;
	padding: 40px 0;
}

.ash .nav-link {
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #9b9b9b !important;
	font-family: "Montserrat";
	font-weight: 700;
	background-color: transparent;
	border: none;
	padding: 15px 25px;
}

.nav-link.active {
	background-color: transparent !important;
	border: none;
	border-bottom: 10px solid #fd5d24 !important;
	color: #fd5d24 !important;
}

.tab-pane {
	padding: 80px 0;
}

.ash h2 {
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #7d7d7d;
	font-family: "Montserrat";
	font-weight: 700;
	margin-bottom: 40px;
	margin-top: 25px;
}

.ash p {
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 28px;
	color: #4d4d4d;
	font-family: "Montserrat";
	font-weight: 400;
	text-align: center;
}

.ash h3 {
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #ec6423;
	font-family: "Montserrat";
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}

.ash button {
	width: 166px;
	height: 55px;
	background-color: #fd5d24;
	border: 1px solid #fd5d24;
	font-size: 20px;
	letter-spacing: 1px;
	color: #ffffff;
	font-family: "Roboto";
	font-weight: 700;
	display: block;
	margin: auto;
}

.ash img {
	margin: 10px auto;
}

.org {
	background-color: #fd5d24;
	padding: 0 40px;
}

.org_side {
	padding: 60px 0;
}

.ph {
	position: absolute;
	bottom: 0;
	width: 92%;
}

.down h1 {
	font-size: 26px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #fefefe;
	font-family: "Montserrat";
	font-weight: 700;
}

.down p {
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 28px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 400;
}

.ash_dark {
	background-color: #555555;
	padding: 60px 40px;
}

.ash_dark input {
	padding: 20px 30px;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 28px;
	color: #808080;
	font-family: "Montserrat";
	font-weight: 400;
	text-transform: uppercase;
	text-align: right;
	width: 100%;
	border: 1px solid #ffffff;
}

.button {
	background-color: #fd5d24;
	border: 1px solid #fd5d24 !important;
	color: #ffffff !important;
	text-align: center !important;
}

form .col-md-9, form .col-md-3 {
	padding: 0;
}

.top_footer {
	background-color: #3b1c0f;
	padding: 91px 0;
}

.copy_right {
	height: 122px;
	background-color: #171717;
	padding: 37px 0;
}

.copy_right p {
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 50px;
	color: #979797;
	font-family: "Montserrat";
	font-weight: 400;
	text-align: center;
}

.footer_logo {
	display: block;
	margin: auto;
}

footer h1 {
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 40px;
	color: #fd5d24;
	font-family: "Montserrat";
	font-weight: 700;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.ttu {
	text-transform: uppercase;
}

.top_footer p {
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 26px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 400;
}

.top_footer h4 {
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 26px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 400;
}

.open h5, .open p {
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 26px;
	color: #afafaf;
	font-family: "Montserrat";
	font-weight: 700;
}

.ash_dark input {
	padding: 10px;
	font-size: 10px;
}

.footer_logo {
	margin: 20px auto;
}

footer {
	text-align: center;
}

footer li {
	display: inline-block;
	font-size: 40px;
	padding: 20px;
}

footer li a {
	color: #ffffff;
}
