html {
  scroll-behavior: smooth;
}

.no-left-pd {
  padding-left: 0;
}

.no-right-pd {
  padding-right: 0;
}

.heading-row .heading {
  color: #373737;
  font-size: 24px;
  font-family: "Montserrat";
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-weight: bold;
  padding: 0;
  margin-bottom: 24px;
}

.heading-row .heading span {
  color: #db6d14;
}

/*---- styles for header top bar section ----*/

#nav-top-bar {
  background: #db6d14;
  width: 100%;
  height: 45px;
  text-align: right;
  padding: 10px 115px;
  overflow: hidden;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 9999;
}

#nav-top-bar a {
  font-size: 15px;
  color: #FFF;
  font-family: "Montserrat";
  letter-spacing: 1px;
  line-height: normal;
  font-weight: 400;
  position: relative;
  /* margin-right: 30px; */
  margin-left: 30px;
}

#nav-top-bar a img {
  width: auto;
  height: 24px;
  margin-right: 15px;
}

#nav-top-bar .search-input input {
  font-size: 15px;
  font-weight: 400;
  color: #FFF;
  border: none;
  border-bottom: 1px solid #FFF;
  font-family: 'Montserrat';
  width: 200px;
}

#nav-top-bar .search-input i {
  font-size: 22px;
  font-weight: 400;
  color: #FFF;
  margin-left: 5px;
}

/*---- //styles for header top bar section ----*/

/*---- styles for navigation bar section ----*/

.navbar {
  background: #FFF;
  padding: 6px 100px;
  /*10px 100px*/
  z-index: 999;
  width: 100%;
  height: 66px;
  /*75px*/
  position: fixed;
  top: 45px;
  border-radius: 0;
}

.navbar .navbar-toggle {
  cursor: pointer;
  padding: 5px 10px;
  margin: 0;
}

.navbar .navbar-toggle i {
  font-size: 30px;
  font-weight: 500;
}

.navbar .navbar-collapse {
  padding: 8px 0px;
  float: right;
}

.navbar .navbar-collapse ul li a {
  display: inline;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #000;
  font-weight: 600;
  font-family: "Montserrat";
  text-transform: uppercase;
  padding: 10px 12px;
}

.navbar .navbar-collapse ul li a:hover {
  color: #028F38;
  background: none;
}

.navbar .navbar-collapse ul li a:focus {
  color: #028F38;
  background: none;
}

.navbar .comp-logo {
  float: left;
}

.navbar .comp-logo img {
  width: auto;
  height: 54px;
}

.navbar .rounded-btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  color: #028F38;
  letter-spacing: 1px;
  line-height: 14px;
  border: 2px solid #028F38;
  border-radius: 40px;
  background: #FFF;
  transition: all 0.3s ease 0s;
}

.navbar .rounded-btn:hover {
  color: #FFF;
  background: #028F38;
}

.navbar .cart-btn {
  background: #028F38;
  color: #FFF;
}

.navbar .cart-btn:hover {
  background: #FFF;
  color: #db6d14;
}

.navbar .cart-btn img {
  height: 18px;
  width: auto;
  vertical-align: bottom;
  padding-right: inherit;
  margin-top: -4px;
}

.navbar .cart-btn img.red-bag {
  display: none;
}

.navbar .cart-btn:hover img.red-bag {
  display: inline-block;
}

.navbar .cart-btn:hover img.white-bag {
  display: none;
}

.navbar .user-icon {
  height: 25px;
  width: auto;
}

/*---- //styles for navigation bar section ----*/

/*---- styles for footer section ----*/

#footer .top-container {
  background: #eee;
  padding: 65px 85px;
}

#footer .site-logo img {
  width: auto;
  height: 58px;
  margin-bottom: 20px;
}

#footer .col-title {
  font-size: 14px;
  line-height: normal;
  color: #555555;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}

#footer .col-title i {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
  display: none;
}

#footer .about-txt {
  width: 90%;
  font-size: 11px;
  line-height: 20px;
  color: #373737;
  font-weight: 400;
  font-family: "Montserrat";
}

#footer .ft-links {
  list-style: none;
  padding-left: 0;
}

#footer .ft-links li a {
  font-size: 12px;
  line-height: 26px;
  color: #373737;
  font-weight: 500;
  font-family: "Montserrat";
  cursor: pointer;
  text-transform: uppercase;
}

#footer span {
  font-size: 12px;
  line-height: normal;
  color: #373737;
  font-weight: 400;
  font-family: "Montserrat";
  display: block;
  line-height: 20px;
}

#footer .addr-name {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: normal;
}

#footer .time-txt {
  font-size: 13px;
}

#footer .col-sub-title {
  font-size: 14px;
  line-height: normal;
  color: #373737;
  font-weight: 700;
  font-family: "Montserrat";
  margin-top: 16px;
  margin-bottom: 5px;
}

#footer .social-links {
  margin-top: 30px;
}

#footer .social-links a {
  margin-right: 25px;
}

#footer .social-links a i {
  font-size: 22px;
  color: #000;
  font-weight: 500;
  opacity: 0.5;
}

#footer .bottom-container {
  background: #FFF;
  padding: 30px 80px;
  text-align: right;
}

#footer .bottom-container p {
  font-size: 11px;
  line-height: normal;
  color: #555555;
  font-weight: 400;
  font-family: "Montserrat";
  margin: 0;
}

#footer .mob-about-sec {
  display: none;
}

/*---- //styles for footer section ----*/

/*---- styles for top selling section ----*/

.top-selling-section {
  padding-top: 18px;
}

/*---- //styles for top selling section ----*/

/*---- styles for download app section ----*/

.download-app-section {
  text-align: left;
}

.download-app-section .left-sec, .download-app-section .right-sec {
  padding-top: 48px;
}

.download-app-section .left-sec {
  background: #db6d14;
  height: 230px;
  position: relative;
  padding-right: 30px;
  padding-left: 50px;
}

.download-app-section .left-sec .desc-sec {
  padding-left: 30px;
  padding-right: 0;
}

.download-app-section .sec-heading {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  color: #FFF;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0;
  margin-bottom: 10px;
}

.download-app-section .para {
  font-size: 13px;
  letter-spacing: normal;
  line-height: 22px;
  color: #FFF;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
}

.download-app-section #google-play-btn img, .download-app-section #app-store-btn img {
  width: auto;
  height: 46px;
}

.download-app-section #google-play-btn {
  margin-right: 0px;
}

.download-app-section .phone-img {
  width: 310px;
  height: auto;
  position: absolute;
  bottom: -181px;
  /* -189px */
  left: 25px;
}

.download-app-section .right-sec {
  background: #373737;
  height: 230px;
  padding-left: 66px;
  padding-right: 130px;
}

.download-app-section .right-sec .input-group {
  display: flex;
}

.download-app-section .right-sec .input-group input {
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: normal;
  color: #555;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 0;
}

.download-app-section .right-sec .input-group .subscribe-btn {
  background-color: #028F38;
  border: none;
  color: #FFF;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: normal;
  font-weight: 700;
  font-family: 'Montserrat';
  text-transform: uppercase;
  border-radius: 0;
  padding: 14px 16px;
  height: 40px;
}

/*---- //styles for download app section ----*/

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
  #nav-top-bar {
    padding: 10px 40px;
  }
  .navbar {
    padding: 10px 22px;
  }
}

@media only screen and (max-width: 768px) {
  #nav-top-bar {
    text-align: center;
    padding: 10px 15px;
  }
  #nav-top-bar .search-input {
    display: none;
  }
  .navbar {
    padding: 10px 6px 10px 0;
  }
  .navbar .navbar-collapse {
    float: none;
    background: #FFF;
    height: auto;
    text-align: center;
    position: relative;
    top: 8px;
    width: 100vw;
    margin-left: -1px;
  }
  #footer .top-container {
    text-align: center;
    padding: 40px 15px;
  }
  #footer .ft-col {
    margin-top: 40px;
  }
  #footer .about-txt {
    width: 100%;
  }
  #footer .social-links a {
    margin-right: 20px;
    margin-left: 20px;
  }
  #footer .col-title i {
    display: inline-block;
  }
  #footer .collapse-content {
    display: none;
  }
  #footer .bottom-container {
    text-align: center;
    padding: 25px 15px;
  }
  #footer .mob-display {
    display: block;
  }
  .mob-hide {
    display: none;
  }
  .download-app-section, .download-app-section .para {
    text-align: center;
  }
  .download-app-section .phone-img {
    display: none;
  }
  .download-app-section .left-sec, .download-app-section .right-sec {
    padding: 40px 20px;
    height: auto;
  }
  .download-app-section .left-sec .desc-sec {
    padding: 0 10px;
  }
  .download-app-section .right-sec .input-group {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  #nav-top-bar {
    padding: 12px 10px;
  }
  #nav-top-bar a {
    font-size: 10px;
    /* margin-right: 10px; */
    margin-left: 10px;
  }
  #nav-top-bar a img {
    margin-right: 5px;
    height: 18px;
  }
  .navbar {
    height: 65px;
  }
  .navbar .comp-logo img {
    height: 46px;
  }
}

@media only screen and (max-width: 320px) {
  #nav-top-bar .mail-txt {
    display: none;
  }
}

/* //////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
///////////////////////////////////////////////// */

#mobile_slider {
  display: none;
}

#signupModal .close {
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

.modal-body h4 {
  text-align: center;
  margin-top: -40px;
  margin-bottom: 25px;
  font-family: 'Montserrat';
  font-weight: 600;
}

/* Tab view menu makes display none*/

.tab-only {
  display: none!important;
}

/* Tab view menu makes display none ends */

/* Sub menu new */

#cata-sub-nav-color {
  background: #efefef;
}

.cata-sub-nav {
  background: rgb(255, 255, 255);
  padding: 41px 3px 15px 0px;
  margin: 0 37px;
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* Remove the default scrollbar for WebKit implementations */
  margin-left: -19%;
}

.align-menu-items ul li {
  position: relative;
  display: table-cell;
  width: 100%;
}

.cata-sub-nav::-webkit-scrollbar {
  display: none;
}

.cata-sub-nav ul {
  margin: 0;
  display: flex;
  -webkit-padding-start: 0px;
}

/* .cata-sub-nav li {
  display: inline-table;
  margin: 0 10px;
      font-size: 16px;
}  */

.cata-sub-nav li {
  display: inline-table;
  margin: 0px -99px;
  font-size: 16px;
  margin-left: 15%;
}

.arrow {
  background: red;
}

.arrow1, .arrow2 {
  color: #028F38;
  border: none;
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #028F38;
  font-weight: 700;
  font-family: "Montserrat";
  border: 0px;
  border-bottom: solid #028F38 4px;
  background-color: transparent;
}

#myTab li a.active, #myTab li a:hover, #myTab li a:focus {
  /* color: #bc040b;
  border-bottom: 2px solid; */
}

.cata-sub-nav-index .arrow1, .cata-sub-nav-index .arrow2 {
  display: none;
}

.nav-prev {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 7px;
  margin-top: -21px;
  margin-left: 1%;
}

.nav-next {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 23px;
  margin-top: -39px;
}

/* Sub menu new Ends */

.carousel-caption {
  /* right: 20%; */
  /* left: 20%; */
  padding-bottom: 69px;
  bottom: 140px;
}

.slides img {
  left: 437px;
  top: 60px;
  width: 65px;
  height: 27px;
}

/* Home slider */

.alignment-slider {
  /* margin-left: 11%; */
  /* margin-left: 6.8%; */
  /* margin-left: 11.6%; */
  position: relative;
  left: 51%;
  transform: translateX(-50%);
}

/* .alignment-slider {
  margin-left: 11%;
} */

/* Home slider ends */

#pre-header-item {
  display: none;
}

#user {
  /* width: 53%; */
  width: 36%;
  height: auto;
}

.carousel-indicators {
  z-index: 1 !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* #reservation {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  color: #bc040b;
  letter-spacing: 1px;
  line-height: 14px;
  border: 2px solid #bc040b;
  border-radius: 40px;
  background: #ffffff;
  transition: all 0.3s ease 0s;
} */

/* #reservation:hover {
  color: #FFF;
  background: #bc040b;
  border: 2px solid #bc040b;
} */

#reservation.active.focus, #reservation.active:focus, #reservation.active:hover, #reservation:active.focus, #reservation:active:focus, #reservation:active:hover, .open>.dropdown-toggle.focus, .open>.dropdown-toggle#reservation:focus, .open>.dropdown-toggle#reservation:hover {
  color: #fff;
  background-color: #028F38!important;
  border-color: #028F38;
  border-radius: 40px;
}

/* Pre-header styles */

.pre-header-row {
  height: 12px;
}

.page-header {
  background-color: #028F38;
  width: 100%;
  padding-top: auto;
  height: 45px!important;
  height: auto;
  padding-bottom: auto!important;
  margin: 0px 0 0px!important;
  border-bottom: 0px!important;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #f7d5db;
  font-weight: inherit;
  font-family: "Montserrat";
  position: fixed;
  z-index: 99999;
}

/* .btn-shopping {
  height: 30px;
  background: #bc040b !important;
  color: #FFF !important;
} */

/* .btn-shopping:hover {
  background-color: #FFF !important;
  border: 2px solid #bc040b !important;
  color: #bc040b !important;
} */

.btn-shopping:hover img {
  background: url("img/bag2.png")!important;
  /* display: block!important; */
  z-index: 99;
  display: inline;
}

/* #myTopnav a:nth-child(1), #myTopnav a:nth-child(2) {
  vertical-align: sub;
} */

/* .topnav {
  overflow: hidden;
  background-color: #bc040b;
  float: right; */

/* margin-right: 84px!important; */

/* margin-right: 90px !important;
} */

/* .topnav a {
  display: inline-block;
  text-align: right;
  color: #f7d5db;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; */

/* font-size: 17px;
  padding: 0px 0px;
  text-decoration: none;
  padding-right: 19px;
  padding-left: 2px;
  margin-right: auto;
  margin-left: auto;
  display: inline; */

/* font-size: 14px; */

/* letter-spacing: 1px; */

/* line-height: 40px; */

/* font-weight: 600; */

/* font-family: "Montserrat";
} */

#img-phone {
  /* To make the image size responsive  */
  /* To make the image size responsive  */
  width: 100%;
  max-width: 20px;
  height: auto;
  vertical-align: text-top;
  margin-right: 8px;
}

/* .topnav a.active {
  background-color: #bc040c;
  color: white;
}

.topnav .icon {
  display: none;
} */

/* @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
} */

/* @media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: right;
    display: block;
    text-align: right;
  }
} */

/* Search bar */

.search input {
  width: auto;
}

button, input, select, textarea {
  font-family: auto;
  font-size: unset;
  line-height: initial;
}

.search {
  background-color: transparent!important;
  font-size: 20px;
}

form.search input[type=text] {}

#search {
  border: 0;
  /* border-bottom: 1px solid red; */
  /* outline: 0; */
  /* float: left; */
  /* width: 80%; */
  background-color: transparent;
  border: 0px 0px 1px!important;
  border-bottom: 1px solid #f7d5db;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: -webkit-fill-available;
}

button, input, select, textarea {
  border: 1px solid transparent;
}

button, input, optgroup, select, textarea {
  /* margin: 0; */
  /* font: inherit; */
  color: inherit;
  background-color: transparent;
  border-bottom: 1px solid #f7d5db;
  font-family: 'Montserrat';
}

#myTopnav input {
  /* margin: 0; */
  /* font: inherit; */
  color: inherit;
  background-color: transparent;
  border-bottom: 1px solid #f7d5db;
  font-family: 'Montserrat';
  font-size: 13px;
  height: 15px;
}

form.search input[type=button] {
  padding: 0;
  border: none;
  background: none;
}

/* navigation buttons styles*/

.btn {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #028F38;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #028F38;
  border-radius: 40px;
  background: #ffffff;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  color: #FFF;
  background: #028F38;
  border: 2px solid #028F38;
}

.btn.active.focus, .btn.active:focus, .btn.active:hover, .btn:active.focus, .btn:active:focus, .btn:active:hover, .open>.dropdown-toggle.focus, .open>.dropdown-toggle.btn:focus, .open>.dropdown-toggle.btn:hover {
  color: #fff;
  background-color: #028F38!important;
  border-color: #028F38;
  border-radius: 40px;
}

/* Navigation bar styles */

#shopping {
  height: 18px;
  width: auto;
  vertical-align: bottom;
  padding-right: inherit;
  margin-top: -4px;
}

#btn-user {
  background-color: transparent;
  border: 0px;
}

#btn-user:focus {
  background-color: transparent;
  border: 0px;
  outline-style: none;
}

/*carousel styles  */

#myCarousel {
  padding-top: 110px;
  /* 120px */
}

/* #myCarousel{
    margin-top: 25%;
  } */

.right.carousel-control, .left.carousel-control {
  visibility: hidden;
}

.carousel-indicators .active {
  width: 49px;
  height: 6px;
  /* margin: 0; */
  border-radius: inherit;
  background-color: #028F38;
  border: 0px !important;
}

/*carousel image text styles  */

/* .carousel-caption {
  position: absolute;
 
  bottom: 25px;
  left: 17%;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 82px;
  color: #fff;
  text-align: left;
} */

#summer-offer-text {
  font-size: 60px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat";
  white-space: nowrap;
  text-align: left;
}

#off-online-text {
  font-size: 60px;
  letter-spacing: 3px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  white-space: nowrap;
  text-align: left;
}

#small-text {
    word-break: break-all;
word-wrap: break-word;
overflow-wrap: break-word; 
  hyphens: auto;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  /*white-space: nowrap;*/
  text-align: left;
  /*margin-left: -12%;*/
}

#small-txt-2 {
  margin-left: -61%;
}

.small, small {
  font-size: 143%;
}

#image-text-prize {
  text-align: left;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 42px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}

#add-to-cart {
  /* height: 50px;
      width: 100px; */
  background-color: #028F38;
  float: left;
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 40px;
  font-weight: 700;
  font-family: 'Montserrat';
  padding: 0px 19px 0px;
}

#add-to-cart:hover {
  -webkit-transform: scale(1.1);
  background-color: #028F38;
}

#add-to-cart-h-mid {
  margin: inherit;
  margin-left: 15%;
  background-color: #028F38;
  float: left;
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 40px;
  font-weight: 700;
  font-family: 'Montserrat';
  padding: 0px 27px 0px;
  margin-top: 3%;
}

.pop-up #add-to-cart-h-mid {
  margin: inherit;
  margin-left: -10%;
  background-color: #028F38;
  float: left;
  /* box-shadow: 0 0 1px #ccc; */
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 36px;
  font-weight: 700;
  font-family: "Montserrat";
  padding: 0px 34px;
  margin-top: 41%;
}

#add-to-cart-h-mid:hover {
  -webkit-transform: scale(1.1);
  background-color: #028F38;
}

/*carousel image text area button styles  */

/*Specific Cases*/

.btn.btn-custom-lg, .btn.btn-custom-sm, .btn.btn-custom-xs {
  border-radius: 0!important;
}

/*Global*/

.btn.btn-square {
  border-radius: 0;
}

.carousel-indicators li {
  display: inline-block;
  width: 49px;
  height: 6px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #e1e1e1;
  border-radius: inherit;
  border: 0px !important;
}

/* Content-top styles */

#span-text-color {
  color: #028F38;
}

#new-taste-text1 {
  width: 982px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: normal;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}

#new-taste-text2 {
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

#new-taste-text3 {
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}

#new-taste-text4 {
  width: 982px;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 11px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}

.content-top h3 {
  text-align: left;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 9px;
}

.content-top h4 {
  text-align: left;
  font-weight: bold;
  padding-top: 51px;
  padding-bottom: 11px;
}

.content-top .col-md-7 {
  text-align: left;
  font-weight: bold;
  margin-right: inherit;
}

#content-top-text1 {
  font-size: 31px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Kaushan Script";
}

#content-top-text2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* margin-top: revert; */
  margin-top: 22px;
  /*line-height: 40px;*/
  color: #ffffff;
  font-family: "Montserrat";
  width: fit-content;
  height: auto;
  background-color: #e18a00;
  /* padding: 2px 10px; */
  /*white-space: nowrap;*/
  /*text-align: center;*/
  word-break: break-all;
}

#content-top-carousel-caption {
  position: absolute;
  /* right: 65%; */
  bottom: -17px;
  left: 11%;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 82px;
  color: #fff;
  text-align: left;
}

#content-top-prize {
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin-top: 2%;
}

.content-top .carousel-caption {
  position: absolute;
  /* right: 65%; */
  bottom: -19px;
  left: 11%;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 82px;
  color: #fff;
  text-align: left;
  /* float: left; */
}

/* see all offers */

#see-all-offers-text {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #028F38;
  font-weight: 700;
  font-family: "Roboto";
  text-align: -webkit-auto;
  border-bottom: 1px solid #028F38;
  position: absolute;
  bottom: 30%;
}

#see-all-offers-text-align {
  margin-top: 3%;
  margin-left: 11.5%;
}

#see-all-offers.arrows {
  margin-left: 5%;
}

.arrows {
  margin-top: 3px;
  margin-left: 60%;
}

.arrow1, .arrow2 {
  color: #028F38;
  /* border: 1px solid #028F38; */
  padding-right: 7px;
  padding-top: 0px;
  padding-left: 9px;
}

.arrow1:active, .arrow2:active {
  color: #028F38;
  /* border: 1px solid #028F38; */
}

.arrow-right {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 13px solid #028F38;
}

.arrow-left {
  /* width: 13px; */
  /* height: 15px; */
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 13px solid #028F38;
}

/* see all offers */

/* #content-top-carousel-caption.box-opacity{
bottom: 20px;
left: 11%;
z-index: 1;
padding-top: 50px;
padding-bottom: 82px;
color: #fff;
text-align: left;
background: rgba(0, 0, 0, 0.5);
width: 74%;
height: 65%;
padding-left: 5%;
padding-top: 1%!important;
}  */

#content-top-carousel-caption.box-opacity {
  bottom: 31px;
  /* left: 11%; */
  /* z-index: 1; */
  padding-top: 50px;
  /* padding-bottom: 82px; */
  color: #fff;
  /* text-align: left; */
  background: rgba(0, 0, 0, 0.5);
  /* width: 13%; */
  height: 68%;
  padding-left: 3%;
  padding-top: 0%!important;
  overflow: hidden;
}

#see-all-offers {
  padding: 20px;
}

/* content-mid */

.spectrum-h2 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #7d7d7d;
  font-weight: bold;
  font-family: "Montserrat";
}

.fa-heart-o, .fa-heart {
  color: #028F38;
  margin-top: 9%;
  margin-left: 10px;
  font-size: 22px;
}

.fa-heart-o:active, .fa-heart-o:focus, .fa-heart-o:active, .fa-heart-o:focus {
  color: #028F38;
  margin-top: 9%;
  font-size: 22px;
}

/* #Div2 {
  display: block;
}
#Div1 {
  display: none;
}

.fa-heart-o:before {
  content: "\f08a";
  margin-left: 2%;
}
.fa-heart:before {
  content: "\f004";
  margin-left: 3%;
} */

.fa-heart-o {
  color: #028F38;
  cursor: pointer;
}

.fa-heart {
  color: #028F38;
  cursor: pointer;
}

#weekly-offer-text-color {
  color: #ffc208;
}

#menu-mid {
  display: inline;
}

.content-mid {
  background-color: #efefef;
  padding-top: 14px;
  padding-bottom: 72px;
}

.content-mid .flexslider {
  background-color: #efefef;
  margin-top: 4%;
}

.content-mid H3 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #3b1c0f;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: -webkit-auto;
}

#web_slider h3 {
  line-height: normal;
  margin-bottom: 0;
}

/* #myTab{
  text-align: -webkit-auto;
} */

#myTab li a {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #9b9b9b;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #028F38;
  font-weight: 700;
  font-family: "Montserrat";
  border: 0px;
  border-bottom: solid #028F38 4px;
  background-color: transparent;
}

#myTab li a.active, #myTab li a:hover, #myTab li a:focus {
  color: #028F38;
  /* border-bottom: 2px solid #bc040b; */
}

.secondary-nav {
  width: 100%;
  border-bottom: 1px solid #028F38;
}

.secondary-nav .nav-tabs {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  border-bottom: 0px;
}

.secondary-nav .nav-tabs .nav-item {
  color: #969696;
}

.secondary-nav .nav-tabs .nav-item a {
  color: #969696;
}

.secondary-nav .nav-tabs .nav-item a.active {
  color: #282828;
  border: 0px;
  border-bottom: solid #028F38 4px;
  background-color: transparent;
}

.secondary-nav .nav-tabs .nav-item a.hover {
  color: #028F38;
  border: none;
}

/* content-mid */

/* Content bottom */

.content-bottom {
  width: auto;
  /* height: 30px!important; */
}

#content-bottom-left {
  background-color: #028F38;
  height: 230px;
}

#content-bottom-left img {
  margin-top: -12.5%;
  width: 299px;
}

#content-bottom-right {
  background-color: #a5a5a5!important;
  height: 230px;
}

.email-placeholfer-text {
  text-align: right;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #808080;
  font-weight: 400;
  font-family: "Montserrat";
}

/* Footer styles */

footer {
  background-color: #dbdbdb;
  padding: 25px;
  height: 310px;
  width: auto;
  height: auto;
}

#footer-logo {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: 10%;
}

#myTab {
  margin-left: 21%;
  margin-top: -1.5%;
}

.cata-sub-nav-index #myTab {
  margin-left: 5%;
  margin-top: -2%;
}

.cata-sub-nav-index {
  margin-left: 0%;
  margin-top: -2%;
  border-bottom: 2px solid #c9c9c9;
  width: 98%;
}

.quick-links li a {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #373737;
  font-weight: 400;
  font-family: "Montserrat";
}

#footer-text h5 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #555555;
  font-weight: 700;
  font-family: "Montserrat";
}

/*copyright styles  */

#copyright {
  padding: 3px;
}

#copyright p {
  text-align: right;
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 61px;
  color: #979797;
  font-weight: 200;
  font-family: "Montserrat";
}

.carousel-inner img {
  width: 100%;
  /* Set width to 100% */
  margin: auto;
  min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */

/* @media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
} */

/* Card Based Layout - Base styles */

article.col-md-4 .col-lg-3 {
  margin-top: 1em;
  margin-bottom: 2em;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div.card-content {
  padding: 0.5em;
  margin-top: -1em;
  /* margin-bottom: 6em; */
  z-index: -1;
}

/* div.card-content {
  padding: 31.5em;
  margin-top: -31em;
  margin-bottom: -63em;
  z-index: -1;
} */

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

div.card-content h3 {
  margin-bottom: 0.5em;
  font-weight: normal;
}

div.card-content h4 {
  margin-bottom: 0.5em;
  font-weight: bold;
  /* color: #4c4c4c; */
  text-align: center;
  text-transform: lowercase;
}

div.card-content h4::first-letter {
  text-transform: capitalize
}

div.card-content p {
  font-size: 16px;
  text-align: center;
}

img.spectrum1 {
  width: 100%;
  height: auto;
}

div a, a:hover {
  text-decoration: none;
}

div a:hover {
  opacity: 0.8;
}

.menu-item {
  margin-left: 40px;
}

.checked {
  color: orange;
  text-align: center;
}

.rating {
  text-align: center;
  color: #d6d6d6;
}

.pricing span p {
  color: #028F38;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
}

.pricing {
  color: #028F38;
  font-size: 23px;
  font-family: fantasy;
}

.food-details {
  color: #444444 !important;
  height: 54px;
}

.spectrum {
  padding: 50px;
}

.add-remove {
  width: 65%;
  margin-left: 15%;
}

/* .minus, .plus{
  width: 20px;
  background: #353535;
  border-radius: 4px;
  padding: 8px 10px 8px 10px;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  color: white;
} */

.minus {
  /* width: 46px; */
  background: #353535;
  /* border-radius: 2px; */
  padding: 8px 12px 8px 12px;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
}

.minus:hover {
  -webkit-transform: scale(1.1);
  background-color: #353535;
  font-size: 15px;
}

.plus {
  /* width: 46px; */
  background: #353535;
  /* border-radius: 2px; */
  padding: 8px 10px 8px 10px;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
}

.plus:hover {
  -webkit-transform: scale(1.1);
  background-color: #353535;
  font-size: 15px;
}

.number-box {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 21px;
  color: #131313;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

/* Star styling */

/* Rating Star Widgets Style */

.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.rating-stars ul>li.star {
  display: inline-block;
}

/* Idle State of the stars */

.rating-stars ul>li.star>i.fa {
  font-size: 2.5em;
  /* Change the size of the stars */
  color: #ccc;
  /* Color on idle state */
}

/* Hover state of the stars */

.rating-stars ul>li.star.hover>i.fa {
  color: #FFCC36;
}

/* Selected state of the stars */

.rating-stars ul>li.star.selected>i.fa {
  color: yellow;
}

/*standerd css*/

.inline {
  display: flex;
}

/*media*/

@media only screen and (max-width: 968px) and (min-width:770px) {
  .img-responsive-phone {
    margin-top: -18%;
    width: auto;
    height: 10%;
    margin-left: 25%!important;
  }
  /* #user {
    width: 8%;
    height: auto;
} */
  #content-bottom-left-items {
    text-align: -webkit-center;
  }
  #content-bottom-left-items h2 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #fefefe;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: -9%;
  }
}

@media (max-device-width: 812px) and (min-width: 375px) {
  .banner-text {
    /* margin-left: 78px!important; */
    margin-left: 0 !important;
    /* margin-top: 103px; */
  }
  .banner-text .signin-form {
    margin-left: 0 !important;
  }
  .login-fx-box .banner-text h5 {
    /* margin-left: -427px!important; */
  }
}

@media only screen and (max-width: 768px) {
  #content-top-carousel-caption.box-opacity {
    height: auto;
  }
  .heading-row .heading {
    font-size: 20px;
  }
  #content-top-text1 {
    font-size: 20px;
  }
  #new-taste-text1 {
    font-size: 18px;
    width: 100%;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #new-taste-text2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .alignment-slider {
    margin-left: 0;
  }
  .jq-toast-wrap {
    position: fixed !important;
    top: 100px !important;
    left: 10% !important;
    z-index: 99999 !important;
  }
  #myTabContent-home {
    /*max-height: 800px;*/
  }
  .flex-viewport {
    max-height: 550px !important;
  }
  #mobile_slider {
    display: block;
  }
  #web_slider {
    display: none;
  }
  #myTabContent-home {
    margin-bottom: -400px!important;
  }
  #myTab {
    margin-left: 0;
    margin-top: -1.5%;
    max-height: 62px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .prod-img {
    max-width: -webkit-fill-available !important;
  }
  .secondary-nav .nav-tabs .nav-item {
    color: #969696;
    display: inline-block;
    float: none;
  }
  div.card-content {
    margin-bottom: 25px;
  }
  /* .main-caption {
    display: none;
  } */
  #add-to-cart-h-mid {
    margin: inherit;
    margin-left: 6.5%!important;
    background-color: #028F38;
    float: inherit!important;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Roboto";
    padding: 0px 27px 0px;
    margin-top: 5%;
  }
  #myTabContent-home .fa-heart-o {
    color: #028F38;
    cursor: pointer;
    /* margin-right: -58%; */
    margin-left: 2%;
    margin-top: -42px!important;
    vertical-align: middle;
  }
  [class*="col-"] {
    width: 100%;
  }
  /* Sub menu new */
  /* #cata-sub-nav-color{
  background: #efefef;
 } */
  #cata-sub-nav-color {
    background: #efefef;
    margin-left: -33%;
    width: 139%;
  }
  .cata-sub-nav {
    background: rgb(255, 255, 255);
    padding: 41px 3px 15px 0px;
    margin: 0 37px;
    /* Make this scrollable when needed */
    overflow-x: auto;
    /* We don't want vertical scrolling */
    overflow-y: hidden;
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
    /* We don't want internal inline elements to wrap */
    white-space: nowrap;
    /* Remove the default scrollbar for WebKit implementations */
    margin-left: -19%;
  }
  .align-menu-items ul li {
    position: relative;
    display: table-cell;
    width: 100%;
  }
  .cata-sub-nav::-webkit-scrollbar {
    display: none;
  }
  .cata-sub-nav ul {
    margin: 0;
    display: flex;
    -webkit-padding-start: 0px;
  }
  /* .cata-sub-nav li {
  display: inline-table;
  margin: 0 10px;
      font-size: 16px;
}  */
  .cata-sub-nav li {
    display: inline-table;
    margin: 0px -97px;
    font-size: 16px;
    margin-left: 27%;
  }
  .arrow {
    background: red;
  }
  .arrow1, .arrow2 {
    color: #bc040b;
    border: none;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #bc040b;
    font-weight: 700;
    font-family: "Montserrat";
    border: 0px;
    border-bottom: solid #bc040b 4px;
    background-color: transparent;
  }
  #myTab li a.active, #myTab li a:hover, #myTab li a:focus {
    /* color: #bc040b;
  border-bottom: 2px solid; */
  }
  .cata-sub-nav-index .arrow1, .cata-sub-nav-index .arrow2 {
    display: none;
  }
  .nav-prev {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 7px;
    margin-top: -21px;
    margin-left: 1%;
  }
  .nav-next {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 23px;
    margin-top: -39px;
  }
  /* Sub menu new Ends */
  .cata-sub-nav-index .arrow1 {
    display: block!important;
    color: #bc040b;
    /* border: 1px solid #bc040b; */
    padding-right: 7px;
    padding-top: 13px;
    padding-left: 9px;
  }
  .cata-sub-nav-index .arrow2 {
    display: block!important;
    color: #bc040b;
    /* border: 1px solid #bc040b; */
    padding-right: 7px;
    padding-top: 0px;
    padding-left: 9px;
  }
  #myTabContent-home .flex-next {
    opacity: 1;
    background-color: transparent;
    margin-top: -6%!important;
  }
  .content-mid {
    background-color: #efefef;
    padding-top: 14px;
    margin-top: -69%;
  }
  .flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 35px;
    height: 35px;
    /* margin: -20px 0 0; */
    /* position: absolute; */
    /* top: 50%; */
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    /* color: rgba(0, 0, 0, 0.8); */
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .alignment-slider .flex-next {
    left: 91%!important;
    top: 40.1%!important;
    opacity: 1;
    /* text-align: right; */
    /* margin-left: 384%; */
    margin-top: 0%;
    /* margin-left: 110%; */
    /* margin-bottom: 7%; */
    background-color: transparent;
    border: 1px solid #bc040b;
  }
  .alignment-slider .flex-prev {
    left: -75px!important;
    margin-top: 20.5%;
    margin-left: 94.5%!important;
    /* background-color: #bc040b; */
    border: 1px solid #bc040b;
    background-color: transparent;
    opacity: 1;
  }
  .flex-nav-prev {
    margin-top: 95%;
    visibility: hidden;
  }
  .flex-nav-next {
    margin-top: 95%;
    visibility: hidden;
  }
  .flexslider .slides img {
    height: auto;
    /* margin-top: 5%; */
    /* margin-left: 2%; */
    width: 100% !important;
    -moz-user-select: none;
  }
  .modal {
    /* display: none!important; */
    /* Hidden by default */
  }
  .modal-content {
    margin-left: initial !important;
    width: 100% !important;
  }
  .fa-heart-o, .fa-heart {
    color: #bc040b;
    margin-top: -21%;
    margin-left: -43%;
    font-size: 22px;
    position: sticky!important;
  }
  .fa-heart-o {
    color: #bc040b;
    cursor: pointer;
  }
  .fa-heart {
    color: #bc040b;
    cursor: pointer;
  }
  /* #add-to-cart-h-mid {
    margin: inherit;
    margin-left: 12%;
    background-color: #bc040b;
    float: left;
  
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Roboto";
    padding: 0px 19px 0px;
    margin-top: 16%;
} */
  #add-to-cart-h-mid {
    margin: inherit;
    margin-left: 23%;
    background-color: #bc040b;
    float: left;
    /* box-shadow: 0 0 1px #ccc; */
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Roboto";
    padding: 0px 16px 0px;
    /* margin-top: 2%; */
    margin-top: -19% !important;
    margin-left: 54% !important;
  }
  #see-all-offers-text {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #bc040b;
    font-weight: 700;
    font-family: "Roboto";
    text-align: -webkit-auto;
    border-bottom: 1px solid #bc040b;
    position: absolute;
    /* bottom: 0%!important; */
    margin-bottom: 78.5%;
  }
  #content-bottom-left img {
    margin-top: -12%;
  }
  button, input, optgroup, select, textarea {
    /* margin: 0; */
    /* font: inherit; */
    color: inherit;
    /* background-color: transparent; */
    border-bottom: 2px solid #777475;
  }
  #pre-header-item {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    display: block;
  }
  .phone-num#text {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #bc040b;
    font-weight: 400;
    font-family: "Montserrat";
    display: block;
  }
  /* #navbar-color ul #pre-header-item a {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #bc040b;
    font-weight: 600;
    font-family: "Montserrat";
    display: block; */
  /* text-align: center; */
  /* } */
  #user {
    width: 8%;
    height: auto;
  }
  /* #user:hover {
  background: url("images/filled user/user-red.png") no-repeat;
  width: 8%;
  height: auto;
} */
  button, input, optgroup, select, textarea {
    /* margin: 0; */
    /* font: inherit; */
    /* color: inherit;
  background-color: transparent;
  border-bottom: 1px solid #f7d5db;
  margin-left: 21%; */
  }
  #img-phone {
    /* width: 100%;
  max-width: 20px;
  height: auto; */
    /* vertical-align: text-top; */
    /* margin-right: 9px;
  margin-left: 11%; */
  }
  .pre-header-row {
    height: 20px;
    /* width: 101px; */
  }
  #myTopnav a {
    display: none;
    margin-top: 5%;
  }
  .dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
  }
  /* text  */
  .btn-shopping {
    background-color: #bc040b;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    padding: 2%;
    text-align: center;
  }
  .btn-shopping:hover {
    background-color: white!important;
    color: #bc040b;
  }
  .btn-shopping:hover img {
    background: url("images/bag.png")!important;
    /* display: block!important;
    z-index: 99;
    display: inline; */
  }
  /* .topnav {
    overflow: hidden;
    background-color: #bc040c;
    float: right;
  } */
  .img-responsive {
    /* margin-top: -18%;
    width: auto;
    height: 10%;
    margin-left: 25%!important; */
    margin-left: 23%;
    margin: auto;
  }
  /* .body{
    margin-left: 10%;
    width: 100% !important;
  } */
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: initial !important;
  }
  /* #footer-logo {
    margin-left: 0 !important;
  }
  #footr-text p {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
  }
  footer p, h5, li {
    text-align: center;
  }
  #footr-text p, h5, li {
    text-align: center!important;
  } */
  .minus, .plus {
    /* width: 200px; */
    height: 30px;
    /* margin-top: 7%; */
    background: #353535;
    border-radius: 4px;
    padding: 6px 10px 6px 10px;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    color: white;
    /* margin-bottom: 3%; */
  }
  .number-box {
    /* height: 34px; */
    width: 100px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 21px;
    color: #131313;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
  }
  .card-content #add-to-cart {
    vertical-align: center;
    margin-top: inherit;
    margin-left: 15%;
  }
  #content-bottom-left {
    background-color: #bc040b;
    height: auto;
    margin-left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #content-bottom-left #prefooter-phone {
    display: none !important;
  }
  #content-bottom-left-items h2 {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
  #content-bottom-left-items h3 {
    width: 100%;
    text-align: center;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
  #content-bottom-right {
    background-color: #a5a5a5!important;
    height: auto;
    margin-left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  #content-bottom-right #add-to-cart {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
  .img-responsive-phone {
    margin-left: -12% !important;
    margin-top: -18%;
    width: auto;
    height: 10%;
  }
  #content-bottom-left-items {
    text-align: -webkit-center;
  }
  #content-bottom-left-items img {
    margin-bottom: 0;
  }
  #content-top-carousel-caption {
    position: absolute;
    /* right: 65%; */
    bottom: -17px;
    left: 11%;
    z-index: 10;
    padding-top: 50px;
    padding-bottom: 82px;
    color: #fff;
    text-align: left;
  }
  #content-top-carousel-caption.box-opacity {
    overflow: visible;
  }
  .phone-num {
    font-size: 10px!important;
    letter-spacing: 1px!important;
    line-height: 1px!important;
    color: #f7d5db;
    font-weight: 400;
    font-family: "Montserrat";
    position: absolute;
    text-align: inherit!important;
    margin-left: 59%!important;
  }
  #myCarousel {
    padding-top: 27%!important;
  }
  #img-phone {
    /* width: 100%;
  max-width: 15px!important;
  height: auto; */
    /* margin-right: 3%!important; */
  }
  #img-envelope {
    margin-right: 4px!important;
    height: auto;
    width: 100%;
    max-width: 15px!important;
  }
  .menu-email {
    font-size: 10px!important;
    letter-spacing: 1px!important;
    line-height: 1px!important;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
  }
  #prefooter-phone {
    margin-left: 23%!important;
  }
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: unset !important;
    max-width: 100%;
  }
  .carousel-inner>.item>img {
    height: 280px;
    object-fit: cover;
  }
  .carousel-caption {
    top: 20px;
  }
  .flexslider .slides img {
    object-fit: contain !important;
  }
  .carousel-indicators {
    display: none;
  }
  #summer-offer-text {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    white-space: normal;
  }
  #small-text {
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: normal;
  }
  #image-text-prize {
    font-size: 22px;
    text-align: center;
    line-height: normal;
  }
  .carousel-inner #add-to-cart {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Rating Star Widgets Style */

.rating-stars ul {
  list-style-type: none;
  padding-bottom: 9px;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-size: 7px;
}

.rating-stars ul>li.star {
  display: inline-block;
}

/* Idle State of the stars */

.rating-stars ul>li.star>i.fa {
  font-size: 2.5em;
  /* Change the size of the stars */
  color: #ccc;
  /* Color on idle state */
}

/* Hover state of the stars */

.rating-stars ul>li.star.hover>i.fa {
  color: orange;
}

/* Selected state of the stars */

.rating-stars ul>li.star.selected>i.fa {
  color: orange;
}

.phone-num {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 37px;
  color: #f7d5db;
  font-weight: 400;
  font-family: "Montserrat";
}

.menu-email {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

@media screen and (min-width: 800px) {}

@media only screen and (min-width: 812px) and (max-width: 1366px) {
  #new-taste-text1 {
    font-size: 20px;
  }
  .carousel-caption {
    bottom: 50px;
    right: 15%;
  }
}

@media screen and (min-width: 1900px) {
  .slider-sec #content-top-carousel-caption {
    top: 130px;
  }
  .alignment-slider.slider-sec #content-top-carousel-caption {
    top: unset;
  }
  #add-to-cart-h-mid {
    margin: inherit;
    margin-left: 15.8%!important;
    background-color: #BC040B;
    float: left;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    font-size: 14px!important;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Roboto";
    padding: 3px 21px 0px!important;
    margin-top: 5%;
  }
  #add-to-cart {
    background-color: #bc040b;
    float: left;
    /* box-shadow: 0 0 1px #ccc; */
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Montserrat";
    padding: 0px 19px 0px;
    margin-top: 6px;
  }
  .cata-sub-nav-index .arrow1, .cata-sub-nav-index .arrow2 {
    display: none;
  }
  #image-text-prize {
    text-align: left;
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
  }
  #new-taste-text2 {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
  }
  #new-taste-text3 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
  }
  #content-top-carousel-caption.box-opacity {
    bottom: 20px;
    /* left: 11%; */
    /* z-index: 1; */
    padding-top: 50px;
    /* padding-bottom: 82px; */
    color: #fff;
    /* text-align: left; */
    background: rgba(0, 0, 0, 0.5);
    width: 78%;
    height: 81%;
    padding-left: 3%;
    padding-top: 8% !important;
  }
  #new-taste-text1 {
    font-size: 32px;
  }
  /* Home slider */
  .alignment-slider {
    /* margin-left: 18.75%; */
  }
  /* Home slider ends */
  #pre-header-item {
    display: none;
  }
  .phone-num {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
  }
  #content-bottom-left img {
    margin-top: -29.5%;
  }
  #google-play {
    margin-top: -31px!important;
  }
  #app-store {
    margin-top: -32px!important;
    margin-left: -88px!important;
  }
  #content-bottom-left-items h2 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #fefefe;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: -43%!important;
  }
  #content-bottom-left-items h3 {
    width: 338px;
    /* height: 111px; */
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    margin-left: -17.7%!important;
    /* justify-self: left; */
    text-align: initial;
  }
  #content-bottom-right-items h2 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 39px;
    color: #fefefe;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: -613px!important;
  }
  #small-text {
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    white-space: nowrap;
    text-align: left;
    /* margin-left: -25.5%; */
  }
  .cata-sub-nav li {
    display: inline-table;
    margin: 0 21px!important;
    font-size: 16px;
  }
  .cata-sub-nav {
    background: rgb(255, 255, 255);
    padding: 41px 3px 15px 0px;
    margin: 0 37px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    margin-left: -30%!important;
  }
  .nav-next {
    width: 35px!important;
    height: 35px!important;
    position: absolute;
    right: 23px;
    margin-top: -38px!important;
  }
  .nav-prev {
    width: 35px!important;
    height: 35px!important;
    position: absolute;
    left: 7px;
    margin-top: -16px;
    margin-left: 1%!important;
  }
  .login-fx-box {
    height: 522px!important;
    margin-top: 117px!important;
  }
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* #bc040b w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin-top: 10%;
  margin-left: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 75%;
}

/* The Close Button */

.close {
  color: #028F38;
  float: right;
  font-size: 34px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #028F38;
  text-decoration: none;
  cursor: pointer;
}

/* for Theme  */

#s-cart-add-to-cart {
  background-color: #028F38!important;
}

#proceed-btn #add-to-cart {
  background-color: #028F38!important;
}

.tab button.active {
  background-color: white;
  color: #028F38!important;
}

.tab button:hover {
  background-color: white;
  color: #028F38!important;
}

.form-row #add-to-cart-h-mid {
  background-color: #028F38;
}

input:focus {
  outline: none;
}

.tablinks:focus {
  outline: none;
}

button:focus {
  outline: none;
}

#myTabContent-home {
  margin-bottom: -174px;
}

#myTabContent-home .fa-heart-o {
  color: #028F38;
  cursor: pointer;
  /* margin-right: -58%; */
  margin-left: 2%;
}

#myTabContent-home .fa-heart {
  cursor: pointer;
  /* margin-right: -58%; */
  margin-left: 2%;
}

#myTabContent-home .number-box {
  width: 84px;
}

.tab-content>.tab-pane:not(.active) {
  height: 0 !important;
  overflow: hidden;
  padding: 0;
  display: block;
}

#myTabContent-home .flex-nav-next {
  margin-top: 15%!important;
}

/* ipad-------------- */

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (max-device-height: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .page-header {
    height: 50px!important;
  }
  #user {
    width: 5%!important;
    height: auto;
  }
  .header-row {
    display: none!important;
  }
  .topnavb {
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 25px;
    margin-left: 28px;
  }
  .topnavb a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnavb a:hover {
    /*background-color: #ddd;*/
    color: #bc040b!important;
  }
  .topnavb a.active {
    /*background-color: #4CAF50;*/
    color: white;
  }
  .topnavb .icon {
    display: none;
  }
  .topnavb a:not(:first-child) {
    display: none;
  }
  .topnavb a.icon {
    /* float: left; */
    display: block;
    left: 0;
    top: 0;
    color: black!important;
    font-size: 41px;
    margin-top: 7px;
  }
  .topnavb.responsive {
    position: relative;
  }
  .topnavb.responsive .icon {
    position: absolute;
    left: 29px;
    top: 0;
  }
  .topnavb.responsive a {
    float: none;
    display: block;
    text-align: left;
    float: none;
    display: block;
    text-align: left;
    color: black;
    font-family: 'Montserrat';
    font-weight: 700;
  }
  .tab-only {
    display: block!important;
    padding-top: 30px;
  }
  #logo {
    position: absolute;
    margin-left: 80px!important;
  }
  .tab-only .btn-shopping {
    display: inline-block;
    /* position: unset; */
    float: right;
    margin-top: -54px;
    margin-right: 74px;
    line-height: inherit;
    height: 35px;
  }
  .tab-only #reservation {
    display: inline-block;
    /* position: unset; */
    float: right;
    margin-top: -54px;
    margin-right: 194px;
    height: 36px;
  }
  .tab-only li, .tab-only li {
    list-style-type: none!important;
  }
  /* #myTopnav a { */
  /* display: inline-table!important;
    margin-top: 1%;
  } */
  /* .topnav {
    overflow: hidden;
    background-color: #bc040c;
    float: left!important;
    margin-left: 266px;
    margin-right: 0px!important;
  } */
  /* #myTopnav a:nth-child(4) {
    display: none!important;
  } */
  /* .topnavT {
    display: none;
  } */
  #myCarousel {
    padding-top: 2%!important;
  }
  .topnavb a:nth-child(2) {
    margin-top: 70px;
  }
  .login-fx-box .banner-text h5 {
    margin-left: -427px!important;
  }
  .login-fx-box .banner-text {
    margin-left: 73px!important;
    margin-top: -50px;
  }
}

/* ipad pro---------------------------------------- */

@media only screen and (min-device-width: 1024px)
/*and (max-device-width: 1366px) */

and (max-device-height:1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* .topnav {
    float: left!important;
    margin-left: 308px!important;
    margin-right: 0px!important;
  } */
  .page-header {
    height: 47px!important;
  }
  #content-bottom-left-items h3 {
    width: 242px!important;
    margin-left: 0%!important;
  }
  #content-bottom-right-items h2 {
    margin-left: -197px!important;
  }
  #prefooter-phone {
    margin-top: 37px!important;
  }
  .tab-only {
    display: block!important;
    padding-top: 30px;
  }
  #user {
    width: 5%!important;
    height: auto;
  }
  .header-row {
    display: none!important;
  }
  .topnavb {
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 25px;
    margin-left: 28px;
  }
  .topnavb a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnavb a:hover {
    /*background-color: #ddd;*/
    /*color: black;*/
  }
  .topnavb a.active {
    /*background-color: #4CAF50;*/
    color: white;
  }
  .topnavb .icon {
    display: none;
  }
  .topnavb a:not(:first-child) {
    display: none;
  }
  .topnavb a.icon {
    /* float: left; */
    display: block;
    left: 0;
    top: 0;
    color: black;
    font-size: 41px;
    margin-top: 7px;
  }
  .topnavb.responsive {
    position: relative;
  }
  .topnavb.responsive .icon {
    position: absolute;
    left: 29px;
    top: 0;
  }
  .topnavb.responsive a {
    float: none;
    display: block;
    text-align: left;
    float: none;
    display: block;
    text-align: left;
    color: black;
    font-family: 'Montserrat';
    font-weight: 700;
  }
  .tab-only {
    display: block!important;
    padding-top: 30px;
  }
  #logo {
    position: absolute;
    margin-left: 80px!important;
  }
  .tab-only .btn-shopping {
    display: inline-block;
    /* position: unset; */
    float: right;
    margin-top: -54px;
    margin-right: 74px;
    line-height: inherit;
    height: 35px;
  }
  .tab-only #reservation {
    display: inline-block;
    /* position: unset; */
    float: right;
    margin-top: -54px;
    margin-right: 194px;
    height: 36px;
  }
  .tab-only li, .tab-only li {
    list-style-type: none!important;
  }
  /* #myTopnav a {
    display: inline-table!important;
    margin-top: 1%;
  } */
  /* .topnav {
    overflow: hidden;
    background-color: #bc040c;
    float: left!important;
    margin-left: 259px;
  } */
  /* #myTopnav a:nth-child(4) {
    display: none!important;
  } */
  /* .topnavT {
    display: none;
  } */
  #myCarousel {
    padding-top: 2%!important;
  }
  /* .topnavb a:nth-child(2) {
    margin-top: 70px;
  } */
  .spectrum-a .add-remove {
    width: 65%;
    margin-left: 42%!important;
  }
  .card-content #add-to-cart-h-mid {
    margin: inherit;
    margin-left: 42.3%!important;
    margin-top: 30px;
  }
  #myTabContent-home .fa-heart-o {
    color: #bc040b;
    cursor: pointer;
    /* margin-right: -58%; */
    margin-left: -33%;
    margin-top: 39px;
  }
  .banner-section {
    height: 826px;
  }
  #reservation_div {
    height: 852px;
  }
  .tab-only .log-out-reservation {
    display: none!important;
  }
}

#signupModal .modal-header {
  padding: 0px!important;
  border-bottom: 1px solid #e5e5e5;
}

/*13-11-2020 Bugs-Reportes by Prashanthi------------*/

/*for medium*/

.food-details {
  color: #444444 !important;
  line-height: 19px;
  height: 38px;
  overflow: hidden;
  margin-bottom: 5px;
  font-size: 12px!important;
  text-align: center;
  font-family: "Montserrat"!important;
}

.banner-text h5 {
  margin-left: 12px;
}

.banner-text .signin-form {
  margin-left: 13px;
}

.banner-text h5, .banner-text p {
  color: #373737;
  font-weight: 400;
  font-family: "Montserrat";
}

.footer-link {
  font-size: 20px;
  color: #555555;
  width: fit-content;
}

.get-in-touch ul li, p {
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 18px;
  color: #373737;
  font-weight: 400;
  font-family: "Montserrat";
}

.quick-links li a {
  font-size: 11px;
}

#footr-text p {
  width: 197px;
  height: 211px;
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #373737;
  font-weight: 400;
  font-family: "Montserrat";
}

.footer-txt-left h5 {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #555555;
  font-weight: 700;
  font-family: "Montserrat";
}

#myTabContent-home .flex-prev {
  margin-top: -203px;
}

#myTabContent-home .flex-next {
  margin-top: -203px!important;
}

.flex-direction-nav a:before {
  font-family: monospace!important;
  font-size: 49px!important;
  color: #000 !important;
}

/*for large----------------------------------*/

@media(min-width: 1550px) {
  .slider-sec {
    width: 1550px;
  }
  #add-to-cart-h-mid, .add-remove {
    margin-left: 28%;
  }
  #footer-logo {
    margin-top: 16px!important;
  }
  /* #content-bottom-right-items h2 {
    margin-left: -592px!important;
  } */
  /* #content-bottom-left-items h2 {
    margin-left: -46.5%!important;
  } */
  #content-bottom-left-items h3 {
    margin-left: -16.5%!important;
  }
  #prefooter-phone {
    height: 314px!important;
    margin-left: 27px!important;
    margin-top: -20%!important;
  }
  .footer-link {
    font-size: 25px;
    color: #555555;
    width: unset;
  }
  .get-in-touch ul li, p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #373737;
    font-weight: 400;
    font-family: "Montserrat";
  }
  .quick-links li a {
    font-size: 11px;
  }
  #footr-text p {
    width: 274px;
    height: 211px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #373737;
    font-weight: 400;
    font-family: "Montserrat";
  }
  .flex-direction-nav a:before {
    font-family: monospace!important;
    font-size: 59px!important;
  }
  .footer-txt-left h5 {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #555555;
    font-weight: 700;
    font-family: "Montserrat";
  }
}

@media only screen and (max-width: 480px) {
  .top-selling-section .slider-sec img {
    height: 220px;
  }
  .top-selling-section .slider-sec .carousel-caption {
    top: 28px;
  }
  #content-top-carousel-caption.box-opacity {
    height: 175px;
    width: 76%;
  }
  .flexslider .slides img {
    object-fit: cover !important;
    margin-bottom: 20px;
  }
  #content-top-prize {
    font-size: 18px;
  }
  div.card-content {
    padding-left: 0;
    padding-right: 0;
  }
  .add-remove {
    margin-left: -6% !important;
  }
  .content-mid {
    padding-bottom: 90px;
  }
  .fav-btn {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  #add-to-cart-h-mid {
    margin-top: -25% !important;
    margin-left: 62% !important;
  }
  #content-top-text1 {
    font-size: 18px;
    line-height: 6px;
  }
  #content-top-prize {
    font-size: 18px;
    line-height: normal;
  }
  #add-to-cart {
    font-size: 10px;
    line-height: 32px;
  }
  .content-mid {
    padding-bottom: 126px;
  }
}