.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-image {
    margin: -45px auto 0;
    display: table;
    width: auto;
    padding: 9px 35px;	    
    text-align: center;
    color: #fff;
   
}
.testimonial-name{
font-size:20px;
margin-top:-70px;
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
        margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;	
    
}

#customers-testimonials .item .testimonial-image {
       visibility: hidden;
    
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
#customers-testimonials .owl-item.active.center .item .testimonial-image {
    visibility: visible;
}

#customers-testimonials .owl-item.active.center .item .testimonial-name{
margin-top:1px;
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
/* 
 .fa-arrow-left{


 }  */
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 10%;
    margin-left: 1%;
    display: block !important;
    border:0px solid black;
    font-size: 20px;
  }
  
  .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 10%;
    margin-left:96%;
    display: block !important;
    border:0px solid black;
    font-size: 20px;
  }

 #what-text{
  
    width: 982px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 54px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: left;
  }